/* stylelint-disable no-descending-specificity */
.rainbow-lookup_container {
  position: relative;
  display: flex;
  flex-direction: column;
  outline: none; }

.rainbow-lookup_input-label {
  color: #576574;
  font-size: 0.875rem;
  line-height: 1.5;
  padding-bottom: 0.125rem;
  align-self: center; }
  .rainbow-lookup_input-label:empty {
    margin: 0; }

.rainbow-lookup_input-label-read-only {
  align-self: flex-start; }

.rainbow-lookup_input-container {
  position: relative; }
  .rainbow-lookup_input-container .rainbow-lookup_input-icon {
    height: 100%;
    width: 22px;
    position: absolute;
    top: 0;
    right: 0.8rem;
    line-height: 1;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center; }
    .rainbow-lookup_input-container .rainbow-lookup_input-icon svg {
      width: 16px;
      height: 16px;
      font-size: 16px; }
  .rainbow-lookup_input-container .rainbow-lookup_input-icon:not(button) {
    pointer-events: none; }

.rainbow-lookup_options-menu {
  position: absolute;
  width: 100%;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 2px 4px 0 #e3e5ed;
  border: solid 1px #e3e5ed;
  overflow: hidden;
  margin-top: 0.2rem;
  z-index: 2000;
  transition: all 0.1s linear; }
  .rainbow-lookup_options-menu .rainbow-lookup_input-close-button-container,
  .rainbow-lookup_options-menu .rainbow-lookup_input-icon {
    height: 100%;
    transition: all 0.1s linear; }

.rainbow-lookup_input-error {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  align-self: center;
  color: #fe4849; }

.rainbow-lookup_container--error .rainbow-lookup_input-icon {
  fill: #fe4849;
  color: #fe4849; }

.rainbow-lookup_input-label--hide {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  text-transform: none !important;
  white-space: nowrap !important; }

.rainbow-lookup_input-close-button-container {
  height: 100%;
  right: 0.5rem;
  position: absolute;
  line-height: 1;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center; }

.rainbow-lookup_spinner {
  left: unset;
  right: 2.5rem;
  top: 1.4rem; }

.rainbow-lookup_selected-value {
  position: relative; }
  .rainbow-lookup_selected-value .rainbow-lookup_selected-value-icon {
    width: 2.5rem;
    height: 100%;
    position: absolute;
    top: 0;
    line-height: 2.5rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center; }
  .rainbow-lookup_selected-value .rainbow-lookup_selected-value-icon:not(button) {
    pointer-events: none; }
  .rainbow-lookup_selected-value .rainbow-lookup_selected-value-clear-button-container {
    height: 100%;
    right: 0.5rem;
    position: absolute;
    line-height: 1;
    z-index: 2;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: #576574; }

.rainbow-lookup_selected-value--readonly {
  display: flex; }
  .rainbow-lookup_selected-value--readonly .rainbow-lookup_selected-value-icon {
    width: 24px; }
