.rainbow-carousel {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden; }

.rainbow-carousel_images {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.875rem;
  border: 1px solid #dddbda;
  box-shadow: 0 1px 2px 0 #e3e5ed; }
  .rainbow-carousel_images:active, .rainbow-carousel_images:focus {
    color: inherit;
    text-decoration: inherit;
    box-shadow: 0 0 8px #01b6f5;
    outline: none; }

.rainbow-carousel_indicators {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 1.5rem 0 0.5rem 0; }

.rainbow-carousel_indicators-container {
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 0.25rem; }

.rainbow-carousel_indicator {
  width: 0.5rem;
  height: 0.5rem;
  background: #e3e5ed;
  border-radius: 50%;
  border: 1px solid #e3e5ed; }
  .rainbow-carousel_indicator:hover {
    background-color: #a4a7b5;
    border: 1px solid #a4a7b5; }
  .rainbow-carousel_indicator:focus {
    outline: 0;
    box-shadow: 0 0 2px #01b6f5;
    border: 1px solid #009acf; }

.rainbow-carousel_indicator.rainbow-carousel_indicator--active,
.rainbow-carousel_indicator.rainbow-carousel_indicator--active:hover {
  background: #01b6f5;
  border: 1px solid #01b6f5; }

.rainbow-carousel_autoplay {
  position: absolute;
  left: 1%;
  bottom: 0.25rem; }
