@import "../../styles/margins";
@import "../../styles/colors";
@import "../../styles/shadows";
@import "../../styles/border-radius";
@import "../../styles/font-sizes";

@mixin variants-common-styles($background-color, $border-color, $color) {
    background-color: $background-color;
    border: 1px solid $border-color;
    color: $color;
}

.rainbow-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rainbow-pagination_button-content {
    font-size: $font-size-text-medium;
    font-weight: bold;
    text-decoration: none;
    line-height: 2rem;
    margin-left: -1px;
    width: 2rem;
    height: 2rem;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    @extend .rainbow-pagination;

    @include variants-common-styles(white, $color-gray-2, $color-gray-4);

    &:hover {
        color: $color-gray-4;
        text-decoration: none;
        background-color: $color-gray-1;
        z-index: 100;
    }

    &:focus, &:active, &:visited {
        font-size: $font-size-text-large;
        text-decoration: none;
        color: $color-dark-1;
        background-color: $color-gray-2;
        z-index: 100;
        outline: none;
        transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
}

.rainbow-pagination_button:nth-child(2) > .rainbow-pagination_button-content {
    margin-left: $margin-x-small;
    border-radius: 100px 0 0 100px;
}

.rainbow-pagination_button:nth-last-child(2) > .rainbow-pagination_button-content {
    margin-right: $margin-x-small;
    border-radius: 0 100px 100px 0;
}

.rainbow-pagination_button-content--active {
    font-size: $font-size-text-large;
    text-decoration: none;
    color: $color-dark-1;
    background-color: $color-gray-2;
    z-index: 100;
}

.rainbow-pagination_navigation-button-content {
    height: 2rem;
    width: 2rem;
    border-radius: $border-radius-2;
    font-weight: bold;
    line-height: 2rem;

    @extend .rainbow-pagination;

    @include variants-common-styles(white, $color-gray-2, $color-gray-4);

    &:hover {
        background-color: $color-gray-1;
    }

    &:focus,
    &:active {
        box-shadow: $shadow-outline;
        background-color: $color-gray-1;
        outline: none;
    }
}

.rainbow-pagination_navigation-button-content--disabled {
    background-color: transparent;
    pointer-events: none;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &:hover {
        background-color: transparent;
        pointer-events: none;
    }

    &:focus,
    &:active {
        background-color: transparent;
        pointer-events: none;
    }
}

.rainbow-pagination_navigation-button-content--disabled > svg {
    fill: $color-gray-2;
}
