@import "../../styles/margins";
@import "../../styles/colors";
@import "../../styles/shadows";
@import "../../styles/border-radius";
@import "../../styles/font-sizes";

@mixin variants-common-styles($background-color, $border-color, $color) {
    background-color: $background-color;
    border: 1px solid $border-color;
    color: $color;
}

.rainbow-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rainbow-pagination_button {
    height: 2rem;
    width: 2rem;
    border: 1px $color-gray-2 solid;
    margin-left: -1px;
    background-color: white;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    @extend .rainbow-pagination;

    &:hover {
        background-color: $color-gray-1;
        transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    &:focus,
    &:active {
        box-shadow: $shadow-outline;
        z-index: 100;
    }
}

.rainbow-pagination_button:nth-child(2) {
    margin-left: $margin-x-small;
    border-radius: 100px 0 0 100px;
}

.rainbow-pagination_button:nth-last-child(2) {
    margin-right: $margin-x-small;
    border-radius: 0 100px 100px 0;
}

.rainbow-pagination_button-content {
    color: $color-gray-4;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    text-decoration: none;
    font-weight: bold;
    font-size: $font-size-text-medium;

    @extend .rainbow-pagination;

    &:hover, &:focus {
        text-decoration: none;
        color: $color-gray-4;
    }
}

.rainbow-pagination_button--active {
    background-color: $color-gray-2;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &:hover {
        background-color: $color-gray-2;
        transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    .rainbow-pagination_button-content {
        font-size: $font-size-text-large;
        color: $color-dark-1;
        transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

        &:hover {
            color: $color-dark-1;
        }
    }
}

.rainbow-pagination_navigation-button {
    border-radius: $border-radius-2;
    color: $color-gray-4;
    font-weight: bold;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;

    @extend .rainbow-pagination;

    @include variants-common-styles(white, $color-gray-2, $color-gray-4);

    &:hover {
        background-color: $color-gray-1;
    }

    &:focus,
    &:active {
        box-shadow: $shadow-outline;
    }
}

.rainbow-pagination_navigation-button-content {
    position: relative;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rainbow-pagination_navigation-button--disabled {
    background-color: transparent;
    pointer-events: none;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    .rainbow-pagination_navigation-button-content > svg {
        fill: $color-gray-2;
    }
}
