@import './../../styles/colors.scss';
@import './../../styles/paddings.scss';
@import './../../styles/margins.scss';
@import './../../styles/font-sizes.scss';
@import './../../styles/border-radius.scss';
@import './../../styles/shadows.scss';

@mixin icon-variant($background-color) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: $border-radius-2;
    margin-right: $margin-small;
    background-color: $background-color;
}

.rainbow-notification {
    position: relative;
    border-radius: $border-radius-1;
    box-shadow: $shadow-4;
    padding: $padding-small;
    background-color: white;
    width: 20rem;
    border: solid 1px $color-gray-1;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-property: margin, max-height, opacity, top;
    min-height: 2.625rem;

    &:hover {
        background-color: $color-gray-1;
    }

    .rainbow-notification_title {
        font-size: $font-size-heading-small;
        color: $color-dark-1;
        padding-right: $padding-medium;
        line-height: 1;
    }

    .rainbow-notification_description {
        font-size: $font-size-text-medium;
        font-weight: 300;
        color: $color-gray-4;
        padding-top: $padding-xx-small;
    }

    &:hover .rainbow-notification_title {
        color: $color-brand;
    }

    &:hover .rainbow-notification_description {
        color: $color-brand;
    }
}

.rainbow-notification_anchor {
    text-decoration: none !important;
    display: flex;
}

.rainbow-notification_icon-container {
    margin-right: $margin-small;
    flex-shrink: 0;
}

.rainbow-notification_icon--info {
    @include icon-variant($color-brand);
}

.rainbow-notification_icon--success {
    @include icon-variant($color-success);
}

.rainbow-notification_icon--error {
    @include icon-variant($color-error);
}

.rainbow-notification_icon--warning {
    @include icon-variant($color-yellow-1);
}

.rainbow-notification_close {
    position: absolute;
    top: 0.3rem;
    right: 0.5rem;
}

.rainbow-notifications-container {
    box-sizing: border-box;
    position: fixed;
    top: $padding-xx-small;
    right: $padding-xx-small;
    z-index: 999999 !important;
    padding: $padding-xx-small $padding-small;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.rainbow-notification-item-container {
    position: relative;
    padding-bottom: 0.5rem;
    left: 105%;

    &.show {
        animation: easeIn 0.4s;
    }

    &.visible {
        left: 0%;
    }

    &.hide {
        animation: easeOut 0.4s;
    }
}

@keyframes easeIn {
    from {
        left: 105%;
    }

    to {
        left: 0;
    }
}

@keyframes easeOut {
    from {
        left: 0;
    }

    to {
        left: 105%;
    }
}
