/* stylelint-disable no-descending-specificity */
.rainbow-table_body-row {
  box-shadow: 0 1px 0 0 #e3e5ed; }
  .rainbow-table_body-row:hover {
    background-color: #f4f6f9; }

.rainbow-table_cell-container:focus {
  outline: none; }
  .rainbow-table_cell-container:focus .rainbow-table_cell-content {
    border-color: #01b6f5; }

.rainbow-table_cell-content {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: #576574;
  height: 40px;
  padding: 0 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid transparent; }

th:first-of-type .rainbow-table_cell-content {
  padding-left: 18px; }
