/* stylelint-disable no-descending-specificity */
@import "../../../styles/colors";
@import "../../../styles/font-sizes";
@import "../../../styles/paddings";

.rainbow-table_body-row {
    box-shadow: 0 1px 0 0 #e3e5ed;
}

.rainbow-table_cell-container:focus {
    outline: none;

    .rainbow-table_cell-content {
        border-color: $color-brand;
    }
}

.rainbow-table_cell-content {
    display: flex;
    align-items: center;
    font-size: $font-size-text-medium;
    color: $color-gray-4;
    height: 40px;
    padding-left: $padding-medium;
    padding-right: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid transparent;
}

.rainbow-table_cell-content--first {
    padding-left: 18px;
}

.rainbow-table_cell-content--row-number {
    color: $color-gray-3;
}
