/* stylelint-disable no-descending-specificity */
@import "../../../styles/colors";
@import "../../../styles/font-sizes";
@import "../../../styles/paddings";

.rainbow-table_body-row {
    box-shadow: 0 1px 0 0 #e3e5ed;

    &:hover {
        background-color: $color-gray-1;
    }
}

.rainbow-table_cell-container:focus {
    outline: none;

    .rainbow-table_cell-content {
        border-color: $color-brand;
    }
}

.rainbow-table_cell-content {
    display: flex;
    align-items: center;
    font-size: $font-size-text-medium;
    color: $color-gray-4;
    height: 40px;
    padding: 0 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid transparent;
}

th:first-of-type .rainbow-table_cell-content {
    padding-left: 18px;
}
