/* stylelint-disable no-descending-specificity */
.rainbow-table_body-row {
  box-shadow: 0 1px 0 0 #e3e5ed;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; }
  .rainbow-table_body-row:hover {
    background-color: rgba(244, 246, 249, 0.4);
    box-shadow: 0 1px 1px 0 #e3e5ed, 0 0 1px 0 #e3e5ed; }

.rainbow-table_body-row-selected {
  background-color: rgba(244, 246, 249, 0.4); }

.rainbow-table_cell-container:first-child > .rainbow-table_cell-content {
  padding-left: 18px; }

.rainbow-table_cell-container:focus {
  outline: none; }
  .rainbow-table_cell-container:focus .rainbow-table_cell-content {
    border-color: #01b6f5; }

.rainbow-table_cell-content {
  border: 1px solid transparent;
  color: #576574;
  font-size: 0.875rem;
  height: 42px;
  line-height: 40px;
  padding: 0 0.5rem;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.rainbow-table_cell-checkbox-container {
  align-items: center;
  display: flex;
  padding: 0 15px;
  border: 1px solid transparent; }

.rainbow-table_body--loading {
  height: 44px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px 0 8px; }

td:first-of-type .rainbow-table_body--loading, td:last-of-type .rainbow-table_body--loading {
  padding: 0 12px 0 16px; }

td:last-of-type .rainbow-table_body--loading {
  padding: 0 12px; }

.rainbow-table_body-element--loading {
  height: 10px;
  object-fit: contain;
  border-radius: 24px;
  z-index: 1;
  background: #fbfbfd linear-gradient(90deg, rgba(227, 229, 237, 0.01) 0%, rgba(227, 229, 237, 0.65) 50%, rgba(227, 229, 237, 0.01) 100%);
  background-size: 400% 400%;
  animation: gradient 2.5s ease-in-out infinite; }

@keyframes gradient {
  0% {
    background-position: 14% 0; }
  50% {
    background-position: 87% 100%; }
  100% {
    background-position: 14% 0; } }

.rainbow-table_body--empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 32px auto; }

.rainbow-table_body--empty-icon {
  margin-bottom: 1rem; }

.rainbow-table_body--empty-title {
  font-size: 1.25rem;
  font-weight: 900;
  text-align: center;
  color: #061c3f; }

.rainbow-table_body--empty-description {
  font-size: 0.875rem;
  text-align: center;
  color: #576574;
  margin-top: 0.5rem; }

.rainbow-table_actions-cell-container:focus {
  outline: none;
  border: 1px solid #01b6f5; }

.rainbow-table_actions-cell {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto; }
