.react-rainbow-text-color-violet {
    color: #4cb6c4;
    font-family: Consolas, "Liberation Mono", Menlo, monospace;
}

.react-rainbow-text-color-gray {
    color: #788b95;
    font-family: Consolas, "Liberation Mono", Menlo, monospace;
}

.react-rainbow-text-color-green {
    color: #97c475;
    font-family: Consolas, "Liberation Mono", Menlo, monospace;
}
