.rainbow-button-icon {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 0;
  background: transparent;
  background-clip: border-box;
  border: 0;
  border-radius: 12rem;
  line-height: 1.875rem;
  text-decoration: none;
  color: #576574;
  cursor: pointer;
  -webkit-appearance: none;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle; }
  .rainbow-button-icon:hover, .rainbow-button-icon:focus, .rainbow-button-icon:active {
    color: #009acf; }
  .rainbow-button-icon:active {
    transform: scale(0.7);
    transition: all 0.3s ease; }
  .rainbow-button-icon:focus {
    outline: 0;
    box-shadow: 0 0 2px #01b6f5; }
  .rainbow-button-icon[disabled] {
    color: #e3e5ed; }
  .rainbow-button-icon[disabled] * {
    cursor: default;
    pointer-events: none; }

.rainbow-button-icon--brand {
  background-color: #01b6f5;
  border: 1px solid #01b6f5;
  color: white; }
  .rainbow-button-icon--brand:link, .rainbow-button-icon--brand:visited, .rainbow-button-icon--brand:active {
    color: white; }
  .rainbow-button-icon--brand:hover, .rainbow-button-icon--brand:focus, .rainbow-button-icon--brand:active {
    background-color: #009acf;
    border: 1px solid #009acf;
    color: white; }
  .rainbow-button-icon--brand[disabled] {
    background-color: #f4f6f9;
    border: 1px solid #f4f6f9;
    color: #e3e5ed; }

.rainbow-button-icon--success {
  background-color: #1de9b6;
  border: 1px solid #1de9b6;
  color: white; }
  .rainbow-button-icon--success:link, .rainbow-button-icon--success:visited, .rainbow-button-icon--success:active {
    color: white; }
  .rainbow-button-icon--success:hover, .rainbow-button-icon--success:focus, .rainbow-button-icon--success:active {
    background-color: #1ad1a3;
    border: 1px solid #1ad1a3;
    color: white; }
  .rainbow-button-icon--success[disabled] {
    background-color: #f4f6f9;
    border: 1px solid #f4f6f9;
    color: #e3e5ed; }

.rainbow-button-icon--border {
  background-color: transparent;
  border: 1px solid #e3e5ed;
  color: #576574;
  transition: border 0.15s linear; }
  .rainbow-button-icon--border:hover, .rainbow-button-icon--border:focus, .rainbow-button-icon--border:active {
    background-color: transparent;
    border: 1px solid #009acf;
    color: #009acf; }
  .rainbow-button-icon--border[disabled] {
    background-color: transparent;
    border: 1px solid #e3e5ed;
    color: #e3e5ed; }

.rainbow-button-icon--border-filled {
  background-color: white;
  border: 1px solid #e3e5ed;
  color: #576574;
  transition: border 0.15s linear; }
  .rainbow-button-icon--border-filled:hover, .rainbow-button-icon--border-filled:focus, .rainbow-button-icon--border-filled:active {
    background-color: #f4f6f9; }
  .rainbow-button-icon--border-filled[disabled] {
    background-color: transparent; }

.rainbow-button-icon--border-inverse {
  background-color: transparent;
  border: 1px solid white;
  color: white; }
  .rainbow-button-icon--border-inverse:hover, .rainbow-button-icon--border-inverse:focus, .rainbow-button-icon--border-inverse:active {
    border-color: #a4a7b5;
    color: #a4a7b5; }
  .rainbow-button-icon--border-inverse:focus {
    outline: none;
    box-shadow: 0 0 3px #f4f6f9; }
  .rainbow-button-icon--border-inverse[disabled] {
    background-color: transparent;
    border-color: #576574;
    color: #576574; }

.rainbow-button-icon--inverse {
  background-color: transparent;
  border: 1px solid transparent;
  color: white; }
  .rainbow-button-icon--inverse:hover, .rainbow-button-icon--inverse:focus, .rainbow-button-icon--inverse:active {
    color: #a4a7b5; }
  .rainbow-button-icon--inverse:focus {
    outline: none;
    box-shadow: 0 0 3px #f4f6f9; }
  .rainbow-button-icon--inverse[disabled] {
    background-color: transparent;
    color: #576574; }

.rainbow-button-icon--shaded {
  box-shadow: 0 0 1px 0 #a4a7b5; }

.rainbow-button-icon--xx-small {
  width: 1rem;
  height: 1rem;
  line-height: 1; }
  .rainbow-button-icon--xx-small svg {
    width: 0.55rem !important;
    height: 0.55rem !important;
    font-size: 0.55rem !important; }

.rainbow-button-icon--x-small {
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25; }
  .rainbow-button-icon--x-small svg {
    width: 0.6rem !important;
    height: 0.6rem !important;
    font-size: 0.6rem !important; }

.rainbow-button-icon--small {
  width: 1.65rem;
  height: 1.65rem; }
  .rainbow-button-icon--small svg {
    width: 0.65rem !important;
    height: 0.65rem !important;
    font-size: 0.65rem !important; }

.rainbow-button-icon--medium {
  width: 2.5rem;
  height: 2.5rem; }
  .rainbow-button-icon--medium svg {
    width: 1rem !important;
    height: 1rem !important;
    font-size: 1rem !important; }

.rainbow-button-icon--large {
  width: 3rem;
  height: 3rem; }
  .rainbow-button-icon--large svg {
    width: 1.5rem !important;
    height: 1.5rem !important;
    font-size: 1.5rem !important; }

.rainbow-button-icon[disabled] svg {
  fill: #e3e5ed; }
