.rainbow-button-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 0;
  background: transparent;
  background-clip: border-box;
  border: 1px solid transparent;
  border-radius: 12rem;
  line-height: 1.875rem;
  text-decoration: none;
  color: #576574;
  -webkit-appearance: none;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .rainbow-button-icon:hover, .rainbow-button-icon:focus, .rainbow-button-icon:active {
    color: #009acf; }
  .rainbow-button-icon:focus {
    outline: 0;
    box-shadow: 0 0 3px #0070d2; }
  .rainbow-button-icon[disabled] {
    color: #e3e5ed; }
  .rainbow-button-icon[disabled] * {
    cursor: default;
    pointer-events: none; }

.rainbow-button-icon + .rainbow-button-icon {
  margin-left: 0.25rem; }

.rainbow-button-icon_brand {
  background-color: #01b6f5;
  border: 1px solid #01b6f5;
  color: white; }
  .rainbow-button-icon_brand:link, .rainbow-button-icon_brand:visited, .rainbow-button-icon_brand:active {
    color: white; }
  .rainbow-button-icon_brand:hover, .rainbow-button-icon_brand:focus, .rainbow-button-icon_brand:active {
    background-color: #009acf;
    border: 1px solid #009acf;
    color: white; }
  .rainbow-button-icon_brand[disabled] {
    background-color: #f4f6f9;
    border: 1px solid #f4f6f9;
    color: #e3e5ed; }

.rainbow-button-icon_success {
  background-color: #1de9b6;
  border: 1px solid #1de9b6;
  color: white; }
  .rainbow-button-icon_success:link, .rainbow-button-icon_success:visited, .rainbow-button-icon_success:active {
    color: white; }
  .rainbow-button-icon_success:hover, .rainbow-button-icon_success:focus, .rainbow-button-icon_success:active {
    background-color: #1ad1a3;
    border: 1px solid #1ad1a3;
    color: white; }
  .rainbow-button-icon_success[disabled] {
    background-color: #f4f6f9;
    border: 1px solid #f4f6f9;
    color: #e3e5ed; }

.rainbow-button-icon_border {
  background-color: transparent;
  border: 1px solid #e3e5ed;
  color: #576574;
  transition: border 0.15s linear; }
  .rainbow-button-icon_border:hover, .rainbow-button-icon_border:focus, .rainbow-button-icon_border:active {
    background-color: transparent;
    border: 1px solid #009acf;
    color: #009acf; }
  .rainbow-button-icon_border[disabled] {
    background-color: transparent;
    border: 1px solid #e3e5ed;
    color: #e3e5ed; }

.rainbow-button-icon_border-filled {
  background-color: white;
  border: 1px solid #e3e5ed;
  color: #576574;
  transition: border 0.15s linear; }
  .rainbow-button-icon_border-filled:hover, .rainbow-button-icon_border-filled:focus, .rainbow-button-icon_border-filled:active {
    background-color: #f4f6f9; }
  .rainbow-button-icon_border-filled[disabled] {
    background-color: transparent; }

.rainbow-button-icon_border-inverse {
  background-color: transparent;
  border: 1px solid white;
  color: white; }
  .rainbow-button-icon_border-inverse:hover, .rainbow-button-icon_border-inverse:focus, .rainbow-button-icon_border-inverse:active {
    border-color: #a4a7b5;
    color: #a4a7b5; }
  .rainbow-button-icon_border-inverse:focus {
    outline: none;
    box-shadow: 0 0 3px #f4f6f9; }
  .rainbow-button-icon_border-inverse[disabled] {
    background-color: transparent;
    border-color: #576574;
    color: #576574; }

.rainbow-button-icon_inverse {
  background-color: transparent;
  border: 1px solid transparent;
  color: white; }
  .rainbow-button-icon_inverse:hover, .rainbow-button-icon_inverse:focus, .rainbow-button-icon_inverse:active {
    color: #a4a7b5; }
  .rainbow-button-icon_inverse:focus {
    outline: none;
    box-shadow: 0 0 3px #f4f6f9; }
  .rainbow-button-icon_inverse[disabled] {
    background-color: transparent;
    color: #576574; }

.rainbow-button-icon_shaded {
  box-shadow: 0 0 3px #f4f6f9; }

.rainbow-button-icon_xx-small {
  width: 1rem;
  height: 1rem;
  line-height: 1; }

.rainbow-button-icon_xx-small > svg {
  font-size: 0.5rem !important;
  width: 0.5rem !important;
  height: 0.5rem !important; }

.rainbow-button-icon_x-small {
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1; }

.rainbow-button-icon_x-small > svg {
  font-size: 0.75rem !important;
  width: 0.75rem !important;
  height: 0.75rem !important; }

.rainbow-button-icon_small {
  width: 1.5rem;
  height: 1.5rem; }

.rainbow-button-icon_small > svg {
  font-size: 0.875rem !important;
  width: 0.875rem !important;
  height: 0.875rem !important; }

.rainbow-button-icon_medium {
  width: 2.25rem;
  height: 2.25rem; }

.rainbow-button-icon_medium > svg {
  font-size: 1rem !important;
  width: 1rem !important;
  height: 1rem !important; }

.rainbow-button-icon_large {
  width: 3rem;
  height: 3rem; }

.rainbow-button-icon_large > svg {
  font-size: 1.5rem !important;
  width: 1.5rem !important;
  height: 1.5rem !important; }
