@import "./../../styles/colors.scss";
@import "./../../styles/shadows.scss";
@import "./../../styles/border-radius.scss";

@mixin variants-common-styles($background-color, $border-color, $color) {
    background-color: $background-color;
    border: 1px solid $border-color;
    color: $color;
}

@mixin width-height ($size) {
    width: $size;
    height: $size;
}

.rainbow-button-icon {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 0;
    background: transparent;
    background-clip: border-box;
    border: 1px solid transparent;
    border-radius: $border-radius-2;
    line-height: 1.875rem;
    text-decoration: none;
    color: $color-gray-4;
    cursor: pointer;
    -webkit-appearance: none;
    white-space: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover,
    &:focus,
    &:active {
        color: $color-brand-active;
    }

    &:focus {
        outline: 0;
        box-shadow: $shadow-outline;
    }

    &[disabled] {
        color: $color-gray-2;
    }

    &[disabled] * {
        cursor: default;
        pointer-events: none;
    }
}

.rainbow-button-icon--brand {
    @include variants-common-styles($color-brand, $color-brand, white);

    &:link,
    &:visited,
    &:active {
        color: white;
    }

    &:hover,
    &:focus,
    &:active {
        @include variants-common-styles($color-brand-active, $color-brand-active, white);
    }

    &[disabled] {
        @include variants-common-styles($color-gray-1, $color-gray-1, $color-gray-2);
    }
}

.rainbow-button-icon--success {
    @include variants-common-styles($color-success, $color-success, white);

    &:link,
    &:visited,
    &:active {
        color: white;
    }

    &:hover,
    &:focus,
    &:active {
        @include variants-common-styles($color-success-active, $color-success-active, white);
    }

    &[disabled] {
        @include variants-common-styles($color-gray-1, $color-gray-1, $color-gray-2);
    }
}

.rainbow-button-icon--border {
    @include variants-common-styles(transparent, $color-gray-2, $color-gray-4);

    transition: border 0.15s linear;

    &:hover,
    &:focus,
    &:active {
        @include variants-common-styles(transparent, $color-brand-active, $color-brand-active);
    }

    &[disabled] {
        @include variants-common-styles(transparent, $color-gray-2, $color-gray-2);
    }
}

.rainbow-button-icon--border-filled {
    @include variants-common-styles(white, $color-gray-2, $color-gray-4);

    transition: border 0.15s linear;

    &:hover,
    &:focus,
    &:active {
        background-color: $color-gray-1;
    }

    &[disabled] {
        background-color: transparent;
    }
}

.rainbow-button-icon--border-inverse {
    @include variants-common-styles(transparent, white, white);

    &:hover,
    &:focus,
    &:active {
        border-color: $color-gray-3;
        color: $color-gray-3;
    }

    &:focus {
        outline: none;
        box-shadow: $shadow-5;
    }

    &[disabled] {
        background-color: transparent;
        border-color: $color-gray-4;
        color: $color-gray-4;
    }
}

.rainbow-button-icon--inverse {
    @include variants-common-styles(transparent, transparent, white);

    &:hover,
    &:focus,
    &:active {
        color: $color-gray-3;
    }

    &:focus {
        outline: none;
        box-shadow: $shadow-5;
    }

    &[disabled] {
        background-color: transparent;
        color: $color-gray-4;
    }
}

.rainbow-button-icon--shaded {
    box-shadow: $shadow-3;
}

.rainbow-button-icon--xx-small {
    @include width-height(1rem);

    line-height: 1;

    svg {
        @include width-height(0.55rem !important);

        font-size: 0.55rem !important;
    }
}

.rainbow-button-icon--x-small {
    @include width-height(1.25rem);

    line-height: 1.25;

    svg {
        @include width-height(0.6rem !important);

        font-size: 0.6rem !important;
    }
}

.rainbow-button-icon--small {
    @include width-height(1.65rem);

    svg {
        @include width-height(0.65rem !important);

        font-size: 0.65rem !important;
    }
}

.rainbow-button-icon--medium {
    @include width-height(2.475rem);

    svg {
        @include width-height(1rem !important);

        font-size: 1rem !important;
    }
}

.rainbow-button-icon--large {
    @include width-height(3rem);

    svg {
        @include width-height(1.5rem !important);

        font-size: 1.5rem !important;
    }
}
