.rainbow-menu-item_header {
  padding: 0.5rem 0.75rem;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.rainbow-menu-item_icon-container {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.rainbow-menu-item_header-label {
  font-size: 0.875rem;
  line-height: 1.25;
  color: #a4a7b5;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.0625rem; }

.rainbow-menu-item {
  line-height: 1.5; }

.rainbow-menu-item > a {
  position: relative;
  font-size: 0.875rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.75rem 0.75rem;
  color: #061c3f;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none; }
  .rainbow-menu-item > a:focus {
    outline: 0;
    background-color: #e3e5ed; }
  .rainbow-menu-item > a:active {
    background-color: #e3e5ed; }
  .rainbow-menu-item > a[aria-disabled="true"] {
    color: #e3e5ed;
    cursor: default; }
    .rainbow-menu-item > a[aria-disabled="true"]:hover, .rainbow-menu-item > a[aria-disabled="true"]:focus {
      background-color: transparent; }

.rainbow-menu-item_icon {
  width: 1rem;
  height: 1rem;
  line-height: 1.5;
  fill: white; }

.rainbow-menu-item_icon--left {
  margin-right: 0.75rem; }

.rainbow-menu-item_icon--right {
  margin-left: 0.75rem;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
