@import './../../styles/colors.scss';
@import './../../styles/font-sizes.scss';

.rainbow-menu-item_header {
    padding: 0.5rem 0.75rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rainbow-menu-item_icon-container {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rainbow-menu-item_header-label {
    font-size: $font-size-text-medium;
    line-height: 1.25;
    color: $color-gray-3;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
}

.rainbow-menu-item {
    line-height: 1.5;
}

.rainbow-menu-item > a {
    position: relative;
    font-size: $font-size-text-medium;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.75rem 0.75rem;
    color: $color-dark-1;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;

    &:focus {
        outline: 0;
        background-color: $color-gray-1;
    }

    &:active {
        background-color: $color-gray-1;
    }

    &[aria-disabled="true"] {
        color: $color-gray-2;
        cursor: default;

        &:hover,
        &:focus {
            background-color: transparent;
        }
    }
}

.rainbow-menu-item_icon {
    width: 1rem;
    height: 1rem;
    line-height: 1.5;
    fill: white;
}

.rainbow-menu-item_icon--left {
    margin-right: 0.75rem;
}

.rainbow-menu-item_icon--right {
    margin-left: 0.75rem;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
