.react-rainbow-experience-example-card_container {
    position: relative;
    margin: 0 16px 20px 16px;
}

.react-rainbow-experience-example-card-item_github-link {
    position: absolute;
    top: 16px;
    right: 16px;
}

.react-rainbow-experience-example-card-item_github-link:hover > svg {
    fill: #009ACF;
}

.react-rainbow-experience-example-card_link {
    margin: 0 16px 20px 16px;
}

.react-rainbow-experience-example-card_link:hover, .react-rainbow-experience-example-card_link:focus, .react-rainbow-experience-example-card_example-link:hover, .react-rainbow-experience-example-card_example-link:focus, {
    text-decoration: none;
}

.react-rainbow-experience-example-card-item, .react-rainbow-experience-example-card_container {
    width: 260px;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.react-rainbow-experience-example-card-item:hover {
    box-shadow: 0 4px 8px 0 #e3e5ed;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.react-rainbow-experience-example-card-item_img-container, .react-rainbow-experience-example-card-item_example-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.react-rainbow-experience-example-card-item_img-container > svg {
    height: 56px;
}

.react-rainbow-experience-example-card-item_example-img {
    height: 80px;
}

.react-rainbow-experience-example-card-item_img-container, .react-rainbow-experience-example-card-item_example-img-container  {
    margin-top: 0.75rem;
}

.react-rainbow-experience-example-card-item_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.react-rainbow-experience-example-card-item_example-header {
    font-size: 16px;
    margin: 0;
    color: #061c3f;
    text-align: justify;
    align-self: flex-start;
}

.react-rainbow-experience-example-card-item_description {
    font-size: 14px;
    line-height: 1.5;
    color: #576574;
    align-self: flex-start;
    text-align: justify;
}

@media (max-width: 400px) {

    .react-rainbow-experience-example-card-item {
        margin: 0 16px 16px 24px;
        width: 300px;
    }
}
