/* stylelint-disable no-descending-specificity */
.rainbow-input-container {
  position: relative;
  display: flex;
  flex-direction: column; }

.rainbow-input-label {
  color: #576574;
  font-size: 0.75rem;
  line-height: 1.5;
  margin-right: 0.75rem;
  margin-bottom: 0.125rem;
  align-self: center; }
  .rainbow-input-label:empty {
    margin: 0; }

.rainbow-input-label_read-only {
  align-self: flex-start; }

.rainbow-input-help {
  font-size: 0.75rem;
  margin-top: 0.5rem;
  align-self: center; }

.rainbow-input-required {
  color: #fe4849;
  margin: 0 0.125rem; }

.rainbow-input-has-icon {
  position: relative; }
  .rainbow-input-has-icon .rainbow-input__icon {
    fill: #a4a7b5;
    width: 0.875rem;
    height: 0.875rem;
    position: absolute;
    top: 50%;
    margin-top: -0.4375rem;
    line-height: 1;
    border: 0;
    z-index: 2; }
  .rainbow-input-has-icon .rainbow-input__icon:not(button) {
    pointer-events: none; }

.rainbow-input {
  background-color: white;
  border: 1px solid #a4a7b5;
  border-radius: 12rem;
  width: 100%;
  transition: all 0.1s linear;
  display: inline-block;
  padding: 0 1rem 0 1rem;
  line-height: 2.375rem;
  height: 2.375rem;
  color: #061c3f;
  font-size: 0.875rem; }
  .rainbow-input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .rainbow-input:focus, .rainbow-input:active {
    outline: 0;
    line-height: 2.375rem;
    padding-left: 0.9375rem;
    border: 2px #01b6f5 solid;
    background-color: white;
    box-shadow: 0 0 2px #01b6f5; }
  .rainbow-input::placeholder {
    color: #a4a7b5;
    font-weight: 300; }
  .rainbow-input[readonly] {
    padding-left: 0;
    padding-right: 0;
    border-color: transparent;
    background-color: transparent;
    font-size: 0.875rem;
    color: #061c3f;
    font-weight: 400; }
    .rainbow-input[readonly]:focus, .rainbow-input[readonly]:active {
      box-shadow: none;
      border: 1px transparent solid;
      padding-right: 0; }
  .rainbow-input[disabled] {
    background-color: #f4f6f9;
    border-color: #e3e5ed;
    color: #e3e5ed;
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .rainbow-input[disabled]:focus, .rainbow-input[disabled]:active {
      box-shadow: none;
      background-color: #f4f6f9;
      border: 1px #e3e5ed solid;
      padding-left: 1rem; }

.rainbow-input-has-error .rainbow-input {
  background-color: white;
  border: 2px #fe4849 solid;
  padding-left: 1rem;
  background-clip: padding-box;
  line-height: 2.375rem; }
  .rainbow-input-has-error .rainbow-input:focus {
    box-shadow: 0 0 2px #fe4849; }

.rainbow-input-has-error .rainbow-input-help {
  color: #fe4849; }

.rainbow-input-has-error .rainbow-input__icon {
  fill: #fe4849;
  color: #fe4849; }

.rainbow-input-has-error .rainbow-input-has-icon.rainbow-input-has-icon_left .rainbow-input {
  padding-left: 2.25rem; }

.rainbow-input[type="datetime"]:focus,
.rainbow-input[type="datetime"]:active,
.rainbow-input[type="date"]:focus,
.rainbow-input[type="date"]:active,
.rainbow-input[type="datetime-local"]:focus,
.rainbow-input[type="datetime-local"]:active,
.rainbow-input[type="time"]:focus,
.rainbow-input[type="time"]:active,
.rainbow-input[type="month"]:focus,
.rainbow-input[type="month"]:active,
.rainbow-input[type="week"]:focus,
.rainbow-input[type="week"]:active {
  line-height: 2.375rem; }

.rainbow-input_bare {
  background-color: transparent;
  border: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.75rem;
  color: #061c3f;
  line-height: 2.375rem; }
  .rainbow-input_bare:focus, .rainbow-input_bare:active {
    outline: 0;
    box-shadow: none; }

.rainbow-input_counter {
  text-align: center;
  padding: 0 3rem; }
  .rainbow-input_counter:focus, .rainbow-input_counter:active {
    padding: 0 3rem; }

.rainbow-input-has-icon_left .rainbow-input__icon {
  left: 1rem; }

.rainbow-input-has-icon_left .rainbow-input,
.rainbow-input-has-icon_left .rainbow-input_bare {
  padding-left: 2.25rem; }
  .rainbow-input-has-icon_left .rainbow-input:focus, .rainbow-input-has-icon_left .rainbow-input:active,
  .rainbow-input-has-icon_left .rainbow-input_bare:focus,
  .rainbow-input-has-icon_left .rainbow-input_bare:active {
    padding-left: 2.1875rem; }

.rainbow-input-has-icon_right .rainbow-input__icon {
  right: 1rem; }

.rainbow-input-has-icon_right .rainbow-input,
.rainbow-input-has-icon_right .rainbow-input_bare {
  right: 1rem;
  padding-right: 2.25rem; }
