/* stylelint-disable no-descending-specificity */
@import "../../styles/colors";
@import "../../styles/shadows";
@import "../../styles/font-sizes";
@import "../../styles/border-radius";
@import "../../styles/margins";
@import "../../styles/paddings";

.rainbow-input-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.rainbow-input-label {
    color: $color-gray-4;
    font-size: $font-size-text-small;
    line-height: 1.5;
    margin-right: 0.75rem;
    margin-bottom: 0.125rem;
    align-self: center;

    &:empty {
        margin: 0;
    }
}

.rainbow-input-label_read-only {
    align-self: flex-start;
}

.rainbow-input-help {
    font-size: $font-size-text-small;
    margin-top: $margin-x-small;
    align-self: center;
}

.rainbow-input-required {
    color: $color-error;
    margin: 0 0.125rem;
}

.rainbow-input-has-icon {
    position: relative;

    .rainbow-input__icon {
        fill: $color-gray-3;
        width: 0.875rem;
        height: 0.875rem;
        position: absolute;
        top: 50%;
        margin-top: -0.4375rem;
        line-height: 1;
        border: 0;
        z-index: 2;
    }

    .rainbow-input__icon:not(button) {
        pointer-events: none;
    }
}

.rainbow-input {
    background-color: white;
    border: 1px solid $color-gray-3;
    border-radius: $border-radius-2;
    width: 100%;
    transition: all 0.1s linear;
    display: inline-block;
    padding: 0 1rem 0 1rem;
    line-height: 2.375rem;
    height: 2.375rem;
    color: $color-dark-1;
    font-size: $font-size-text-medium;

    &[type="search"]::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    }

    &:focus,
    &:active {
        outline: 0;
        line-height: 2.375rem;
        padding-left: 0.9375rem;
        border: 2px $color-brand solid;
        background-color: white;
        box-shadow: $shadow-outline;
    }

    &::placeholder {
        color: $color-gray-3;
        font-weight: 300;
    }

    &[readonly] {
        padding-left: 0;
        padding-right: 0;
        border-color: transparent;
        background-color: transparent;
        font-size: $font-size-text-medium;
        color: $color-dark-1;
        font-weight: 400;

        &:focus,
        &:active {
            box-shadow: none;
            border: 1px transparent solid;
            padding-right: 0;
        }
    }

    &[disabled] {
        background-color: $color-gray-1;
        border-color: $color-gray-2;
        color: $color-gray-2;
        cursor: not-allowed;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:focus,
        &:active {
            box-shadow: none;
            background-color: $color-gray-1;
            border: 1px $color-gray-2 solid;
            padding-left: $padding-medium;
        }
    }
}

.rainbow-input-has-error {
    .rainbow-input {
        background-color: white;
        border: 2px $color-error solid;
        padding-left: $padding-medium;
        background-clip: padding-box;
        line-height: 2.375rem;

        &:focus {
            box-shadow: $shadow-error;
        }
    }

    .rainbow-input-help {
        color: $color-error;
    }

    .rainbow-input__icon {
        fill: $color-error;
        color: $color-error;
    }

    .rainbow-input-has-icon.rainbow-input-has-icon_left {
        .rainbow-input {
            padding-left: 2.25rem;
        }
    }
}

.rainbow-input[type="datetime"]:focus,
.rainbow-input[type="datetime"]:active,
.rainbow-input[type="date"]:focus,
.rainbow-input[type="date"]:active,
.rainbow-input[type="datetime-local"]:focus,
.rainbow-input[type="datetime-local"]:active,
.rainbow-input[type="time"]:focus,
.rainbow-input[type="time"]:active,
.rainbow-input[type="month"]:focus,
.rainbow-input[type="month"]:active,
.rainbow-input[type="week"]:focus,
.rainbow-input[type="week"]:active {
    line-height: 2.375rem;
}

.rainbow-input_bare {
    background-color: transparent;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.75rem;
    color: $color-dark-1;
    line-height: 2.375rem;

    &:focus,
    &:active {
        outline: 0;
        box-shadow: none;
    }
}

.rainbow-input_counter {
    text-align: center;
    padding: 0 3rem;

    &:focus,
    &:active {
        padding: 0 3rem;
    }
}

.rainbow-input-has-icon_left {
    .rainbow-input__icon {
        left: 1rem;
    }

    .rainbow-input,
    .rainbow-input_bare {
        padding-left: 2.25rem;

        &:focus,
        &:active {
            padding-left: 2.1875rem;
        }
    }
}

.rainbow-input-has-icon_right {
    .rainbow-input__icon {
        right: 1rem;
    }

    .rainbow-input,
    .rainbow-input_bare {
        right: 1rem;
        padding-right: 2.25rem;
    }
}
