@import "../../styles/colors";
@import "../../styles/font-sizes";

.rainbow-rating_container {
    height: 1.5rem;
}

.rainbow-rating_label {
    color: $color-gray-4;
    font-size: $font-size-text-medium;
    line-height: 1.5;
    margin-bottom: 0.125rem;
    align-self: center;

    &:empty {
        margin: 0;
    }
}

.rainbow-rating_star:not(:last-child) {
    margin-right: 0.25rem;
}

.rainbow-rating_star-input {
    position: absolute;
    margin-top: 2px;
    opacity: 0;
    width: 22px;
    height: 22px;
    cursor: pointer;
}
