.rainbow-rating_container {
  height: 1.5rem; }

.rainbow-rating_label {
  color: #576574;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 0.125rem;
  align-self: center; }
  .rainbow-rating_label:empty {
    margin: 0; }

.rainbow-rating_star:not(:last-child) {
  margin-right: 0.25rem; }

.rainbow-rating_star-input {
  position: absolute;
  margin-top: 2px;
  opacity: 0;
  width: 22px;
  height: 22px;
  cursor: pointer; }
