.rainbow-rating_star-input {
  position: absolute !important;
  margin: 2px !important;
  opacity: 0;
  width: 20px !important;
  height: 20px !important;
  cursor: pointer; }

.rainbow-rating_star-label {
  margin-right: 0.25rem; }
