/* stylelint-disable no-descending-specificity */
.rainbow-google-address-lookup_container .rainbow-lookup_input-icon svg {
  width: 24px !important;
  height: 24px !important;
  font-size: 24px !important; }

.rainbow-google-address-lookup_container .rainbow-google-address-lookup_poweredby-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 0.25rem;
  padding-right: 0.5rem; }
  .rainbow-google-address-lookup_container .rainbow-google-address-lookup_poweredby-container .rainbow-google-address-lookup_poweredby-logo {
    align-self: flex-end;
    margin-left: auto;
    height: 0.625rem; }

.rainbow-google-address-lookup_container .rainbow-google-address-lookup_search-option-label {
  color: #a4a7b5; }
  .rainbow-google-address-lookup_container .rainbow-google-address-lookup_search-option-label b {
    color: #061c3f; }
