@import "./../../styles/colors.scss";
@import '../../styles/margins.scss';
@import '../../styles/paddings.scss';
@import '../../styles/font-sizes.scss';
@import './../../styles/shadows.scss';
@import './../../styles/border-radius.scss';

.rainbow-visual-picker_container {
    display: inline-flex;
    flex-direction: column;

    .rainbow-visual-picker_label {
        color: $color-gray-4;
        font-size: $font-size-text-medium;
        line-height: 1.5;
        margin: 0 auto 0.25rem auto;
        text-align: center;
    }

    .rainbow-visual-picker_options-container {
        display: flex;
    }

    .rainbow-visual-picker_text-error {
        text-align: center;
        font-size: $font-size-text-medium;
        margin-top: $margin-x-small;
        color: $color-error;
    }
}

.rainbow-visual-picker_options-container > .rainbow-visual-picker-option_content-container:not(:last-child) {
    margin-right: 1rem;
}
