.rainbow-visual-picker_container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center; }
  .rainbow-visual-picker_container .rainbow-visual-picker_label {
    color: #576574;
    font-size: 0.875rem;
    line-height: 1.5;
    margin: 0 auto 0.25rem auto;
    text-align: center; }
  .rainbow-visual-picker_container .rainbow-visual-picker_options-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center; }
    .rainbow-visual-picker_container .rainbow-visual-picker_options-container .rainbow-visual-picker-option_content-container {
      margin: 0 0.25rem 0.5rem 0.25rem; }
  .rainbow-visual-picker_container .rainbow-visual-picker_text-error {
    text-align: center;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    color: #fe4849; }
