@import "./../../styles/colors.scss";
@import '../../styles/margins.scss';
@import '../../styles/paddings.scss';
@import '../../styles/font-sizes.scss';
@import './../../styles/shadows.scss';
@import './../../styles/border-radius.scss';

.rainbow-visual-picker_container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    .rainbow-visual-picker_label {
        color: $color-gray-4;
        font-size: $font-size-text-medium;
        line-height: 1.5;
        margin: 0 auto 0.25rem auto;
        text-align: center;
    }

    .rainbow-visual-picker_options-container {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;

        .rainbow-visual-picker-option_content-container {
            margin: 0 0.25rem 0.5rem 0.25rem;
        }
    }

    .rainbow-visual-picker_text-error {
        text-align: center;
        font-size: $font-size-text-medium;
        margin-top: $margin-x-small;
        color: $color-error;
    }
}
