.rainbow-badge {
  color: #576574;
  background-color: #e3e5ed;
  border: 1px solid transparent;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.75rem;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  padding: 0.25rem 0.75rem;
  border-radius: 12rem;
  overflow: hidden; }

.rainbow-badge + .rainbow-badge {
  margin-left: 0.5rem; }

.rainbow-badge--lightest {
  color: #576574;
  background-color: #fff;
  border: 1px solid #e3e5ed; }

.rainbow-badge--brand {
  color: #fff;
  background-color: #01b6f5;
  border: 1px solid transparent; }

.rainbow-badge--outline-brand {
  color: #01b6f5;
  background-color: transparent;
  border: 1px solid #01b6f5; }

.rainbow-badge--inverse {
  color: #fff;
  background-color: #576574;
  border: 1px solid transparent; }

.rainbow-badge_content--truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
