@import './../../styles/colors.scss';
@import './../../styles/paddings.scss';
@import './../../styles/margins.scss';
@import './../../styles/font-sizes.scss';
@import './../../styles/border-radius.scss';

@mixin colors($text-color, $background, $border-color: transparent) {
    color: $text-color;
    background-color: $background;
    border: 1px solid $border-color;
}

%common-styles {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.rainbow-badge {
    @include colors($color-gray-4, $color-gray-2);

    @extend %common-styles;

    font-size: $font-size-text-small;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    padding: $padding-xx-small $padding-small;
    border-radius: $border-radius-2;
    overflow: hidden;
}

.rainbow-badge + .rainbow-badge {
    margin-left: $margin-x-small;
}

.rainbow-badge--lightest {
    @include colors($color-gray-4, #fff, $color-gray-2);
}

.rainbow-badge--brand {
    @include colors(#fff, $color-brand);
}

.rainbow-badge--outline-brand {
    @include colors($color-brand, transparent, $color-brand);
}

.rainbow-badge--inverse {
    @include colors(#fff, $color-gray-4);
}

.rainbow-badge_content--truncate {
    @extend %common-styles;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
