@import './../../styles/colors.scss';
@import './../../styles/paddings.scss';
@import './../../styles/margins.scss';
@import './../../styles/font-sizes.scss';
@import './../../styles/border-radius.scss';

@mixin colors($text-color, $background, $border-color: transparent) {
    color: $text-color;
    background-color: $background;
    border: 1px solid $border-color;
}

.rainbow-badge {
    @include colors($color-gray-4, $color-gray-2);

    display: -ms-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: $font-size-text-x-small;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    padding: $padding-xx-small $padding-x-small;
    border-radius: $border-radius-2;
}

.rainbow-badge + .rainbow-badge {
    margin-left: $margin-x-small;
}

.rainbow-badge_lightest {
    @include colors($color-gray-4, #fff, $color-gray-2);
}

.rainbow-badge_brand {
    @include colors(#fff, $color-brand);
}

.rainbow-badge_outline-brand {
    @include colors($color-brand, transparent, $color-brand);
}

.rainbow-badge_inverse {
    @include colors(#fff, $color-gray-4);
}
