node_modules
.tmp
.firebase
dump.rdb
lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history
.sass-cache
coverage
.env
package-lock.json
components
propTypes
libs
styles
!/library/pages/components
!/src/components
!/src/libs
!/src/propTypes
!/src/styles
styleguide
errorShots
allure-results
test-results
*.css.map
.editorconfig
.vscode
