html {
  font-family: "Lato", Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  background: #fafaf9;
  color: #3e3e3c;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  font-size: 0.8125rem;
  background: transparent; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

audio:not([controls]) {
  display: none;
  height: 0; }

template {
  display: none; }

a {
  background-color: transparent;
  color: #006dcc;
  text-decoration: none;
  transition: color 0.1s linear; }

a,
button {
  cursor: pointer; }

a:hover,
a:focus {
  text-decoration: underline;
  color: #005fb2; }

a:active {
  color: #005fb2; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
  cursor: help; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #fff03f;
  color: #3e3e3c; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  height: auto;
  max-width: 100%; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0;
  display: block;
  margin: 2rem 0;
  border-top: 1px solid #dddbda;
  height: 1px;
  clear: both; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input {
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

td,
th {
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

::-moz-selection {
  background: #d8edff;
  text-shadow: none;
  color: #3e3e3c; }

:-ms-input-placeholder {
  color: #706e6b;
  font-weight: 400;
  font-size: 0.8125rem; }

::placeholder {
  color: #706e6b;
  font-weight: 400;
  font-size: 0.8125rem; }

::selection {
  background: #d8edff;
  text-shadow: none;
  color: #3e3e3c; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
dl,
fieldset {
  margin: 0;
  padding: 0; }

dd,
figure {
  margin: 0; }

abbr[title],
fieldset,
hr {
  border: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: 1em; }

ol,
ul {
  list-style: none; }

b,
strong,
dfn {
  font-weight: 700; }

caption,
th,
td {
  text-align: left; }

.rainbow-link {
  font-size: 15px;
  line-height: 2.46;
  color: #01b6f5;
  align-items: center;
  display: inline-flex;
  justify-content: center; }

.rainbow-link:hover,
.rainbow-link:focus,
.rainbow-link:active,
.rainbow-link:visited {
  color: #009acf; }
