@import './../../../styles/border-radius.scss';

// border-radius-sizes
.rainbow-border-radius_circle {
    border-radius: $border-radius-2;
}

.rainbow-border-radius_oval {
    border-radius: $border-radius-1;
}
