.rainbow-background-color_brand {
  background-color: #01b6f5; }

.rainbow-background-color_brand-active {
  background-color: #009acf; }

.rainbow-color_brand {
  color: #01b6f5; }

.rainbow-color_brand-active {
  color: #009acf; }

.rainbow-background-color_success {
  background-color: #1de9b6; }

.rainbow-background-color_success-active {
  background-color: #1ad1a3; }

.rainbow-color_success {
  color: #1de9b6; }

.rainbow-color_success-active {
  color: #1ad1a3; }

.rainbow-background-color_error {
  background-color: #fe4849; }

.rainbow-background-color_error-active {
  background-color: #ea4243; }

.rainbow-color_error {
  color: #fe4849; }

.rainbow-color_error-active {
  color: #ea4243; }

.rainbow-background-color_yellow {
  background-color: #fc0; }

.rainbow-color_yellow {
  color: #fc0; }

.rainbow-background-color_purple {
  background-color: #663398; }

.rainbow-color_purple {
  color: #663398; }

.rainbow-background-color_gray-1 {
  background-color: #f4f6f9; }

.rainbow-color_gray-1 {
  color: #f4f6f9; }

.rainbow-background-color_gray-2 {
  background-color: #e3e5ed; }

.rainbow-color_gray-2 {
  color: #e3e5ed; }

.rainbow-background-color_gray-3 {
  background-color: #a4a7b5; }

.rainbow-color_gray-3 {
  color: #a4a7b5; }

.rainbow-background-color_gray-4 {
  background-color: #576574; }

.rainbow-color_gray-4 {
  color: #576574; }

.rainbow-background-color_white {
  background-color: #fff; }

.rainbow-color_white {
  color: #fff; }

.rainbow-background-color_dark-1 {
  background-color: #061c3f; }

.rainbow-color_dark-1 {
  color: #061c3f; }
