.rainbow-flex {
  display: -ms-flexbox;
  display: flex; }

.rainbow-inline-flex {
  display: inline-flex; }

.rainbow-flex_column {
  flex-direction: column; }

.rainbow-flex_column-reverse {
  flex-direction: column-reverse; }

.rainbow-flex_row {
  flex-direction: row; }

.rainbow-flex_row-reverse {
  flex-direction: row-reverse; }

.rainbow-flex_wrap {
  flex-wrap: wrap; }

.rainbow-flex_no-wrap {
  flex-wrap: nowrap; }

.rainbow-justify_center {
  -ms-flex-pack: center;
  justify-content: center; }

.rainbow-justify_space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.rainbow-justify_spread {
  -ms-flex-pack: justify;
  justify-content: space-between; }

.rainbow-justify_end {
  -ms-flex-pack: end;
  justify-content: flex-end; }

.rainbow-align_start {
  -ms-flex-align: start;
  align-items: flex-start; }

.rainbow-align_center {
  -ms-flex-align: center;
  align-items: center; }

.rainbow-align_end {
  -ms-flex-align: end;
  align-items: flex-end; }

.rainbow_vertical-stretch {
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.rainbow-position-align_start {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start; }

.rainbow-align-content_space-between {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  align-items: center; }

.rainbow-align-content_center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  align-items: center; }
