.rainbow-font-size-heading_small {
  font-size: 1rem; }

.rainbow-font-size-heading_medium {
  font-size: 1.25rem; }

.rainbow-font-size-heading_large {
  font-size: 1.5rem; }

.rainbow-font-size-heading_x-large {
  font-size: 2rem; }

.rainbow-font-size-text_x-small {
  font-size: 0.625rem; }

.rainbow-font-size-text_small {
  font-size: 0.75rem; }

.rainbow-font-size-text_medium {
  font-size: 0.875rem; }

.rainbow-font-size-text_large {
  font-size: 1rem; }
