@font-face {
  font-family: 'Lato Black';
  src: url("../fonts/Lato-Black/Lato-Black.eot");
  src: url("../fonts/Lato-Black/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black/Lato-Black.ttf") format("truetype"), url("../fonts/Lato-Black/Lato-Black.svg#Lato-Black") format("svg"), url("../fonts/Lato-Black/Lato-Black.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Black Italic';
  src: url("../fonts/Lato-BlackItalic/Lato-BlackItalic.eot");
  src: url("../fonts/Lato-BlackItalic/Lato-BlackItalic.woff2") format("woff2"), url("../fonts/Lato-BlackItalic/Lato-BlackItalic.woff") format("woff"), url("../fonts/Lato-BlackItalic/Lato-BlackItalic.ttf") format("truetype"), url("../fonts/Lato-BlackItalic/Lato-BlackItalic.svg#Lato-BlackItalic") format("svg"), url("../fonts/Lato-BlackItalic/Lato-BlackItalic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Bold';
  src: url("../fonts/Lato-Bold/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold/Lato-Bold.svg#Lato-Bold") format("svg"), url("../fonts/Lato-Bold/Lato-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Bold Italic';
  src: url("../fonts/Lato-BoldItalic/Lato-BoldItalic.eot");
  src: url("../fonts/Lato-BoldItalic/Lato-BoldItalic.woff2") format("woff2"), url("../fonts/Lato-BoldItalic/Lato-BoldItalic.woff") format("woff"), url("../fonts/Lato-BoldItalic/Lato-BoldItalic.ttf") format("truetype"), url("../fonts/Lato-BoldItalic/Lato-BoldItalic.svg#Lato-BoldItalic") format("svg"), url("../fonts/Lato-BoldItalic/Lato-BoldItalic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Hairline';
  src: url("../fonts/Lato-Hairline/Lato-Hairline.eot");
  src: url("../fonts/Lato-Hairline/Lato-Hairline.woff2") format("woff2"), url("../fonts/Lato-Hairline/Lato-Hairline.woff") format("woff"), url("../fonts/Lato-Hairline/Lato-Hairline.ttf") format("truetype"), url("../fonts/Lato-Hairline/Lato-Hairline.svg#Lato-Hairline") format("svg"), url("../fonts/Lato-Hairline/Lato-Hairline.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Hairline Italic';
  src: url("../fonts/Lato-HairlineItalic/Lato-HairlineItalic.eot");
  src: url("../fonts/Lato-HairlineItalic/Lato-HairlineItalic.woff2") format("woff2"), url("../fonts/Lato-HairlineItalic/Lato-HairlineItalic.woff") format("woff"), url("../fonts/Lato-HairlineItalic/Lato-HairlineItalic.ttf") format("truetype"), url("../fonts/Lato-HairlineItalic/Lato-HairlineItalic.svg#Lato-HairlineItalic") format("svg"), url("../fonts/Lato-HairlineItalic/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Italic';
  src: url("../fonts/Lato-Italic/Lato-Italic.eot");
  src: url("../fonts/Lato-Italic/Lato-Italic.woff2") format("woff2"), url("../fonts/Lato-Italic/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic/Lato-Italic.ttf") format("truetype"), url("../fonts/Lato-Italic/Lato-Italic.svg#Lato-Italic") format("svg"), url("../fonts/Lato-Italic/Lato-Italic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Light';
  src: url("../fonts/Lato-Light/Lato-Light.eot");
  src: url("../fonts/Lato-Light/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light/Lato-Light.svg#Lato-Light") format("svg"), url("../fonts/Lato-Light/Lato-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Light Italic';
  src: url("../fonts/Lato-LightItalic/Lato-LightItalic.eot");
  src: url("../fonts/Lato-LightItalic/Lato-LightItalic.woff2") format("woff2"), url("../fonts/Lato-LightItalic/Lato-LightItalic.woff") format("woff"), url("../fonts/Lato-LightItalic/Lato-LightItalic.ttf") format("truetype"), url("../fonts/Lato-LightItalic/Lato-LightItalic.svg#Lato-LightItalic") format("svg"), url("../fonts/Lato-LightItalic/Lato-LightItalic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular") format("svg"), url("../fonts/Lato-Regular/Lato-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
