@import './../../../styles/margins.scss';

.rainbow-m_auto {
    margin: auto;
}

.rainbow-m-top_xx-small {
    margin-top: $margin-xx-small;
}

.rainbow-m-right_xx-small {
    margin-right: $margin-xx-small;
}

.rainbow-m-bottom_xx-small {
    margin-bottom: $margin-xx-small;
}

.rainbow-m-left_xx-small {
    margin-left: $margin-xx-small;
}

.rainbow-m-vertical_xx-small {
    margin-top: $margin-xx-small;
    margin-bottom: $margin-xx-small;
}

.rainbow-m-horizontal_xx-small {
    margin-right: $margin-xx-small;
    margin-left: $margin-xx-small;
}

.rainbow-m-around_xx-small {
    margin: $margin-xx-small;
}

.rainbow-m-top_x-small {
    margin-top: $margin-x-small;
}

.rainbow-m-right_x-small {
    margin-right: $margin-x-small;
}

.rainbow-m-bottom_x-small {
    margin-bottom: $margin-x-small;
}

.rainbow-m-left_x-small {
    margin-left: $margin-x-small;
}

.rainbow-m-vertical_x-small {
    margin-top: $margin-x-small;
    margin-bottom: $margin-x-small;
}

.rainbow-m-horizontal_x-small {
    margin-right: $margin-x-small;
    margin-left: $margin-x-small;
}

.rainbow-m-around_x-small {
    margin: $margin-x-small;
}

.rainbow-m-top_small {
    margin-top: $margin-small;
}

.rainbow-m-right_small {
    margin-right: $margin-small;
}

.rainbow-m-bottom_small {
    margin-bottom: $margin-small;
}

.rainbow-m-left_small {
    margin-left: $margin-small;
}

.rainbow-m-vertical_small {
    margin-top: $margin-small;
    margin-bottom: $margin-small;
}

.rainbow-m-horizontal_small {
    margin-right: $margin-small;
    margin-left: $margin-small;
}

.rainbow-m-around_small {
    margin: $margin-small;
}

.rainbow-m-top_medium {
    margin-top: $margin-medium;
}

.rainbow-m-right_medium {
    margin-right: $margin-medium;
}

.rainbow-m-bottom_medium {
    margin-bottom: $margin-medium;
}

.rainbow-m-left_medium {
    margin-left: $margin-medium;
}

.rainbow-m-vertical_medium {
    margin-top: $margin-medium;
    margin-bottom: $margin-medium;
}

.rainbow-m-horizontal_medium {
    margin-right: $margin-medium;
    margin-left: $margin-medium;
}

.rainbow-m-around_medium {
    margin: $margin-medium;
}

.rainbow-m-top_large {
    margin-top: $margin-large;
}

.rainbow-m-right_large {
    margin-right: $margin-large;
}

.rainbow-m-bottom_large {
    margin-bottom: $margin-large;
}

.rainbow-m-left_large {
    margin-left: $margin-large;
}

.rainbow-m-vertical_large {
    margin-top: $margin-large;
    margin-bottom: $margin-large;
}

.rainbow-m-horizontal_large {
    margin-right: $margin-large;
    margin-left: $margin-large;
}

.rainbow-m-around_large {
    margin: $margin-large;
}

.rainbow-m-top_x-large {
    margin-top: $margin-x-large;
}

.rainbow-m-right_x-large {
    margin-right: $margin-x-large;
}

.rainbow-m-bottom_x-large {
    margin-bottom: $margin-x-large;
}

.rainbow-m-left_x-large {
    margin-left: $margin-x-large;
}

.rainbow-m-vertical_x-large {
    margin-top: $margin-x-large;
    margin-bottom: $margin-x-large;
}

.rainbow-m-horizontal_x-large {
    margin-right: $margin-x-large;
    margin-left: $margin-x-large;
}

.rainbow-m-around_x-large {
    margin: $margin-x-large;
}

.rainbow-m-top_xx-large {
    margin-top: $margin-xx-large;
}

.rainbow-m-right_xx-large {
    margin-right: $margin-xx-large;
}

.rainbow-m-bottom_xx-large {
    margin-bottom: $margin-xx-large;
}

.rainbow-m-left_xx-large {
    margin-left: $margin-xx-large;
}

.rainbow-m-vertical_xx-large {
    margin-top: $margin-xx-large;
    margin-bottom: $margin-xx-large;
}

.rainbow-m-horizontal_xx-large {
    margin-right: $margin-xx-large;
    margin-left: $margin-xx-large;
}

.rainbow-m-around_xx-large {
    margin: $margin-xx-large;
}

.rainbow-m-top_none {
    margin-top: 0 !important;
}

.rainbow-m-right_none {
    margin-right: 0 !important;
}

.rainbow-m-bottom_none {
    margin-bottom: 0 !important;
}

.rainbow-m-left_none {
    margin-left: 0 !important;
}

.rainbow-m-vertical_none {
    margin-top: 0;
    margin-bottom: 0;
}

.rainbow-m-horizontal_none {
    margin-right: 0;
    margin-left: 0;
}

.rainbow-m-around_none {
    margin: 0;
}

.rainbow-m-horizontal_xxx-large {
    margin-left: 5rem;
    margin-right: 5rem;
}
