.rainbow-m_auto {
  margin: auto; }

.rainbow-m-top_xx-small {
  margin-top: 0.25rem; }

.rainbow-m-right_xx-small {
  margin-right: 0.25rem; }

.rainbow-m-bottom_xx-small {
  margin-bottom: 0.25rem; }

.rainbow-m-left_xx-small {
  margin-left: 0.25rem; }

.rainbow-m-vertical_xx-small {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.rainbow-m-horizontal_xx-small {
  margin-right: 0.25rem;
  margin-left: 0.25rem; }

.rainbow-m-around_xx-small {
  margin: 0.25rem; }

.rainbow-m-top_x-small {
  margin-top: 0.5rem; }

.rainbow-m-right_x-small {
  margin-right: 0.5rem; }

.rainbow-m-bottom_x-small {
  margin-bottom: 0.5rem; }

.rainbow-m-left_x-small {
  margin-left: 0.5rem; }

.rainbow-m-vertical_x-small {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.rainbow-m-horizontal_x-small {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.rainbow-m-around_x-small {
  margin: 0.5rem; }

.rainbow-m-top_small {
  margin-top: 0.75rem; }

.rainbow-m-right_small {
  margin-right: 0.75rem; }

.rainbow-m-bottom_small {
  margin-bottom: 0.75rem; }

.rainbow-m-left_small {
  margin-left: 0.75rem; }

.rainbow-m-vertical_small {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.rainbow-m-horizontal_small {
  margin-right: 0.75rem;
  margin-left: 0.75rem; }

.rainbow-m-around_small {
  margin: 0.75rem; }

.rainbow-m-top_medium {
  margin-top: 1rem; }

.rainbow-m-right_medium {
  margin-right: 1rem; }

.rainbow-m-bottom_medium {
  margin-bottom: 1rem; }

.rainbow-m-left_medium {
  margin-left: 1rem; }

.rainbow-m-vertical_medium {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.rainbow-m-horizontal_medium {
  margin-right: 1rem;
  margin-left: 1rem; }

.rainbow-m-around_medium {
  margin: 1rem; }

.rainbow-m-top_large {
  margin-top: 1.5rem; }

.rainbow-m-right_large {
  margin-right: 1.5rem; }

.rainbow-m-bottom_large {
  margin-bottom: 1.5rem; }

.rainbow-m-left_large {
  margin-left: 1.5rem; }

.rainbow-m-vertical_large {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.rainbow-m-horizontal_large {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.rainbow-m-around_large {
  margin: 1.5rem; }

.rainbow-m-top_x-large {
  margin-top: 2rem; }

.rainbow-m-right_x-large {
  margin-right: 2rem; }

.rainbow-m-bottom_x-large {
  margin-bottom: 2rem; }

.rainbow-m-left_x-large {
  margin-left: 2rem; }

.rainbow-m-vertical_x-large {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.rainbow-m-horizontal_x-large {
  margin-right: 2rem;
  margin-left: 2rem; }

.rainbow-m-around_x-large {
  margin: 2rem; }

.rainbow-m-top_xx-large {
  margin-top: 3rem; }

.rainbow-m-right_xx-large {
  margin-right: 3rem; }

.rainbow-m-bottom_xx-large {
  margin-bottom: 3rem; }

.rainbow-m-left_xx-large {
  margin-left: 3rem; }

.rainbow-m-vertical_xx-large {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.rainbow-m-horizontal_xx-large {
  margin-right: 3rem;
  margin-left: 3rem; }

.rainbow-m-around_xx-large {
  margin: 3rem; }

.rainbow-m-top_none {
  margin-top: 0 !important; }

.rainbow-m-right_none {
  margin-right: 0 !important; }

.rainbow-m-bottom_none {
  margin-bottom: 0 !important; }

.rainbow-m-left_none {
  margin-left: 0 !important; }

.rainbow-m-vertical_none {
  margin-top: 0;
  margin-bottom: 0; }

.rainbow-m-horizontal_none {
  margin-right: 0;
  margin-left: 0; }

.rainbow-m-around_none {
  margin: 0; }
