.rainbow-p-top_xx-small {
  padding-top: 0.25rem; }

.rainbow-p-right_xx-small {
  padding-right: 0.25rem; }

.rainbow-p-bottom_xx-small {
  padding-bottom: 0.25rem; }

.rainbow-p-left_xx-small {
  padding-left: 0.25rem; }

.rainbow-p-vertical_xx-small {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.rainbow-p-horizontal_xx-small {
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

.rainbow-p-around_xx-small {
  padding: 0.25rem; }

.rainbow-p-top_x-small {
  padding-top: 0.5rem; }

.rainbow-p-right_x-small {
  padding-right: 0.5rem; }

.rainbow-p-bottom_x-small {
  padding-bottom: 0.5rem; }

.rainbow-p-left_x-small {
  padding-left: 0.5rem; }

.rainbow-p-vertical_x-small {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.rainbow-p-horizontal_x-small {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.rainbow-p-around_x-small {
  padding: 0.5rem; }

.rainbow-p-top_small {
  padding-top: 0.75rem; }

.rainbow-p-right_small {
  padding-right: 0.75rem; }

.rainbow-p-bottom_small {
  padding-bottom: 0.75rem; }

.rainbow-p-left_small {
  padding-left: 0.75rem; }

.rainbow-p-vertical_small {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.rainbow-p-horizontal_small {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

.rainbow-p-around_small {
  padding: 0.75rem; }

.rainbow-p-top_medium {
  padding-top: 1rem; }

.rainbow-p-right_medium {
  padding-right: 1rem; }

.rainbow-p-bottom_medium {
  padding-bottom: 1rem; }

.rainbow-p-left_medium {
  padding-left: 1rem; }

.rainbow-p-vertical_medium {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.rainbow-p-horizontal_medium {
  padding-right: 1rem;
  padding-left: 1rem; }

.rainbow-p-around_medium {
  padding: 1rem; }

.rainbow-p-top_large {
  padding-top: 1.5rem; }

.rainbow-p-right_large {
  padding-right: 1.5rem; }

.rainbow-p-bottom_large {
  padding-bottom: 1.5rem; }

.rainbow-p-left_large {
  padding-left: 1.5rem; }

.rainbow-p-vertical_large {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.rainbow-p-horizontal_large {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.rainbow-p-around_large {
  padding: 1.5rem; }

.rainbow-p-top_x-large {
  padding-top: 2rem; }

.rainbow-p-right_x-large {
  padding-right: 2rem; }

.rainbow-p-bottom_x-large {
  padding-bottom: 2rem; }

.rainbow-p-left_x-large {
  padding-left: 2rem; }

.rainbow-p-vertical_x-large {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.rainbow-p-horizontal_x-large {
  padding-right: 2rem;
  padding-left: 2rem; }

.rainbow-p-around_x-large {
  padding: 2rem; }

.rainbow-p-top_xx-large {
  padding-top: 3rem; }

.rainbow-p-right_xx-large {
  padding-right: 3rem; }

.rainbow-p-bottom_xx-large {
  padding-bottom: 3rem; }

.rainbow-p-left_xx-large {
  padding-left: 3rem; }

.rainbow-p-vertical_xx-large {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.rainbow-p-horizontal_xx-large {
  padding-right: 3rem;
  padding-left: 3rem; }

.rainbow-p-around_xx-large {
  padding: 3rem; }

.rainbow-p-top_none {
  padding-top: 0 !important; }

.rainbow-p-right_none {
  padding-right: 0 !important; }

.rainbow-p-bottom_none {
  padding-bottom: 0 !important; }

.rainbow-p-left_none {
  padding-left: 0 !important; }

.rainbow-p-vertical_none {
  padding-top: 0;
  padding-bottom: 0; }

.rainbow-p-horizontal_none {
  padding-right: 0;
  padding-left: 0; }

.rainbow-p-around_none {
  padding: 0; }
