@import './../../../styles/paddings.scss';

.rainbow-p-top_xx-small {
    padding-top: $padding-xx-small;
}

.rainbow-p-right_xx-small {
    padding-right: $padding-xx-small;
}

.rainbow-p-bottom_xx-small {
    padding-bottom: $padding-xx-small;
}

.rainbow-p-left_xx-small {
    padding-left: $padding-xx-small;
}

.rainbow-p-vertical_xx-small {
    padding-top: $padding-xx-small;
    padding-bottom: $padding-xx-small;
}

.rainbow-p-horizontal_xx-small {
    padding-right: $padding-xx-small;
    padding-left: $padding-xx-small;
}

.rainbow-p-around_xx-small {
    padding: $padding-xx-small;
}

.rainbow-p-top_x-small {
    padding-top: $padding-x-small;
}

.rainbow-p-right_x-small {
    padding-right: $padding-x-small;
}

.rainbow-p-bottom_x-small {
    padding-bottom: $padding-x-small;
}

.rainbow-p-left_x-small {
    padding-left: $padding-x-small;
}

.rainbow-p-vertical_x-small {
    padding-top: $padding-x-small;
    padding-bottom: $padding-x-small;
}

.rainbow-p-horizontal_x-small {
    padding-right: $padding-x-small;
    padding-left: $padding-x-small;
}

.rainbow-p-around_x-small {
    padding: $padding-x-small;
}

.rainbow-p-top_small {
    padding-top: $padding-small;
}

.rainbow-p-right_small {
    padding-right: $padding-small;
}

.rainbow-p-bottom_small {
    padding-bottom: $padding-small;
}

.rainbow-p-left_small {
    padding-left: $padding-small;
}

.rainbow-p-vertical_small {
    padding-top: $padding-small;
    padding-bottom: $padding-small;
}

.rainbow-p-horizontal_small {
    padding-right: $padding-small;
    padding-left: $padding-small;
}

.rainbow-p-around_small {
    padding: $padding-small;
}

.rainbow-p-top_medium {
    padding-top: $padding-medium;
}

.rainbow-p-right_medium {
    padding-right: $padding-medium;
}

.rainbow-p-bottom_medium {
    padding-bottom: $padding-medium;
}

.rainbow-p-left_medium {
    padding-left: $padding-medium;
}

.rainbow-p-vertical_medium {
    padding-top: $padding-medium;
    padding-bottom: $padding-medium;
}

.rainbow-p-horizontal_medium {
    padding-right: $padding-medium;
    padding-left: $padding-medium;
}

.rainbow-p-around_medium {
    padding: $padding-medium;
}

.rainbow-p-top_large {
    padding-top: $padding-large;
}

.rainbow-p-right_large {
    padding-right: $padding-large;
}

.rainbow-p-bottom_large {
    padding-bottom: $padding-large;
}

.rainbow-p-left_large {
    padding-left: $padding-large;
}

.rainbow-p-vertical_large {
    padding-top: $padding-large;
    padding-bottom: $padding-large;
}

.rainbow-p-horizontal_large {
    padding-right: $padding-large;
    padding-left: $padding-large;
}

.rainbow-p-around_large {
    padding: $padding-large;
}

.rainbow-p-top_x-large {
    padding-top: $padding-x-large;
}

.rainbow-p-right_x-large {
    padding-right: $padding-x-large;
}

.rainbow-p-bottom_x-large {
    padding-bottom: $padding-x-large;
}

.rainbow-p-left_x-large {
    padding-left: $padding-x-large;
}

.rainbow-p-vertical_x-large {
    padding-top: $padding-x-large;
    padding-bottom: $padding-x-large;
}

.rainbow-p-horizontal_x-large {
    padding-right: $padding-x-large;
    padding-left: $padding-x-large;
}

.rainbow-p-around_x-large {
    padding: $padding-x-large;
}

.rainbow-p-top_xx-large {
    padding-top: $padding-xx-large;
}

.rainbow-p-right_xx-large {
    padding-right: $padding-xx-large;
}

.rainbow-p-bottom_xx-large {
    padding-bottom: $padding-xx-large;
}

.rainbow-p-left_xx-large {
    padding-left: $padding-xx-large;
}

.rainbow-p-vertical_xx-large {
    padding-top: $padding-xx-large;
    padding-bottom: $padding-xx-large;
}

.rainbow-p-horizontal_xx-large {
    padding-right: $padding-xx-large;
    padding-left: $padding-xx-large;
}

.rainbow-p-around_xx-large {
    padding: $padding-xx-large;
}

.rainbow-p-top_none {
    padding-top: 0 !important;
}

.rainbow-p-right_none {
    padding-right: 0 !important;
}

.rainbow-p-bottom_none {
    padding-bottom: 0 !important;
}

.rainbow-p-left_none {
    padding-left: 0 !important;
}

.rainbow-p-vertical_none {
    padding-top: 0;
    padding-bottom: 0;
}

.rainbow-p-horizontal_none {
    padding-right: 0;
    padding-left: 0;
}

.rainbow-p-around_none {
    padding: 0;
}
