@import './fonts.scss';
// @import './basic-styles.scss';
@import './colors.scss';
@import './paddings.scss';
@import './margins.scss';
@import './flex.scss';
@import './position.scss';
@import './border-radius.scss';
@import './font-sizes.scss';
