@import "./../../styles/colors.scss";
@import "./../../styles/shadows.scss";

@mixin variants-common-styles($background-color, $border-color, $color) {
    background-color: $background-color;
    border: 1px solid $border-color;
    color: $color;
    padding: 0 1rem;
    text-align: center;
    vertical-align: middle;
    transition: border 0.15s linear;
}

.rainbow-button {
    align-items: center;
    display: inline-flex;
    font-size: 0.875rem;
    justify-content: center;
    position: relative;
    background: transparent;
    background-clip: border-box;
    border: 1px solid transparent;
    border-radius: 100px;
    line-height: 2.125rem;
    text-decoration: none;
    color: $color-brand;
    padding: 0;
    cursor: pointer;
    -webkit-appearance: none;
    white-space: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover,
    &:focus,
    &:active,
    &:visited {
        text-decoration: none;
    }

    &:hover,
    &:focus {
        color: $color-brand-active;
    }

    &:focus {
        outline: 0;
        box-shadow: $shadow-outline;
    }

    &:active {
        color: $color-brand-active;
    }

    &[disabled] {
        color: $color-gray-2;
    }

    &[disabled] * {
        cursor: default;
        pointer-events: none;
    }
}

.rainbow-button + .rainbow-button {
    margin-left: 0.25rem;
}

.rainbow-button_neutral {
    @include variants-common-styles(white, $color-gray-2, $color-brand);

    &:hover,
    &:focus,
    &:active {
        background-color: $color-gray-1;
    }

    &[disabled] {
        background-color: transparent;
    }
}

.rainbow-button_brand {
    @include variants-common-styles($color-brand, $color-brand, white);

    &:link,
    &:visited,
    &:active {
        color: white;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: $color-brand-active;
        border-color: $color-brand-active;
        color: white;
    }

    &[disabled] {
        background-color: $color-gray-1;
        border-color: $color-gray-1;
    }
}

.rainbow-button_outline-brand {
    @include variants-common-styles(transparent, $color-brand, $color-brand);

    &:hover,
    &:focus,
    &:active {
        border-color: $color-brand-active;
    }

    &[disabled] {
        background-color: transparent;
        border-color: $color-gray-2;
    }
}

.rainbow-button_inverse {
    @include variants-common-styles(transparent, transparent, white);

    padding: 0;

    &:hover,
    &:focus,
    &:active {
        color: $color-gray-3;
    }

    &:focus {
        outline: none;
        box-shadow: $shadow-5;
    }

    &[disabled] {
        background-color: transparent;
        color: $color-gray-4;
    }
}

.rainbow-button_border-inverse {
    @include variants-common-styles(transparent, white, white);

    &:hover,
    &:focus,
    &:active {
        border-color: $color-gray-3;
        color: $color-gray-3;
    }

    &:focus {
        outline: none;
        box-shadow: $shadow-5;
    }

    &[disabled] {
        background-color: transparent;
        border-color: $color-gray-4;
        color: $color-gray-4;
    }
}

.rainbow-button_destructive {
    @include variants-common-styles($color-error, $color-error, white);

    &:link,
    &:visited,
    &:active {
        color: white;
    }

    &:hover,
    &:focus {
        background-color: $color-error-active;
        color: white;
    }

    &:active {
        background-color: $color-error-active;
        border-color: $color-error-active;
    }

    &[disabled] {
        background-color: $color-gray-1;
        border-color: $color-gray-1;
    }
}

.rainbow-button_success {
    @include variants-common-styles($color-success, $color-success, white);

    &:link,
    &:visited,
    &:active,
    &:hover,
    &:focus {
        color: white;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: $color-success-active;
        border-color: $color-success-active;
    }

    &[disabled] {
        background-color: $color-gray-1;
        border-color: $color-gray-1;
    }
}

.rainbow-button_shaded {
    box-shadow: $shadow-1;
}
