.rainbow-button {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  justify-content: center;
  position: relative;
  background: transparent;
  background-clip: border-box;
  border: 1px solid transparent;
  border-radius: 100px;
  line-height: 2.125rem;
  text-decoration: none;
  color: #01b6f5;
  padding: 0;
  cursor: pointer;
  -webkit-appearance: none;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .rainbow-button:hover, .rainbow-button:focus, .rainbow-button:active, .rainbow-button:visited {
    text-decoration: none; }
  .rainbow-button:hover, .rainbow-button:focus {
    color: #009acf; }
  .rainbow-button:focus {
    outline: 0;
    box-shadow: 0 0 3px #0070d2; }
  .rainbow-button:active {
    color: #009acf; }
  .rainbow-button[disabled] {
    color: #e3e5ed; }
  .rainbow-button[disabled] * {
    cursor: default;
    pointer-events: none; }

.rainbow-button + .rainbow-button {
  margin-left: 0.25rem; }

.rainbow-button_neutral {
  background-color: white;
  border: 1px solid #e3e5ed;
  color: #01b6f5;
  padding: 0 1rem;
  text-align: center;
  vertical-align: middle;
  transition: border 0.15s linear; }
  .rainbow-button_neutral:hover, .rainbow-button_neutral:focus, .rainbow-button_neutral:active {
    background-color: #f4f6f9; }
  .rainbow-button_neutral[disabled] {
    background-color: transparent; }

.rainbow-button_brand {
  background-color: #01b6f5;
  border: 1px solid #01b6f5;
  color: white;
  padding: 0 1rem;
  text-align: center;
  vertical-align: middle;
  transition: border 0.15s linear; }
  .rainbow-button_brand:link, .rainbow-button_brand:visited, .rainbow-button_brand:active {
    color: white; }
  .rainbow-button_brand:hover, .rainbow-button_brand:focus, .rainbow-button_brand:active {
    background-color: #009acf;
    border-color: #009acf;
    color: white; }
  .rainbow-button_brand[disabled] {
    background-color: #f4f6f9;
    border-color: #f4f6f9; }

.rainbow-button_outline-brand {
  background-color: transparent;
  border: 1px solid #01b6f5;
  color: #01b6f5;
  padding: 0 1rem;
  text-align: center;
  vertical-align: middle;
  transition: border 0.15s linear; }
  .rainbow-button_outline-brand:hover, .rainbow-button_outline-brand:focus, .rainbow-button_outline-brand:active {
    border-color: #009acf; }
  .rainbow-button_outline-brand[disabled] {
    background-color: transparent;
    border-color: #e3e5ed; }

.rainbow-button_inverse {
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
  padding: 0 1rem;
  text-align: center;
  vertical-align: middle;
  transition: border 0.15s linear;
  padding: 0; }
  .rainbow-button_inverse:hover, .rainbow-button_inverse:focus, .rainbow-button_inverse:active {
    color: #01b6f5; }
  .rainbow-button_inverse:focus {
    outline: none;
    box-shadow: 0 0 3px #f4f6f9; }
  .rainbow-button_inverse[disabled] {
    background-color: transparent;
    color: #576574; }

.rainbow-button_border-inverse {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 0 1rem;
  text-align: center;
  vertical-align: middle;
  transition: border 0.15s linear; }
  .rainbow-button_border-inverse:hover, .rainbow-button_border-inverse:focus, .rainbow-button_border-inverse:active {
    border-color: #01b6f5;
    color: #01b6f5; }
  .rainbow-button_border-inverse:focus {
    outline: none;
    box-shadow: 0 0 3px #f4f6f9; }
  .rainbow-button_border-inverse[disabled] {
    background-color: transparent;
    border-color: #576574;
    color: #576574; }

.rainbow-button_destructive {
  background-color: #fe4849;
  border: 1px solid #fe4849;
  color: white;
  padding: 0 1rem;
  text-align: center;
  vertical-align: middle;
  transition: border 0.15s linear; }
  .rainbow-button_destructive:link, .rainbow-button_destructive:visited, .rainbow-button_destructive:active {
    color: white; }
  .rainbow-button_destructive:hover, .rainbow-button_destructive:focus {
    background-color: #ea4243;
    color: white; }
  .rainbow-button_destructive:active {
    background-color: #ea4243;
    border-color: #ea4243; }
  .rainbow-button_destructive[disabled] {
    background-color: #f4f6f9;
    border-color: #f4f6f9; }

.rainbow-button_success {
  background-color: #1de9b6;
  border: 1px solid #1de9b6;
  color: white;
  padding: 0 1rem;
  text-align: center;
  vertical-align: middle;
  transition: border 0.15s linear; }
  .rainbow-button_success:link, .rainbow-button_success:visited, .rainbow-button_success:active, .rainbow-button_success:hover, .rainbow-button_success:focus {
    color: white; }
  .rainbow-button_success:hover, .rainbow-button_success:focus, .rainbow-button_success:active {
    background-color: #1ad1a3;
    border-color: #1ad1a3; }
  .rainbow-button_success[disabled] {
    background-color: #f4f6f9;
    border-color: #f4f6f9; }

.rainbow-button_shaded {
  box-shadow: 0 0 2px 0 #a4a7b5; }
