.rainbow-button {
  align-items: center;
  display: inline-flex;
  font-size: 1rem;
  justify-content: center;
  position: relative;
  background: transparent;
  background-clip: border-box;
  border: 1px solid transparent;
  border-radius: 100px;
  line-height: 2.375rem;
  text-decoration: none;
  color: #01b6f5;
  padding: 0 1rem;
  cursor: pointer;
  -webkit-appearance: none;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .rainbow-button:hover, .rainbow-button:focus, .rainbow-button:active, .rainbow-button:visited {
    text-decoration: none; }
  .rainbow-button:hover, .rainbow-button:focus {
    color: #009acf; }
  .rainbow-button:focus {
    outline: 0;
    box-shadow: 0 0 2px #01b6f5; }
  .rainbow-button:active {
    color: #009acf;
    transform: scale(0.95);
    transition: all 0.2s ease; }
  .rainbow-button[disabled] {
    color: #e3e5ed; }
  .rainbow-button[disabled] * {
    cursor: default;
    pointer-events: none; }

.rainbow-button--neutral {
  background-color: white;
  border: 1px solid #e3e5ed;
  color: #01b6f5;
  padding: 0 1rem;
  text-align: center;
  vertical-align: middle;
  transition: border 0.15s linear; }
  .rainbow-button--neutral:hover, .rainbow-button--neutral:focus, .rainbow-button--neutral:active {
    background-color: #f4f6f9; }
  .rainbow-button--neutral[disabled] {
    background-color: transparent; }

.rainbow-button--brand {
  background-color: #01b6f5;
  border: 1px solid #01b6f5;
  color: white;
  padding: 0 1rem;
  text-align: center;
  vertical-align: middle;
  transition: border 0.15s linear; }
  .rainbow-button--brand:link, .rainbow-button--brand:visited, .rainbow-button--brand:active {
    color: white; }
  .rainbow-button--brand:hover, .rainbow-button--brand:focus, .rainbow-button--brand:active {
    background-color: #009acf;
    border-color: #009acf;
    color: white; }
  .rainbow-button--brand[disabled] {
    background-color: #f4f6f9;
    border-color: #f4f6f9;
    color: #e3e5ed; }

.rainbow-button--outline-brand {
  background-color: transparent;
  border: 1px solid #01b6f5;
  color: #01b6f5;
  padding: 0 1rem;
  text-align: center;
  vertical-align: middle;
  transition: border 0.15s linear; }
  .rainbow-button--outline-brand:hover, .rainbow-button--outline-brand:focus, .rainbow-button--outline-brand:active {
    border-color: #009acf; }
  .rainbow-button--outline-brand[disabled] {
    background-color: transparent;
    border-color: #e3e5ed; }

.rainbow-button--inverse {
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
  padding: 0 1rem;
  text-align: center;
  vertical-align: middle;
  transition: border 0.15s linear; }
  .rainbow-button--inverse:hover, .rainbow-button--inverse:focus, .rainbow-button--inverse:active {
    color: #a4a7b5; }
  .rainbow-button--inverse:focus {
    outline: none;
    box-shadow: 0 0 3px #f4f6f9; }
  .rainbow-button--inverse[disabled] {
    background-color: transparent;
    color: #576574; }

.rainbow-button--border-inverse {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 0 1rem;
  text-align: center;
  vertical-align: middle;
  transition: border 0.15s linear; }
  .rainbow-button--border-inverse:hover, .rainbow-button--border-inverse:focus, .rainbow-button--border-inverse:active {
    border-color: #a4a7b5;
    color: #a4a7b5; }
  .rainbow-button--border-inverse:focus {
    outline: none;
    box-shadow: 0 0 3px #f4f6f9; }
  .rainbow-button--border-inverse[disabled] {
    background-color: transparent;
    border-color: #576574;
    color: #576574; }

.rainbow-button--destructive {
  background-color: #fe4849;
  border: 1px solid #fe4849;
  color: white;
  padding: 0 1rem;
  text-align: center;
  vertical-align: middle;
  transition: border 0.15s linear; }
  .rainbow-button--destructive:link, .rainbow-button--destructive:visited, .rainbow-button--destructive:active {
    color: white; }
  .rainbow-button--destructive:hover, .rainbow-button--destructive:focus {
    background-color: #ea4243;
    color: white; }
  .rainbow-button--destructive:active {
    background-color: #ea4243;
    border-color: #ea4243; }
  .rainbow-button--destructive[disabled] {
    background-color: #f4f6f9;
    border-color: #f4f6f9;
    color: #e3e5ed; }

.rainbow-button--success {
  background-color: #1de9b6;
  border: 1px solid #1de9b6;
  color: white;
  padding: 0 1rem;
  text-align: center;
  vertical-align: middle;
  transition: border 0.15s linear; }
  .rainbow-button--success:link, .rainbow-button--success:visited, .rainbow-button--success:active, .rainbow-button--success:hover, .rainbow-button--success:focus {
    color: white; }
  .rainbow-button--success:hover, .rainbow-button--success:focus, .rainbow-button--success:active {
    background-color: #1ad1a3;
    border-color: #1ad1a3; }
  .rainbow-button--success[disabled] {
    background-color: #f4f6f9;
    border-color: #f4f6f9;
    color: #e3e5ed; }

.rainbow-button--shaded {
  box-shadow: 0 0 2px 0 #a4a7b5; }

.rainbow-button_content--hidden {
  visibility: hidden; }
  .rainbow-button_content--hidden .rainbow-button_spinner--visible {
    visibility: visible; }

.rainbow-button--neutral.rainbow-button--loading {
  background-color: white;
  border: 1px solid #e3e5ed; }

.rainbow-button--brand.rainbow-button--loading {
  background-color: #01b6f5;
  border: 1px solid #01b6f5; }

.rainbow-button--outline-brand.rainbow-button--loading {
  background-color: transparent;
  border: 1px solid #01b6f5; }

.rainbow-button--destructive.rainbow-button--loading {
  background-color: #fe4849;
  border: 1px solid #fe4849; }

.rainbow-button--success.rainbow-button--loading {
  background-color: #1de9b6;
  border: 1px solid #1de9b6; }

.rainbow-button--inverse.rainbow-button--loading {
  background-color: transparent;
  border: 1px solid transparent; }

.rainbow-button--border-inverse.rainbow-button--loading {
  background-color: transparent;
  border: 1px solid white; }
