/* stylelint-disable no-descending-specificity,max-line-length */
@import "./../../styles/colors.scss";
@import '../../styles/shadow.scsss';
@import '../../styles/margins.scss';
@import '../../styles/paddings.scss';
@import '../../styles/font-sizes.scss';
@import '../../styles/border-radius.scss';

%center-content {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.rainbow-radio-button-group_container {
    @extend %center-content;

    position: relative;
}

.rainbow-radio-button-group_label {
    display: inline-block;
    color: $color-gray-4;
    font-size: $font-size-text-medium;
    line-height: 1.5;
    margin: 0 auto 0.125rem auto;
}

.rainbow-radio-button-group_inner-container {
    @extend %center-content;

    border-radius: $border-radius-2;
    border: solid 1px #e3e5ed;
    background-color: rgba(227, 229, 237, 0.4);
    line-height: 2.5rem;
    height: 2.5rem;

    .rainbow-radio-button-group_radio {
        @extend %center-content;

        height: 2.5rem;
        border-radius: $border-radius-2;
        border: solid 1px transparent;
        transition: all 0.3s cubic-bezier(0.75, 0, 0.08, 1);
        z-index: 0;

        &:first-child {
            margin-left: -1px;
        }

        &:last-child {
            margin-right: -1px;
        }

        &:hover {
            background-color: rgba(227, 229, 237, 0.4);
        }

        .rainbow-radio-button-group_radio-label-container {
            @extend %center-content;

            .rainbow-radio-button-group_radio-label {
                transition: all 0.3s cubic-bezier(0.75, 0, 0.08, 1);
                font-size: $font-size-text-large;
                color: $color-gray-3;
                padding: 0 $padding-large;
                font-weight: 400;
            }
        }
    }

    .rainbow-radio-button-group_radio--checked {
        background-color: white;
        border-color: white;
        box-shadow: 0 0 2px 0 #a4a7b5;
        z-index: 2;

        &:hover {
            background-color: white;
            border-color: white;
        }

        .rainbow-radio-button-group_radio-label-container {
            .rainbow-radio-button-group_radio-label {
                color: $color-dark-1;
            }
        }
    }

    .rainbow-radio-button-group_radio--disabled {
        cursor: not-allowed;

        &:hover {
            background-color: transparent;
        }

        .rainbow-radio-button-group_radio-label-container {
            .rainbow-radio-button-group_radio-label--disabled {
                color: $color-gray-2;
            }
        }
    }
}

.rainbow-radio-button-group--brand {
    .rainbow-radio-button-group_inner-container .rainbow-radio-button-group_radio--checked {
        background-color: $color-brand;
        border-color: #01aae5;

        .rainbow-radio-button-group_radio-label-container {
            .rainbow-radio-button-group_radio-label {
                color: white;
            }
        }
    }
}

.rainbow-radio-button-group--inverse {
    .rainbow-radio-button-group_label {
        color: white;
    }

    .rainbow-radio-button-group_inner-container {
        border-color: rgba(0, 0, 0, 0.4);
        background-color:rgba(0, 0, 0, 0.4);

        .rainbow-radio-button-group_radio {
            .rainbow-radio-button-group_radio-label-container {
                .rainbow-radio-button-group_radio-label {
                    color: white;
                }
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }
        }

        .rainbow-radio-button-group_radio--checked {
            box-shadow: 0 0 2px 0 #029bd3;
            background-color: #029bd3;
            border: solid 1px #009acf;

            &:hover {
                background-color: #029bd3;
            }
        }
    }
}

.rainbow-radio-button-group--inverse .rainbow-radio-button-group_inner-container .rainbow-radio-button-group_radio--disabled {
    &:hover {
        background-color: transparent;
    }

    .rainbow-radio-button-group_radio-label-container {
        .rainbow-radio-button-group_radio-label--disabled {
            background-color: transparent;
            border-color: $color-gray-4;
            color: $color-gray-4;
        }
    }
}

.rainbow-radio-button-group_text-error {
    font-size: $font-size-text-medium;
    margin-top: $margin-x-small;
    display: block;
    color: $color-error-active;
    text-align: center;
}

.rainbow-radio-button-group_radio [type='radio'] {
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
