/* stylelint-disable no-descending-specificity,max-line-length */
.rainbow-radio-button-group_inner-container .rainbow-radio-button-group_radio .rainbow-radio-button-group_radio-label-container {
  border-radius: 0;
  border-width: 1px; }

.rainbow-radio-button-group_container {
  position: relative;
  text-align: center; }

.rainbow-radio-button-group_label {
  display: block;
  text-align: center;
  color: #576574;
  font-size: 0.875rem;
  margin-right: 0.75rem;
  margin-bottom: 0.25rem; }

.rainbow-radio-button-group_inner-container {
  border-radius: 1.25rem;
  border: solid 1px #e3e5ed;
  background-color: rgba(227, 229, 237, 0.4);
  height: 2.5rem;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .rainbow-radio-button-group_inner-container .rainbow-radio-button-group_radio .rainbow-radio-button-group_radio-label-container {
    display: block;
    border-radius: 1.25rem;
    height: 2.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    z-index: 0;
    margin-top: -1px; }
    .rainbow-radio-button-group_inner-container .rainbow-radio-button-group_radio .rainbow-radio-button-group_radio-label-container span {
      padding-top: calc(0.75rem + 3px);
      transition: all 0.3s cubic-bezier(0.75, 0, 0.08, 1); }
  .rainbow-radio-button-group_inner-container .rainbow-radio-button-group_radio:not(.rainbow-radio-button-group_radio--disabled) .rainbow-radio-button-group_radio-label-container {
    transition: all 0.3s cubic-bezier(0.75, 0, 0.08, 1); }
  .rainbow-radio-button-group_inner-container .rainbow-radio-button-group_radio:not(.rainbow-radio-button-group_radio--disabled):hover:not(.rainbow-radio-button-group_radio--checked) .rainbow-radio-button-group_radio-label-container {
    z-index: 1;
    background-color: #e3e5ed; }

.rainbow-radio-button-group_text-error {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  display: block;
  color: #ea4243; }

.rainbow-radio-button-group_radio {
  display: inline-block; }

.rainbow-radio-button-group_radio-label {
  display: inline;
  vertical-align: middle;
  font-size: 1rem;
  color: #061c3f;
  line-height: 1.65rem; }

.rainbow-radio-button-group_radio-label--disabled {
  color: #a4a7b5; }

.rainbow-radio-button-group_radio [type='radio'] {
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute; }

.rainbow-radio-button-group_radio--checked .rainbow-radio-button-group_radio-label-container {
  z-index: 2;
  box-shadow: 0 0 2px 0 #a4a7b5; }

.rainbow-radio-button-group_radio--checked > .rainbow-radio-button-group_radio-label-container {
  background-color: white;
  border-color: white; }
  .rainbow-radio-button-group_radio--checked > .rainbow-radio-button-group_radio-label-container span {
    color: #061c3f; }

.rainbow-radio-button-group--brand .rainbow-radio-button-group_radio--checked > .rainbow-radio-button-group_radio-label-container {
  background-color: #01b6f5;
  border-color: #01aae5; }
  .rainbow-radio-button-group--brand .rainbow-radio-button-group_radio--checked > .rainbow-radio-button-group_radio-label-container span {
    color: white; }

.rainbow-radio-button-group--inverse .rainbow-radio-button-group_inner-container {
  border-color: rgba(227, 229, 237, 0) !important;
  background-color: #031025; }
  .rainbow-radio-button-group--inverse .rainbow-radio-button-group_inner-container .rainbow-radio-button-group_radio:first-child {
    margin-left: -1px; }
  .rainbow-radio-button-group--inverse .rainbow-radio-button-group_inner-container .rainbow-radio-button-group_radio:last-child {
    margin-right: -1px; }
  .rainbow-radio-button-group--inverse .rainbow-radio-button-group_inner-container .rainbow-radio-button-group_radio .rainbow-radio-button-group_radio-label-container span {
    color: white; }
  .rainbow-radio-button-group--inverse .rainbow-radio-button-group_inner-container .rainbow-radio-button-group_radio:not(.rainbow-radio-button-group_radio--disabled):hover:not(.rainbow-radio-button-group_radio--checked) .rainbow-radio-button-group_radio-label-container {
    background-color: #061c3f; }
  .rainbow-radio-button-group--inverse .rainbow-radio-button-group_inner-container .rainbow-radio-button-group_radio--checked .rainbow-radio-button-group_radio-label-container {
    box-shadow: 0 0 2px 0 #029bd3;
    background-color: #029bd3; }
