/* stylelint-disable no-descending-specificity,max-line-length */
@import "./../../styles/colors.scss";
@import '../../styles/margins.scss';
@import '../../styles/paddings.scss';
@import '../../styles/font-sizes.scss';
@import '../../styles/border-radius.scss';

%center-content {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.rainbow-radio-button-group_container {
    @extend %center-content;

    position: relative;
    flex-direction: column;
}

.rainbow-radio-button-group_label {
    display: inline-block;
    color: $color-gray-4;
    font-size: $font-size-text-medium;
    line-height: 1.5;
    margin: 0 auto 0.125rem auto;
    text-align: center;
}

.rainbow-radio-button-group_marker-container {
    @extend %center-content;

    position: absolute;
    width: 100%;
    line-height: 2.5rem;
    height: 2.5rem;

    .rainbow-radio-button-group_marker {
        position: absolute;
        background: white;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 2.6rem;
        margin-top: -0.05rem;
        border-color: white;
        border-radius: $border-radius-2;
        border: solid 1px transparent;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
        transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), all 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
        transform: translate3d(0, 0, 0);
    }
}

.rainbow-radio-button-group_items-container {
    @extend %center-content;

    border-radius: $border-radius-2;
    border: solid 1px #e3e5ed;
    background-color: rgba(227, 229, 237, 0.4);
    line-height: 2.5rem;
    height: 2.5rem;

    .rainbow-radio-button-group_radio {
        @extend %center-content;

        height: 2.5rem;
        border-radius: $border-radius-2;
        border: solid 1px transparent;
        transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), all 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
        transform: translate3d(0, 0, 0);

        &:first-child {
            margin-left: -1px;
        }

        &:last-child {
            margin-right: -1px;
        }

        &:hover {
            background-color: rgba(227, 229, 237, 0.4);
            cursor: pointer;
        }

        .rainbow-radio-button-group_radio-label-container:hover {
            cursor: pointer;
        }

        .rainbow-radio-button-group_radio-label {
            font-size: $font-size-text-large;
            color: $color-gray-3;
            padding: 0 $padding-large;
            font-weight: 400;
        }
    }

    .rainbow-radio-button-group_radio--checked {
        transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), all 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
        transform: translate3d(0, 0, 0);
        height: 2.6rem;

        &:hover {
            background-color: transparent;
        }

        .rainbow-radio-button-group_radio-label {
            color: $color-dark-1;
        }
    }

    .rainbow-radio-button-group_radio--disabled {
        &:hover {
            background-color: transparent;
        }

        .rainbow-radio-button-group_radio-label-container:hover {
            cursor: not-allowed;
        }

        .rainbow-radio-button-group_radio-label--disabled {
            color: $color-gray-2;
        }
    }
}

.rainbow-radio-button-group--brand {
    .rainbow-radio-button-group_marker-container .rainbow-radio-button-group_marker {
        background-color: $color-brand;
        border-color: #01aae5;
        box-shadow: 0 0 3px 0 rgba(1, 38, 96, 0.4);
    }

    .rainbow-radio-button-group_items-container .rainbow-radio-button-group_radio--checked {
        transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), all 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
        transform: translate3d(0, 0, 0);

        .rainbow-radio-button-group_radio-label {
            color: white;
        }
    }
}

.rainbow-radio-button-group--inverse {
    .rainbow-radio-button-group_label {
        color: white;
    }

    .rainbow-radio-button-group_marker-container {
        .rainbow-radio-button-group_marker {
            box-shadow: 0 0 4px 0 #029bd3;
            background-color: #029bd3;
            border: solid 1px #009acf;
        }
    }

    .rainbow-radio-button-group_items-container {
        border-color: rgba(0, 0, 0, 0.4);
        background-color: rgba(0, 0, 0, 0.4);

        .rainbow-radio-button-group_radio {
            .rainbow-radio-button-group_radio-label {
                color: white;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }
        }

        .rainbow-radio-button-group_radio--checked {
            transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), all 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
            transform: translate3d(0, 0, 0);

            &:hover {
                background-color: transparent;
            }
        }
    }
}

.rainbow-radio-button-group--inverse .rainbow-radio-button-group_items-container .rainbow-radio-button-group_radio--disabled {
    &:hover {
        background-color: transparent;
    }

    .rainbow-radio-button-group_radio-label-container {
        .rainbow-radio-button-group_radio-label--disabled {
            background-color: transparent;
            border-color: $color-gray-4;
            color: $color-gray-4;
        }
    }
}

.rainbow-radio-button-group_text-error {
    font-size: $font-size-text-medium;
    margin-top: $margin-x-small;
    color: $color-error-active;
    text-align: center;
}

.rainbow-radio-button-group_radio [type='radio'] {
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
