.rainbow-import-records-flow_step-one-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rainbow-import-records-flow_step-one-visual-picker {
    padding: 24px;
}
