.rainbow-import-records-flow_step-one-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 16px 0; }

.rainbow-import-records-flow_step-one-visual-picker {
  margin: 0 24px 16px 24px; }
