@import "./../../styles/margins.scss";
@import "./../../styles/colors.scss";
@import "./../../styles/shadows.scss";
@import "./../../styles/border-radius.scss";
@import "./../../styles/font-sizes.scss";

.rainbow-google-map {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;
    background: transparent;
    display: flex;
    flex-direction: column;
}

.rainbow-google-map_map-container {
    align-self: center;
    border: solid 1px $color-gray-2;
    border-radius: $border-radius-1;
    box-shadow: $shadow-4;
    height: 99%;
    width: 99%;
}

.rainbow-google-map_header {
    font-size: $font-size-heading-small;
    font-weight: 900;
    color: $color-dark-1;
}

.rainbow-google-map_coordinates-container {
    margin-top: $margin-medium;
    align-self: center;
    width: 99%;
}
