/* stylelint-disable no-descending-specificity */
.rainbow-google-address-lookup_container .rainbow-google-address-poweredby_container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.rainbow-google-address-lookup_container .rainbow-lookup_input-icon svg {
  width: 24px !important;
  height: 24px !important;
  font-size: 24px !important; }

.rainbow-google-address-lookup_container .rainbow-google-address-poweredby_container img {
  margin-top: 0.25rem;
  margin-right: 0.5rem;
  height: 0.625rem; }
