.react-rainbow-utils-item_example-container {
    position: relative;
    margin: 0 32px 32px 32px;
}

.react-rainbow-utils-item_example-container:hover a {
    text-decoration: none;
}

.react-rainbow-utils-item_github-link {
    position: absolute;
    top: 16px;
    right: 16px;
}

.react-rainbow-utils_link {
    margin: 0 32px 32px 32px;
}

.react-rainbow-utils_link:hover, .react-rainbow-utils_link:focus {
    text-decoration: none;
}

.react-rainbow-utils-item, .react-rainbow-utils-item_example-container {
    width: 360px;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.react-rainbow-utils-item:hover {
    box-shadow: 0 4px 8px 0 #e3e5ed;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.react-rainbow-utils-item_img-container, .react-rainbow-utils-item_example-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
}

.react-rainbow-utils-item_img-container {
    margin-top: 0.75rem;
}

.react-rainbow-utils-item_example-img-container {
    margin-top: 24px;
}

.react-rainbow-utils-item_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.react-rainbow-utils-item_page-object-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-rainbow-utils-item_header {
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    color: #01b6f5;
    text-align: justify;
    align-self: center;
    text-decoration: none;
}

.react-rainbow-utils-item_example-header {
    font-size: 20px;
    margin: 0;
    color: #061c3f;
    text-align: justify;
    align-self: flex-start;
}

.react-rainbow-utils-item_description {
    font-size: 14px;
    line-height: 1.5;
    color: #576574;
    align-self: flex-start;
    text-align: justify;
}

.react-rainbow-utils_text {
    display: flex;
    flex-direction: column;
}

.react-rainbow-utils_text-header {
    font-size: 20px;
    font-weight: 300;
    color: #061c3f;
}

.react-rainbow-utils_text-description {
    font-size: 14px;
    line-height: 1.5;
    color: #576574;
    margin: 16px 0 8px 0;
}

@media (max-width: 400px) {

    .react-rainbow-utils-item {
        margin: 0 16px 16px 24px;
        width: 300px;
    }
}
