.react-rainbow-utils_link {
    margin: 0 16px 20px 16px;
}

.react-rainbow-utils_link:hover, .react-rainbow-utils_link:focus, {
    text-decoration: none;
}

.react-rainbow-utils-item_page-object {
    width: 260px;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.react-rainbow-utils-item:hover, .react-rainbow-utils-item_page-object:hover {
    box-shadow: 0 4px 8px 0 #e3e5ed;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.react-rainbow-utils-item_img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.react-rainbow-utils-item_img-container > svg {
    height: 56px;
}

.react-rainbow-utils-item_img-container  {
    margin-top: 0.75rem;
}

.react-rainbow-utils-item_page-object-content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.react-rainbow-utils-item_page-object-content > svg {
    flex-shrink: 0;
}

.react-rainbow-utils-item_header {
    font-size: 14px;
    font-weight: 500;
    margin-left: 8px;
    color: #01b6f5;
    text-align: left;
    align-self: center;
    text-decoration: none;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.react-rainbow-utils_text {
    display: flex;
    flex-direction: column;
}

.react-rainbow-utils_text-header {
    font-size: 20px;
    font-weight: 300;
    color: #061c3f;
}

.react-rainbow-utils_empty-test-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.react-rainbow-utils_text-empty {
    font-size: 12px;
    line-height: 1.5;
    color: #576574;
    text-align: center;
    display: inline-flex;
    flex-grow: 0;
}

.react-rainbow-utils_text-description {
    font-size: 14px;
    line-height: 1.5;
    color: #576574;
    margin: 16px 0 8px 0;
}

.react-rainbow-utils_examples-card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 1.2rem 0;
}

@media (max-width: 700px) {
    .react-rainbow-utils_link, .react-rainbow-utils-item_page-object {
        width: 100%;
    }

    .react-rainbow-utils_link {
        margin: 0 0 16px 0;
    }

    .react-rainbow-utils-item_img-container {
        height: 120px;
    }
}
