.rainbow-textarea_container {
  position: relative;
  display: flex;
  flex-direction: column; }

.rainbow-textarea_label {
  color: #576574;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 0.125rem;
  align-self: center; }
  .rainbow-textarea_label:empty {
    margin: 0; }
  .rainbow-textarea_label[readonly] {
    align-self: flex-start;
    margin-bottom: 0.25rem; }

.rainbow-textarea {
  border-radius: 0.875rem;
  background-color: #fff;
  border: solid 1px #a4a7b5;
  transition: all 0.1s linear;
  width: 100%;
  padding: 0.625rem 1rem;
  resize: none;
  font-size: 1rem;
  line-height: 1.57;
  color: #061c3f; }
  .rainbow-textarea:focus, .rainbow-textarea:active {
    outline: 0;
    background-color: #fff;
    border: solid 2px #01b6f5;
    box-shadow: 0 0 2px #01b6f5;
    padding: 0.5625rem 0.9375rem; }
  .rainbow-textarea::placeholder {
    color: #a4a7b5;
    font-weight: 300;
    font-size: 1rem; }
  .rainbow-textarea[disabled] {
    cursor: not-allowed;
    user-select: none;
    background-color: #f4f6f9;
    border: solid 1px #e3e5ed;
    color: #e3e5ed; }
    .rainbow-textarea[disabled]:focus, .rainbow-textarea[disabled]:active {
      box-shadow: none;
      padding: 0.625rem 1rem; }
    .rainbow-textarea[disabled]::placeholder {
      color: #e3e5ed; }
  .rainbow-textarea[readonly] {
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 0; }
    .rainbow-textarea[readonly]:focus, .rainbow-textarea[readonly]:active {
      box-shadow: none;
      border: none; }

.rainbow-textarea_bottom-help {
  color: #061c3f;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  align-self: center; }

.rainbow-textarea--error .rainbow-textarea_text-error {
  color: #ea4243;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  align-self: center; }

.rainbow-textarea--error .rainbow-textarea {
  background-color: #fff;
  border: solid 2px #fe4849;
  background-clip: padding-box; }
  .rainbow-textarea--error .rainbow-textarea:focus, .rainbow-textarea--error .rainbow-textarea:active {
    padding: 0.625rem 1rem;
    box-shadow: 0 0 2px #fe4849; }

.rainbow-textarea_label--hide-label {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  text-transform: none !important;
  white-space: nowrap !important; }
