.react-rainbow-feature-list {
    display: inline-flex;
    flex-wrap: wrap;
    padding-top: 48px;
}

.react-rainbow-feature-list_item {
    width: 250px;
    padding-bottom: 64px;
    margin: 0 32px;
}

.react-rainbow-feature-list_item-image {
    height: 100px;
}

.react-rainbow-feature-list_item-title {
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #061c3f;
    padding-top: 32px;
}

.react-rainbow-feature-list_item-description {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: #576574;
    padding-top: 12px;
}

.react-rainbow-font-code {
    font-family: Consolas, "Liberation Mono", Menlo, monospace;
    font-size: 13px;
    color: #061c3f;
    margin-left: 8px;
}

.react-rainbow-getting-started_github-icon {
    width: 15px;
}

@media (max-width: 1024px) {
    .react-rainbow-feature-list_item {
        width: 40%;
        padding-bottom: 64px;
        margin: 0 24px;
    }
}

@media (max-width: 700px) {
    .react-rainbow-feature-list {
        display: flex;
        justify-content: center;
        padding-top: 24px;
    }

    .react-rainbow-feature-list_item {
        width: 100%;
        padding: 0 16px 48px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .react-rainbow-feature-list_item-title, .react-rainbow-feature-list_item-description {
        text-align: center;
    }
}
