.rainbow-lookup_options-container {
  padding: 8px 0;
  overflow-y: auto; }

.rainbow-lookup_options-container--empty {
  font-size: 14px;
  color: #a4a7b5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 16px;
  letter-spacing: normal;
  line-height: 1.43;
  text-align: center; }

.rainbow-lookup_options-empty-message_search-icon {
  height: 36px;
  width: 36px; }

.rainbow-lookup_options-empty-message {
  margin-top: 12px;
  width: 90%; }

.rainbow-lookup_options-empty-message_match-value {
  color: #061c3f;
  font-family: "Lato Black", Arial, sans-serif;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.rainbow-lookup_menu-item > .rainbow-lookup_menu-item-link {
  box-sizing: border-box;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  height: 48px;
  padding: 0 1.15rem 0 1.15rem;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer; }

.rainbow-lookup_menu-item--active > .rainbow-lookup_menu-item-link {
  background-color: #f4f6f9; }

.rainbow-lookup_menu-item_icon-container {
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center; }

.rainbow-lookup_menu-item_label-container {
  font-size: 14px;
  font-weight: 500;
  color: #061c3f;
  display: flex;
  flex-direction: column; }

.rainbow-lookup_menu-item_description {
  font-size: 10px;
  font-weight: normal;
  color: #576574; }

.rainbow-lookup_menu-item_header {
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  color: #a4a7b5;
  font-size: 14px;
  font-weight: normal;
  height: 48px;
  padding: 0 1rem 0 1rem;
  text-transform: uppercase; }
