.react-rainbow-title-text {
    font-weight: 300;
    line-height: 1.25;
    margin-left: 64px;
}

.react-rainbow-github-badge-container {
    margin-right: 64px;
}

.react-rainbow-github-badge {
    border-color: #061c3f;
    background-color: transparent;
    font-size: 0.8rem;
    color: #061c3f;
}

.react-rainbow-heading-container {
    top: 0;
    height: 68px;
    background-color: #fff;
    margin-left: -64px;
    width: calc(100vw - 250px);
    z-index: 10000;
    box-shadow: 0 1px 2px 0 #e3e5ed;
}

@media (max-width: 800px) {
    .react-rainbow-heading-container {
        width: calc(100vw - 200px);
        margin-left: -24px;
    }
    .react-rainbow-title-text {
        margin-left: 24px;
    }
    .react-rainbow-github-badge-container {
        margin-right: 24px;
    }
}

@media (max-width: 600px) {
    .react-rainbow-heading-container {
        width: 100vw;
        margin-left: -16px;
    }
    .react-rainbow-title-text {
        margin-left: 16px;
    }
    .react-rainbow-github-badge-container {
        margin-right: 16px;
    }
}