.react-rainbow-github-badge-container {
    margin-right: 56px;
}

.react-rainbow-github-badge {
    border-color: #061c3f;
    background-color: transparent;
    font-size: 0.8rem;
    color: #061c3f;
}

.react-rainbow-heading-container {
    top: 0;
    left: 0;
    height: 68px;
    background-color: #fff;
    width: 100vw;
    z-index: 10000;
    border-bottom: 1px solid #f4f6f9;
}

@media (max-width: 800px) {
    .react-rainbow-github-badge-container {
        margin-right: 24px;
    }
}

@media (max-width: 600px) {
    .react-rainbow-heading-container {
        width: 100vw;
    }
    .react-rainbow-github-badge-container {
        margin-right: 16px;
    }
}
