.react-rainbow-github-badge-container {
    margin-right: 32px;
}

.react-rainbow-github-badge {
    border-color: #061c3f;
    background-color: transparent;
    font-size: 0.8rem;
    color: #061c3f;
}

.react-rainbow-github-badge_icon {
    margin-right: 4px;
}

.react-rainbow-heading-container {
    top: 0;
    left: 0;
    height: 68px;
    background-color: #fff;
    width: 100vw;
    z-index: 3000;
    border-bottom: 1px solid #f4f6f9;
}

.react-rainbow-heading_hamburger-button {
    display: none;
}

@media (max-width: 800px) {
    .react-rainbow-github-badge-container {
        margin-right: 24px;
    }

    .react-rainbow-heading_hamburger-button {
        display: inline-block;
        margin-left: 8px;
    }
}

@media (max-width: 600px) {
    .react-rainbow-github-badge-container {
        margin-right: 8px;
    }

    .react-rainbow-github-stars-container {
        display: none;
    }
}
