.rainbow-carousel-image-container {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.rainbow-carousel-image {
  display: block;
  border: 1px solid #dddbda;
  border-radius: 0.875rem;
  box-shadow: 0 1px 2px 0 #e3e5ed;
  overflow: hidden;
  cursor: pointer;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit; }
  .rainbow-carousel-image:active {
    outline: none; }
  .rainbow-carousel-image:active, .rainbow-carousel-image:focus, .rainbow-carousel-image:hover {
    color: inherit;
    text-decoration: inherit; }

.rainbow-carousel-image_image {
  width: 100%; }

.rainbow-carousel-image-content {
  background: white;
  padding: 0.75rem;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto; }

.rainbow-carousel-image-content-title {
  font-size: 1rem;
  font-weight: 600; }
