.rainbow-carousel-image_container {
  border-radius: 0.875rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  width: 100%; }

.rainbow-carousel-image {
  display: block;
  border: 1px solid #dddbda;
  border-radius: 0.875rem;
  box-shadow: 0 1px 2px 0 #e3e5ed;
  overflow: hidden;
  cursor: pointer;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
  width: 98%;
  height: 98%;
  margin-left: 1%;
  margin-top: 1%; }
  .rainbow-carousel-image:active, .rainbow-carousel-image:focus {
    color: inherit;
    text-decoration: inherit;
    box-shadow: 0 0 8px #01b6f5;
    outline: none; }

.rainbow-carousel-image_image {
  width: 100%; }

.rainbow-carousel-image_content {
  background: white;
  padding: 0.75rem;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto; }

.rainbow-carousel-image_content-title {
  font-size: 1rem;
  font-weight: 600; }

.rainbow-carousel-image--active {
  transform: translateX(0);
  position: relative; }

.rainbow-carousel-image--slide-in_rtl {
  transform: translateX(0) !important;
  position: relative;
  animation: slide-in-rtl;
  animation-timing-function: linear;
  animation-duration: 700ms; }

@keyframes slide-in-rtl {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

.rainbow-carousel-image--slide-out_rtl {
  transform: translateX(-100%) !important;
  animation: slide-out-rtl;
  animation-timing-function: linear;
  animation-duration: 700ms; }

@keyframes slide-out-rtl {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }

.rainbow-carousel-image--slide-in_ltr {
  transform: translateX(0) !important;
  position: relative;
  animation: slide-in-ltr;
  animation-timing-function: linear;
  animation-duration: 700ms; }

@keyframes slide-in-ltr {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

.rainbow-carousel-image--slide-out_ltr {
  transform: translateX(100%) !important;
  animation: slide-out-ltr;
  animation-timing-function: linear;
  animation-duration: 700ms; }

@keyframes slide-out-ltr {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(100%); } }
