.rainbow-carousel-image_container {
  border-radius: 0.875rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  width: 100%;
  height: 100%; }

.rainbow-carousel-image {
  display: block;
  border-radius: 0.875rem;
  overflow: hidden;
  cursor: pointer;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
  height: 100%; }

.rainbow-carousel-image_content-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.rainbow-carousel-image_image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.rainbow-carousel-image_content {
  background: white;
  padding: 0.75rem;
  text-align: center; }

.rainbow-carousel-image_content-title {
  font-size: 1rem;
  font-weight: 600; }

.rainbow-carousel-image--active {
  transform: translateX(0);
  position: relative; }

.rainbow-carousel-image--slide-in_right-to-left {
  transform: translateX(0) !important;
  position: relative;
  animation: slide-in-right-to-left;
  animation-timing-function: linear;
  animation-duration: 550ms; }

@keyframes slide-in-right-to-left {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

.rainbow-carousel-image--slide-out_right-to-left {
  transform: translateX(-100%) !important;
  animation: slide-out-right-to-left;
  animation-timing-function: linear;
  animation-duration: 550ms; }

@keyframes slide-out-right-to-left {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }

.rainbow-carousel-image--slide-in_left-to-right {
  transform: translateX(0) !important;
  position: relative;
  animation: slide-in-left-to-right;
  animation-timing-function: linear;
  animation-duration: 550ms; }

@keyframes slide-in-left-to-right {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

.rainbow-carousel-image--slide-out_left-to-right {
  transform: translateX(100%) !important;
  animation: slide-out-left-to-right;
  animation-timing-function: linear;
  animation-duration: 550ms; }

@keyframes slide-out-left-to-right {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(100%); } }
