.react-rainbow-donwload-button_anchor {
    box-shadow: 0 0 2px 0 #e3e5ed;
    border-radius: 100px;
    position: relative;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px 0 16px;
    line-height: 44px;
    border: solid 1px #e3e5ed;
}

.react-rainbow-donwload-button_anchor:hover {
    background-color: #f9f9f9;
    text-decoration: none;
}

.react-rainbow-donwload-button_anchor:focus {
    box-shadow: 0 0 2px 0 #01b6f5;
    text-decoration: none;
}

.react-rainbow-donwload-button_anchor:active {
    transform: scale(0.95);
    transition: all 0.2s ease;
    text-decoration: none;
}

.react-rainbow-donwload-button_text {
    font-size: 16px;
    color: #01b6f5;
}

.react-rainbow-donwload-button_icon {
    width: 24px;
    margin-right: 12px;
    flex-shrink: 0;
}
