/* stylelint-disable no-descending-specificity */
.rainbow-table_header-wrapper {
  height: 100%;
  display: flex; }

.rainbow-table_header-container {
  height: 100%;
  padding: 0 0.5rem;
  border: 1px transparent solid;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1; }

.rainbow-table_header-content {
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1; }

.rainbow-table_header-resize-bar {
  height: 100%;
  width: 3px;
  border-radius: 100px;
  margin-left: -1px;
  background-color: transparent;
  will-change: transform;
  z-index: 5000; }
  .rainbow-table_header-resize-bar:hover {
    background-color: #01b6f5 !important;
    cursor: col-resize; }
    .rainbow-table_header-resize-bar:hover .rainbow-table_header-resize-bar_table-guideline {
      background-color: #01b6f5; }
  .rainbow-table_header-resize-bar:active {
    background-color: #009acf !important; }

.rainbow-table_header-resize-bar_table-guideline {
  height: 100vh;
  background-color: transparent;
  width: 1px;
  position: absolute;
  right: 0; }
  .rainbow-table_header-resize-bar_table-guideline:hover {
    background-color: #01b6f5; }
  .rainbow-table_header-resize-bar_table-guideline:active {
    background-color: #009acf; }

.rainbow-table_header-resize-bar_input {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  text-transform: none !important;
  white-space: nowrap !important; }

.rainbow-table_header--sortable {
  cursor: pointer; }
  .rainbow-table_header--sortable:hover .rainbow-table_header-wrapper {
    background-color: #fff; }
  .rainbow-table_header--sortable:hover .rainbow-table_header-resize-bar {
    background-color: #e3e5ed; }
  .rainbow-table_header--sortable:hover .rainbow-table_header-container {
    border-color: #e3e5ed;
    border-right-color: transparent; }
  .rainbow-table_header--sortable:hover .rainbow-table_header-arrow {
    visibility: visible; }

.rainbow-table_header--selected .rainbow-table_header-container {
  background-color: #fff;
  border-color: #01b6f5; }

.rainbow-table_header--selected .rainbow-table_header-content {
  color: #01b6f5; }

.rainbow-table_header--selected .rainbow-table_header-arrow {
  visibility: visible; }

.rainbow-table_header--selected .rainbow-table_header-resize-bar, .rainbow-table_header--selected:hover .rainbow-table_header-resize-bar {
  background-color: #01b6f5; }

.rainbow-table_header--selected:hover .rainbow-table_header-container {
  border-color: #01b6f5; }

.rainbow-table_header {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 900;
  color: #576574;
  height: 44px;
  position: relative; }
  .rainbow-table_header:first-of-type .rainbow-table_header-content-wrapper {
    padding-left: 18px; }
  .rainbow-table_header:focus {
    outline: none; }

.rainbow-table_header-arrow {
  visibility: hidden; }

.rainbow-table_header-arrow--asc {
  transform: rotate(-180deg); }
