/* stylelint-disable no-descending-specificity */
@import "../../../styles/colors";
@import "../../../styles/font-sizes";
@import "../../../styles/paddings";

.rainbow-table_header {
    text-transform: uppercase;
    font-size: $font-size-text-medium;
    font-weight: 900;
    color: $color-gray-4;
    line-height: normal;
    white-space: nowrap;
    position: static;
    padding: 0;
    border-top: 0;

    &:focus {
        outline: none;
    }
}

.rainbow-table_header-wrapper {
    outline: none;
    position: absolute;
    top: 0;
    height: 44px;
}

.rainbow-table_header-checkbox-container {
    align-items: center;
    display: flex;
    padding: 0 15px;
    border: 1px solid transparent;
    border-top: 1px solid #e3e5ed;
    border-bottom: 1px solid #e3e5ed;
}

.rainbow-table_header-container {
    border: 1px transparent solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    padding: 0 $padding-x-small;
    border-top: 1px solid #e3e5ed;
    border-bottom: 1px solid #e3e5ed;
}

th:first-of-type .rainbow-table_header-container {
    padding-left: 18px;
}

.rainbow-table_header-content {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rainbow-table_header-resize-bar {
    background-color: transparent;
    border-radius: 100px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
    z-index: 5000;
    cursor: col-resize;

    &:hover {
        background-color: $color-brand !important;

        & .rainbow-table_header-resize-bar_table-guideline {
            background-color: $color-brand;
        }
    }

    &:active {
        background-color: $color-brand-active !important;

        & .rainbow-table_header-resize-bar_table-guideline {
            background-color: $color-brand-active;
        }
    }
}

.rainbow-table_header-resize-bar_table-guideline {
    background-color: transparent;
    height: 100vh;
    position: absolute;
    right: 0;
    width: 1px;

    &:hover {
        background-color: $color-brand;
    }

    &:active {
        background-color: $color-brand-active;
    }
}

.rainbow-table_header-resize-bar_input {
    position: absolute !important;
    margin: -1px !important;
    border-width: 0 !important;
    border-style: initial !important;
    border-color: initial !important;
    border-image: initial !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    text-transform: none !important;
    white-space: nowrap !important;
}

.rainbow-table_header--sortable {
    cursor: pointer;

    &:hover {
        .rainbow-table_header-wrapper {
            background-color: #fff;
        }

        .rainbow-table_header-resize-bar {
            background-color: $color-gray-2;
        }

        .rainbow-table_header-container {
            border-color: $color-gray-2;
        }

        .rainbow-table_header-arrow {
            visibility: visible;
        }
    }
}

.rainbow-table_header--selected {
    .rainbow-table_header-container {
        background-color: #fff;
        border-color: $color-brand;
    }

    .rainbow-table_header-content {
        color: $color-brand;
    }

    .rainbow-table_header-arrow {
        visibility: visible;
    }

    .rainbow-table_header-resize-bar, &:hover .rainbow-table_header-resize-bar {
        background-color: $color-brand;
    }

    &:hover .rainbow-table_header-container {
        border-color: $color-brand;
    }
}

.rainbow-table_header--resizable {
    cursor: pointer;

    &:hover {
        .rainbow-table_header-wrapper {
            background-color: #fff;
        }

        .rainbow-table_header-resize-bar {
            background-color: $color-gray-2;
        }

        .rainbow-table_header-container {
            border-color: $color-gray-2;
            border-right-color: transparent;
        }
    }
}

.rainbow-table_header-arrow {
    flex-shrink: 0;
    visibility: hidden;
}

.rainbow-table_header-arrow--asc {
    transform: rotate(-180deg);
}
