.react-rainbow-experience-example-cards_example-container {
    position: relative;
    margin: 0 8px 12px 8px;
    width: 296px;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.react-rainbow-experience-example-cards_example-link:hover, .react-rainbow-experience-example-cards_example-link:focus {
    text-decoration: none;
}

.react-rainbow-experience-example-cards {
    width: 294px;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: none;
}

.react-rainbow-experience-example-cards footer {
    border-top: 1px solid rgba(164, 167, 181, 0.25);
}

.react-rainbow-experience-example-cards:hover {
    box-shadow: 0 4px 8px 0 #e3e5ed;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.react-rainbow-experience-example-cards_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.react-rainbow-experience-example-cards_example-header {
    font-size: 16px;
    margin: 0;
    color: #061c3f;
    text-align: justify;
    align-self: flex-start;
}

.react-rainbow-experience-example-cards_description {
    font-size: 14px;
    line-height: 1.5;
    color: #576574;
    align-self: flex-start;
    text-align: justify;
    overflow: hidden;
    max-height: 4rem;
}

.react-rainbow-experience-example-cards_description::before {
    content:'...';
    position: absolute;
    bottom: 0.75rem;
    right: 0.275rem;
}

.react-rainbow-experience-example-cards_description::after {
    content: '';
    position: absolute;
    width: 12rem;
    height: 2rem;
    background-color: white;
}

.react-rainbow-experience-example-cards_description:hover {
    max-height: 100%;
}

.react-rainbow-experience-example-cards_description:hover::before {
    content: '';
}

.react-rainbow-experience-example-cards_example-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: 0.75rem;
}

.react-rainbow-experience-example-cards_example-img-container {
    margin: 1.6rem 0.75rem 0.85rem 0.75rem;
}

.react-rainbow-experience-example-cards_example-img {
    height: 90px;
}

.react-rainbow-experience-example-cards_github-link {
    position: absolute;
    background-color: #01B6F5;
    top: -4px;
    right: 12px;
    padding: 2px 5px 4px 5px;
    border-radius: 4px 4px 0 0;
}

.react-rainbow-experience-example-cards_github-link::before {
    border-left: 18px solid #01B6F5;
    border-right: 18px solid #01B6F5;
    border-bottom: 8px solid transparent;
    top: 25px;
    bottom: 0;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}

.react-rainbow-experience-example-cards_github-link:hover {
    background-color: #009ACF;
}

.react-rainbow-experience-example-cards_github-link:hover::before {
    border-left: 18px solid #009ACF;
    border-right: 18px solid #009ACF;
}

.react-rainbow-experience-example-cards_github-link > svg {
    fill: white;
    height: 16px;
}

@media (max-width: 600px) {
    .react-rainbow-experience-example-cards {
        width: 100%;
    }

    .react-rainbow-experience-example-cards_example-container {
        margin: 0 0 20px 0;
        width: 100%;
    }

    .react-rainbow-experience-example-cards_description {
        max-height: 100%;
    }
    .react-rainbow-experience-example-cards_description::before {
        content:'';
    }
}
