.rainbow-import-records-flow_step-three-assign-button {
  background: transparent;
  border: none;
  color: #01b6f5;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  text-align: center;
  text-decoration: underline;
  vertical-align: middle;
  -webkit-appearance: none;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.rainbow-import-records-flow_step-three-cvs-field-not-assigned {
  align-items: center;
  display: flex;
  color: #d0021b;
  font-size: 14px; }

.rainbow-import-records-flow_step-three-cancel-icon {
  margin-left: 8px; }

.rainbow-import-records-flow_step-three-assign-field-modal-content {
  margin-bottom: 100px; }

.rainbow-import-records-flow_step-three-field-select {
  margin-bottom: 8px; }

.rainbow-import-records-flow_step-three-assign-field-modal-footer {
  display: flex;
  justify-content: flex-end; }

.rainbow-import-records-flow_step-three-assign-field-modal-footer_cancel-button {
  margin-right: 24px; }

.rainbow-import-records-flow_step-three-chip-field {
  margin-right: 8px; }

.rainbow-import-records-flow_step-three-assign-field-modal-preview-text {
  color: #061c3f;
  font-size: 14px;
  margin: 16px 0 8px 0; }

.rainbow-import-records-flow_step-three-assign-field-modal-preview-bold-text {
  font-family: 'Lato Black', sans-serif; }
