/* stylelint-disable no-descending-specificity,max-line-length */
@import "../../styles/colors";
@import "../../styles/shadows";
@import "../../styles/margins";
@import "../../styles/font-sizes";
@import "../../styles/border-radius";

@mixin user-select() {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rainbow-radio-group_container {
    position: relative;
}

.rainbow-radio-group_label {
    display: inline-block;
    color: $color-gray-4;
    font-size: $font-size-text-small;
    margin-right: $margin-small;
    margin-bottom: $margin-xx-small;
}

.rainbow-radio-group_inner-container {
    .rainbow-radio {
        display: block;
    }
}

.rainbow-radio-group_help {
    font-size: $font-size-text-small;
    margin-top: $margin-x-small;
    display: block;
    color: $color-error-active;
}

.rainbow-radio {
    display: inline-block;
}

.rainbow-radio {
    .rainbow-radio_faux {
        width: 1.25rem;
        height: 1.25rem;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        border: 0.0625rem solid $color-gray-2;
        border-radius: $border-radius-2;
        background-color: white;
        transition: border 0.1s linear, background-color 0.1s linear;
    }
}

.rainbow-radio_label {
    display: inline;
    vertical-align: middle;
    font-size: $font-size-text-medium;
    color: $color-dark-1;
    line-height: 1.65rem;
}

.rainbow-radio_label--disabled {
    color: $color-gray-3;
}

.rainbow-radio [type="radio"] {
    width: 0.0625rem;
    height: 0.0625rem;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -0.0625rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.rainbow-radio [type="radio"]:checked + .rainbow-radio_faux,
.rainbow-radio [type="radio"]:checked ~ .rainbow-radio_faux,
.rainbow-radio [type="radio"]:checked + .rainbow-radio_label-container .rainbow-radio_faux {
    background: white;

    &::after {
        width: 0.5rem;
        height: 0.5rem;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        border-radius: $border-radius-2;
        background: $color-brand;
    }
}

.rainbow-radio [type="radio"]:focus + .rainbow-radio_faux,
.rainbow-radio [type="radio"]:focus ~ .rainbow-radio_faux,
.rainbow-radio [type="radio"]:focus + .rainbow-radio_label-container .rainbow-radio_faux {
    border: solid 0.09375rem $color-brand;
    box-shadow: $shadow-outline;
}

.rainbow-radio [type="radio"][disabled] {
    cursor: not-allowed;

    @include user-select();
}

.rainbow-radio [type="radio"][disabled] ~ .rainbow-radio_faux,
.rainbow-radio [type="radio"][disabled] + .rainbow-radio_label-container .rainbow-radio_faux {
    background-color: $color-gray-1;
    border-color: $color-gray-2;
}

.rainbow-radio-group--error .rainbow-radio [type='radio'] + .rainbow-radio_faux,
.rainbow-radio-group--error .rainbow-radio [type='radio'] ~ .rainbow-radio_faux,
.rainbow-radio-group--error .rainbow-radio [type='radio'] + .rainbow-radio_label-container .rainbow-radio_faux {
    border: solid 0.09375rem $color-error;
}

.rainbow-radio-group--error .rainbow-radio [type='radio']:focus + .rainbow-radio_faux,
.rainbow-radio-group--error .rainbow-radio [type='radio']:focus ~ .rainbow-radio_faux,
.rainbow-radio-group--error .rainbow-radio [type='radio']:focus + .rainbow-radio_label-container .rainbow-radio_faux {
    box-shadow: $shadow-error;
}

.rainbow-radio-group--error .rainbow-radio [type='radio']:checked + .rainbow-radio_faux,
.rainbow-radio-group--error .rainbow-radio [type='radio']:checked ~ .rainbow-radio_faux,
.rainbow-radio-group--error .rainbow-radio [type='radio']:checked + .rainbow-radio_label-container .rainbow-radio_faux {
    background: white;

    &::after {
        background: $color-error;
        border-color: $color-error;
    }
}

.rainbow-radio [type='radio'] + .rainbow-radio_label-container .rainbow-radio_faux {
    margin-right: $margin-x-small;
}

.rainbow-radio-group--required {
    color: $color-error;
    margin: 0;
}
