/* stylelint-disable no-descending-specificity,max-line-length */
.rainbow-radio-group_container {
  position: relative; }

.rainbow-radio-group_label {
  display: inline-block;
  color: #576574;
  font-size: 0.875rem;
  margin-right: 0.75rem;
  margin-bottom: 0.25rem; }

.rainbow-radio-group_inner-container .rainbow-radio-group_radio {
  display: block; }

.rainbow-radio-group_text-error {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  display: block;
  color: #ea4243; }

.rainbow-radio-group_radio {
  display: inline-block; }
  .rainbow-radio-group_radio .rainbow-radio-group_radio-faux {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border: 1px solid #e3e5ed;
    border-radius: 12rem;
    background-color: white;
    transition: border 0.1s linear, background-color 0.1s linear; }

.rainbow-radio-group_radio-label {
  display: inline;
  vertical-align: middle;
  font-size: 1rem;
  color: #061c3f;
  line-height: 1.65rem; }

.rainbow-radio-group_radio-label--disabled {
  color: #a4a7b5; }

.rainbow-radio-group_radio [type='radio'] {
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute; }

.rainbow-radio-group_radio [type='radio'] + .rainbow-radio-group_radio-label-container .rainbow-radio-group_radio-faux {
  margin-right: 0.5rem; }
  .rainbow-radio-group_radio [type='radio'] + .rainbow-radio-group_radio-label-container .rainbow-radio-group_radio-faux::after {
    width: 12px;
    height: 12px;
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 12rem;
    background: transparent;
    opacity: 0;
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    transition: all 0.2s ease-in; }

.rainbow-radio-group_radio [type='radio']:checked + .rainbow-radio-group_radio-faux,
.rainbow-radio-group_radio [type='radio']:checked ~ .rainbow-radio-group_radio-faux,
.rainbow-radio-group_radio [type='radio']:checked + .rainbow-radio-group_radio-label-container .rainbow-radio-group_radio-faux {
  background: white;
  border: solid 2px #01b6f5; }
  .rainbow-radio-group_radio [type='radio']:checked + .rainbow-radio-group_radio-faux::after,
  .rainbow-radio-group_radio [type='radio']:checked ~ .rainbow-radio-group_radio-faux::after,
  .rainbow-radio-group_radio [type='radio']:checked + .rainbow-radio-group_radio-label-container .rainbow-radio-group_radio-faux::after {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transition: all 0.2s ease-in;
    background: #01b6f5; }

.rainbow-radio-group_radio [type='radio']:focus + .rainbow-radio-group_radio-faux,
.rainbow-radio-group_radio [type='radio']:focus ~ .rainbow-radio-group_radio-faux,
.rainbow-radio-group_radio [type='radio']:focus + .rainbow-radio-group_radio-label-container .rainbow-radio-group_radio-faux {
  border: solid 2px #01b6f5;
  box-shadow: 0 0 2px #01b6f5; }

.rainbow-radio-group_radio [type='radio'][disabled] {
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.rainbow-radio-group_radio [type='radio'][disabled] + .rainbow-radio-group_radio-faux,
.rainbow-radio-group_radio [type='radio'][disabled] ~ .rainbow-radio-group_radio-faux,
.rainbow-radio-group_radio [type='radio'][disabled] + .rainbow-radio-group_radio-label-container .rainbow-radio-group_radio-faux {
  background-color: #f4f6f9;
  border-color: #e3e5ed; }

.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio'] + .rainbow-radio-group_radio-faux,
.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio'] ~ .rainbow-radio-group_radio-faux,
.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio'] + .rainbow-radio-group_radio-label-container .rainbow-radio-group_radio-faux {
  border: solid 2px #fe4849; }

.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio'][disabled] + .rainbow-radio-group_radio-faux,
.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio'][disabled] ~ .rainbow-radio-group_radio-faux,
.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio'][disabled] + .rainbow-radio-group_radio-label-container .rainbow-radio-group_radio-faux {
  border-color: #e3e5ed; }

.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio']:focus + .rainbow-radio-group_radio-faux,
.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio']:focus ~ .rainbow-radio-group_radio-faux,
.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio']:focus + .rainbow-radio-group_radio-label-container .rainbow-radio-group_radio-faux {
  box-shadow: 0 0 2px #fe4849; }

.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio']:checked + .rainbow-radio-group_radio-faux,
.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio']:checked ~ .rainbow-radio-group_radio-faux,
.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio']:checked + .rainbow-radio-group_radio-label-container .rainbow-radio-group_radio-faux {
  background: white; }
  .rainbow-radio-group--error .rainbow-radio-group_radio [type='radio']:checked + .rainbow-radio-group_radio-faux::after,
  .rainbow-radio-group--error .rainbow-radio-group_radio [type='radio']:checked ~ .rainbow-radio-group_radio-faux::after,
  .rainbow-radio-group--error .rainbow-radio-group_radio [type='radio']:checked + .rainbow-radio-group_radio-label-container .rainbow-radio-group_radio-faux::after {
    background: #fe4849;
    border-color: #fe4849; }
