/* stylelint-disable no-descending-specificity,max-line-length */
@import '../../styles/colors';
@import '../../styles/shadows';
@import '../../styles/margins';
@import '../../styles/font-sizes';
@import '../../styles/border-radius';

@mixin user-select() {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rainbow-radio-group_container {
    position: relative;
}

.rainbow-radio-group_label {
    display: inline-block;
    color: $color-gray-4;
    font-size: $font-size-text-medium;
    margin-right: $margin-small;
    margin-bottom: $margin-xx-small;
    width: 100%;
}

.rainbow-radio-group_inner-container {
    .rainbow-radio-group_radio {
        display: block;
    }
}

.rainbow-radio-group_text-error {
    font-size: $font-size-text-medium;
    margin-top: $margin-x-small;
    display: block;
    color: $color-error-active;
}

.rainbow-radio-group_radio {
    display: inline-block;

    .rainbow-radio-group_radio-faux {
        width: 20px;
        height: 20px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        border: 1px solid $color-gray-2;
        border-radius: $border-radius-2;
        background-color: white;
        transition: border 0.1s linear, background-color 0.1s linear;
    }
}

.rainbow-radio-group_radio-label {
    display: inline;
    vertical-align: middle;
    font-size: $font-size-text-large;
    color: $color-dark-1;
    line-height: 1.65rem;
}

.rainbow-radio-group_radio-label--disabled {
    color: $color-gray-3;
}

.rainbow-radio-group_radio [type='radio'] {
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.rainbow-radio-group_radio [type='radio'] + .rainbow-radio-group_radio-label-container .rainbow-radio-group_radio-faux {
    margin-right: $margin-x-small;

    &::after {
        width: 12px;
        height: 12px;
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: $border-radius-2;
        background: transparent;
        opacity: 0;
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        transition: all 0.2s ease-in;
    }
}

.rainbow-radio-group_radio [type='radio']:checked + .rainbow-radio-group_radio-faux,
.rainbow-radio-group_radio [type='radio']:checked ~ .rainbow-radio-group_radio-faux,
.rainbow-radio-group_radio [type='radio']:checked + .rainbow-radio-group_radio-label-container .rainbow-radio-group_radio-faux {
    background: white;
    border: solid 2px $color-brand;

    &::after {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        transition: all 0.2s ease-in;
        background: $color-brand;
    }
}

.rainbow-radio-group_radio [type='radio']:focus + .rainbow-radio-group_radio-faux,
.rainbow-radio-group_radio [type='radio']:focus ~ .rainbow-radio-group_radio-faux,
.rainbow-radio-group_radio [type='radio']:focus + .rainbow-radio-group_radio-label-container .rainbow-radio-group_radio-faux {
    border: solid 2px $color-brand;
    box-shadow: $shadow-outline;
}

.rainbow-radio-group_radio [type='radio'][disabled] {
    cursor: not-allowed;

    @include user-select();
}

.rainbow-radio-group_radio [type='radio'][disabled] + .rainbow-radio-group_radio-faux,
.rainbow-radio-group_radio [type='radio'][disabled] ~ .rainbow-radio-group_radio-faux,
.rainbow-radio-group_radio [type='radio'][disabled] + .rainbow-radio-group_radio-label-container .rainbow-radio-group_radio-faux {
    background-color: $color-gray-1;
    border-color: $color-gray-2;
}

.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio'] + .rainbow-radio-group_radio-faux,
.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio'] ~ .rainbow-radio-group_radio-faux,
.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio'] + .rainbow-radio-group_radio-label-container .rainbow-radio-group_radio-faux {
    border: solid 2px $color-error;
}

.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio'][disabled] + .rainbow-radio-group_radio-faux,
.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio'][disabled] ~ .rainbow-radio-group_radio-faux,
.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio'][disabled] + .rainbow-radio-group_radio-label-container .rainbow-radio-group_radio-faux {
    border-color: $color-gray-2;
}

.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio']:focus + .rainbow-radio-group_radio-faux,
.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio']:focus ~ .rainbow-radio-group_radio-faux,
.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio']:focus + .rainbow-radio-group_radio-label-container .rainbow-radio-group_radio-faux {
    box-shadow: $shadow-error;
}

.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio']:checked + .rainbow-radio-group_radio-faux,
.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio']:checked ~ .rainbow-radio-group_radio-faux,
.rainbow-radio-group--error .rainbow-radio-group_radio [type='radio']:checked + .rainbow-radio-group_radio-label-container .rainbow-radio-group_radio-faux {
    background: white;

    &::after {
        background: $color-error;
        border-color: $color-error;
    }
}
