// brand colors
$color-brand: #01b6f5;
$color-brand-active: #009acf;
$color-brand-light: rgba(0, 184, 245, 0.2);

// success colors
$color-success: #1de9b6;
$color-success-active: #1ad1a3;
$color-success-light: rgba(29, 233, 182, 0.2);

// destructive colors
$color-error: #fe4849;
$color-error-active: #ea4243;

// gray colors
$color-gray-1: #f4f6f9;
$color-gray-2: #e3e5ed;
$color-gray-3: #a4a7b5;
$color-gray-4: #576574;

// text colors
$color-dark-1: #061c3f;
