// brand colors
$color-brand: #01b6f5;
$color-brand-active: #009acf;

// success colors
$color-success: #1de9b6;
$color-success-active: #1ad1a3;

// destructive colors
$color-error: #fe4849;
$color-error-active: #ea4243;

// gray colors
$color-gray-1: #faf6f9;
$color-gray-2: #e3e5ed;
$color-gray-3: #a4a7b5;
$color-gray-4: #576574;
