// font-sizes-heading
$font-size-heading-small: 1rem;
$font-size-heading-medium: 1.25rem;
$font-size-heading-large: 1.5rem;
$font-size-heading-x-large: 2rem;

// font-sizes-text-body
$font-size-text-x-small: 0.625rem;
$font-size-text-small: 0.75rem;
$font-size-text-medium: 0.875rem;
$font-size-text-large: 1rem;
