@import 'colors.scss';

// shadows
$shadow-outline: 0 0 2px $color-brand;
$shadow-outline-2: 0 0 8px $color-brand;
$shadow-error: 0 0 2px $color-error;
$shadow-1: 0 0 2px 0 $color-gray-3;
$shadow-2: 0 2px 4px 0 $color-gray-2;
$shadow-3: 0 0 1px 0 $color-gray-3;
$shadow-4: 0 1px 2px 0 $color-gray-2;
$shadow-5: 0 0 3px $color-gray-1;
