/* stylelint-disable no-descending-specificity, max-line-length */

@import "../../styles/colors";
@import "../../styles/shadows";
@import "../../styles/font-sizes";
@import "../../styles/border-radius";
@import "../../styles/margins";
@import "../../styles/paddings";

.rainbow-checkbox-group_container {
    position: relative;
}

.rainbow-checkbox-group_label {
    display: inline-block;
    color: $color-gray-4;
    font-size: $font-size-text-small;
    line-height: 1.5;
    margin-right: $margin-small;
    margin-bottom: $margin-xx-small;
}

.rainbow-checkbox-group_help-error {
    font-size: $font-size-text-small;
    margin-top: $margin-x-small;
    display: block;
    color: $color-error-active;
}

.rainbow-checkbox-group_checkbox-container {
    display: -ms-inline-flexbox;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.rainbow-checkbox {
    display: inline-block;

    .rainbow-checkbox_faux {
        width: 1.25rem;
        height: 1.25rem;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        border: 1px solid $color-gray-2;
        border-radius: $border-radius-3;
        background: white;
        margin-right: $margin-small;
        transition: border 0.1s linear, background-color 0.1s linear;
    }

    .rainbow-checkbox_label {
        display: inline;
        vertical-align: middle;
        color: $color-dark-1;
        font-size: $font-size-text-medium;
        line-height: 1.65rem;
    }

    [type="checkbox"] {
        width: 1px;
        height: 1px;
        border: 0;
        clip: rect(0 0 0 0);
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
    }

    [type="checkbox"]:checked + .rainbow-checkbox_faux::after,
    [type="checkbox"]:checked ~ .rainbow-checkbox_faux::after,
    [type="checkbox"]:checked + .rainbow-checkbox_label-container .rainbow-checkbox_faux::after {
        display: block;
        content: '';
        height: 0.4rem;
        width: 0.65rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) rotate(-45deg);
        border-bottom: 2px solid $color-brand;
        border-left: 2px solid $color-brand;
    }

    [type="checkbox"]:focus + .rainbow-checkbox_faux,
    [type="checkbox"]:focus ~ .rainbow-checkbox_faux,
    [type="checkbox"]:focus + .rainbow-checkbox_label-container .rainbow-checkbox_faux {
        content: '';
        border: 2px solid $color-brand;
        box-shadow: $shadow-outline;
    }

    [type="checkbox"]:focus:checked > .rainbow-checkbox_faux,
    [type="checkbox"]:focus:checked ~ .rainbow-checkbox_faux,
    [type="checkbox"]:focus:checked + .rainbow-checkbox_label-container .rainbow-checkbox_faux {
        border-color: $color-brand-active;
        background-color: white;
        box-shadow: $shadow-outline;
    }

    [type="checkbox"][disabled] + .rainbow-checkbox_faux,
    [type="checkbox"][disabled] ~ .rainbow-checkbox_faux,
    [type="checkbox"][disabled] + .rainbow-checkbox_label-container .rainbow-checkbox_faux {
        background-color: $color-gray-1;
        border-color: $color-gray-2;
    }

    [type="checkbox"][disabled] + .rainbow-checkbox_faux::after,
    [type="checkbox"][disabled] ~ .rainbow-checkbox_faux::after,
    [type="checkbox"][disabled] + .rainbow-checkbox_label-container .rainbow-checkbox_faux::after {
        border-color: white;
    }
}

.rainbow-checkbox-group--error {
    .rainbow-checkbox [type="checkbox"] + .rainbow-checkbox_faux,
    .rainbow-checkbox [type="checkbox"] ~ .rainbow-checkbox_faux,
    .rainbow-checkbox [type="checkbox"] + .rainbow-checkbox_label-container .rainbow-checkbox_faux {
        border: 2px $color-error solid;
    }

    .rainbow-checkbox [type="checkbox"]:focus:checked + .rainbow-checkbox_faux,
    .rainbow-checkbox [type="checkbox"]:focus:checked ~ .rainbow-checkbox_faux,
    .rainbow-checkbox [type="checkbox"]:focus:checked + .rainbow-checkbox_label-container .rainbow-checkbox_faux {
        border-color: $color-error-active;
        background-color: white;
        box-shadow: $shadow-error;
    }

    .rainbow-checkbox [type="checkbox"]:focus + .rainbow-checkbox_faux,
    .rainbow-checkbox [type="checkbox"]:focus ~ .rainbow-checkbox_faux,
    .rainbow-checkbox [type="checkbox"]:focus + .rainbow-checkbox_label-container .rainbow-checkbox_faux {
        border-color: $color-error;
        box-shadow: $shadow-error;
    }

    .rainbow-checkbox [type="checkbox"]:checked + .rainbow-checkbox_faux::after,
    .rainbow-checkbox [type="checkbox"]:checked ~ .rainbow-checkbox_faux::after,
    .rainbow-checkbox [type="checkbox"]:checked + .rainbow-checkbox_label-container .rainbow-checkbox_faux::after {
        border-color: $color-error-active;
    }

    [type="checkbox"][disabled] + .rainbow-checkbox_faux,
    [type="checkbox"][disabled] ~ .rainbow-checkbox_faux,
    [type="checkbox"][disabled] + .rainbow-checkbox_label-container .rainbow-checkbox_faux {
        background-color: $color-gray-1;
        border-color: $color-gray-2;
    }

    [type="checkbox"][disabled] + .rainbow-checkbox_faux::after,
    [type="checkbox"][disabled] ~ .rainbow-checkbox_faux::after,
    [type="checkbox"][disabled] + .rainbow-checkbox_label-container .rainbow-checkbox_faux::after {
        border-color: white;
    }
}
