@import './../../styles/colors.scss';

.rainbow-divider {
    border-top: solid 1px $color-gray-2;
}

.rainbow-divider_space {
    border-top: solid 1px $color-gray-2;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}
