@import "./../../styles/colors.scss";
@import "./../../styles/font-sizes.scss";
@import "./../../styles/paddings";

%sidebar__action-hover-active {
    background-color: #e3e5ed;
    outline: 0;
}

.rainbow-sidebar-item {
    position: relative;
    margin-bottom: 2.125rem;
    padding-bottom: $padding-small;
    padding-top: $padding-small;
}

.rainbow-sidebar-item:last-child {
    margin-bottom: 0;
}

.rainbow-sidebar-item--active::before {
    content: "";
    width: 0.25rem;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: $color-brand;
    border-radius: 100px;
}

.rainbow-sidebar-item_action {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    border-radius: 0;
    cursor: pointer;
    flex-direction: column;
}

.rainbow-sidebar-item_label {
    font-family: "Lato Regular", Arial, sans-serif;
    font-size: $font-size-text-x-small;
    letter-spacing: -0.2px;
    text-align: center;
    color: $color-gray-3;
}

.rainbow-sidebar-item_icon {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.rainbow-sidebar-item--active .rainbow-sidebar-item_icon {
    @extend %sidebar__action-hover-active;
}

.rainbow-sidebar-item_action:hover .rainbow-sidebar-item_icon,
.rainbow-sidebar-item_action:active .rainbow-sidebar-item_icon,
.rainbow-sidebar-item_action:focus .rainbow-sidebar-item_icon {
    @extend %sidebar__action-hover-active;
}

.rainbow-sidebar-item_action:hover,
.rainbow-sidebar-item_action:active,
.rainbow-sidebar-item_action:focus {
    text-decoration: none;
    outline: 0;
}
