/* stylelint-disable no-descending-specificity */
@import "../../styles/colors";
@import "../../styles/shadows";
@import "../../styles/font-sizes";
@import "../../styles/border-radius";
@import "../../styles/margins";
@import "../../styles/paddings";

.rainbow-select_container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.rainbow-select_help-error {
    font-size: $font-size-text-small;
    margin-top: $margin-x-small;
    align-self: center;
}

.rainbow-select_label {
    color: $color-gray-4;
    font-size: $font-size-text-small;
    line-height: 1.5;
    margin-right: $margin-small;
    margin-bottom: $margin-xx-small;
    align-self: center;

    &:empty {
        margin: 0;
    }
}

.rainbow-select_inner-container {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        display: block;
        right: 1rem;
        bottom: 45%;
        pointer-events: none;
        width: 0.45rem;
        height: 0.45rem;
        border-style: solid;
        border-width: 0.15em 0.15em 0 0;
        transform: rotate(135deg);
        vertical-align: top;
        color: $color-dark-1;
    }

    &[disabled]::after {
        color: $color-gray-2;
    }
}

.rainbow-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    line-height: 2rem;
    height: 2.375rem;
    border: 1px solid $color-gray-3;
    border-radius: $border-radius-2;
    padding: 0 $padding-medium 0 $padding-medium;
    background-color: white;
    color: $color-dark-1;
    font-size: $font-size-text-medium;
    transition: all 0.1s linear;

    &::-ms-expand {
        display: none;
    }

    &:focus, &:active, &:visited {
        outline: 0;
        padding-left: 0.9375rem;
        border: 0.125rem $color-brand solid;
        box-shadow: $shadow-3;
        line-height: 2rem;
    }

    &[disabled] {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: not-allowed;
        background-color: $color-gray-1;
        border-color: $color-gray-2;
        color: $color-gray-2;

        &:focus,
        &:active {
            box-shadow: none;
            background-color: $color-gray-1;
            border: 0.0626rem $color-gray-2 solid;
            padding-left: $padding-medium;
        }
    }
}

.rainbow-select--error {
    .rainbow-select {
        background-color: white;
        border: 0.125rem $color-error solid;
        box-shadow: $shadow-1;
        background-clip: padding-box;
        padding-left: $padding-medium;

        &:focus, &:active {
            box-shadow: $shadow-error;
        }
    }

    .rainbow-select_help-error {
        color: $color-error;
    }
}
