/* stylelint-disable no-descending-specificity */
.rainbow-form-element {
  position: relative;
  display: flex;
  flex-direction: column; }

.rainbow-form-element__help {
  font-size: 0.75rem;
  margin-top: 0.5rem;
  align-self: center; }

.rainbow-form-element__label {
  color: #576574;
  font-size: 0.75rem;
  line-height: 1.5;
  margin-right: 0.75rem;
  margin-bottom: 0.125rem;
  align-self: center; }
  .rainbow-form-element__label:empty {
    margin: 0; }

.rainbow-select_container {
  position: relative; }
  .rainbow-select_container::after {
    position: absolute;
    content: '';
    display: block;
    right: 0.5rem;
    bottom: 40%;
    width: 0;
    height: 0;
    border-left: 0.1875rem solid transparent;
    border-right: 0.1875rem solid transparent;
    border-top: 0.3125rem solid #061c3f; }

.rainbow-has-error .rainbow-select {
  background-color: white;
  border: 2px #fe4849 solid;
  box-shadow: 0 0 2px 0 #a4a7b5;
  background-clip: padding-box; }

.rainbow-has-error .rainbow-select:focus, .rainbow-has-error .rainbow-select:active {
  box-shadow: #ea4243 0 0 2px 0 #a4a7b5, 0 2px 4px 0 #e3e5ed #009acf; }

.rainbow-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  line-height: 2rem;
  height: calc(2.125rem + (1px * 2));
  border: 1px solid #a4a7b5;
  border-radius: 12rem;
  padding: 0 1rem 0 1rem;
  background-color: white;
  color: #061c3f;
  font-size: 0.875rem;
  transition: border 0.1s linear, background-color 0.1s linear; }
  .rainbow-select::-ms-expand {
    display: none; }
  .rainbow-select:focus, .rainbow-select:active, .rainbow-select:visited {
    outline: 0;
    padding: 0 1rem 0 0.9375rem;
    border: 0.125rem #01b6f5 solid;
    box-shadow: 0 0 1px 0 #a4a7b5;
    line-height: 1.875rem; }
  .rainbow-select[disabled] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: not-allowed;
    user-select: none;
    background-color: #f4f6f9;
    border-color: #e3e5ed;
    color: #e3e5ed; }
    .rainbow-select[disabled]:focus, .rainbow-select[disabled]:active {
      box-shadow: none;
      background-color: #f4f6f9;
      border: 1px #e3e5ed solid;
      padding-left: 1rem; }
  .rainbow-select[disabled]:focus, .rainbow-select[disabled]:active {
    box-shadow: none; }
