.react-rainbow-editor-header {
    background: #282A36 !important;
    border-radius: 10px 10px 0 0;
    height: 34px;
    display: flex;
    justify-content:  space-between;
    padding-right: 8px;
    align-items: center;
}

.CodeMirror-line {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    word-break: normal !important;
}

.CodeMirror-gutters {
    background-color: #282A36 !important;
    border: none !important;
}

.cm-def {
    color: #f07178 !important;
}

.cm-number {
    color: #d19a66 !important;
}

.CodeMirror-sizer {
    margin-bottom: 24px !important;
}

.react-rainbow-editor-content-container {
    box-shadow: 0 0 8px 2px hsla(0, 0%, 0%, .15);
    border-radius: 10px 10px 6px 6px;
}