.slds-react-editor-header {
    background: #04132c !important;
    border-radius: 10px 10px 0 0;
    height: 34px;
    display: flex;
    justify-content:  space-between;
    padding-right: 8px;
    align-items: center;
}