.rainbow-admin_view-port {
    height: 100vh;
}

.rainbow-admin_work-space {
    margin: 48px 48px 48px 328px;
}

.rainbow-admin_header {
    border-bottom: 1px solid #e3e5ed;
    height: 75px;
}

.rainbow-admin_header-logo {
    width: 40px;
    height: 40px;
}

.rainbow-admin_header-search {
    width: 280px;
}

.rainbow-admin_vertical-navigation {
    width: 280px;
    height: calc(100vh - 75px);
    border-right: 1px solid #e3e5ed;
    background-color: white;
    position: fixed;
}

.rainbow-admin_card-body-badge {
    background-color: #1de9b6;
}

.rainbow-admin_card-footer--divider {
    border-right: 1px solid #e3e5ed; 
}
