.react-rainbow-github-badge-container {
    margin-right: 32px;
}

.react-rainbow-github-badge {
    border-color: #061c3f;
    background-color: transparent;
    font-size: 0.8rem;
    color: #061c3f;
}

.react-rainbow-github-badge_icon {
    margin-right: 4px;
}

.react-rainbow-heading_github-link {
    width: 32px;
    height: 32px;
}

.react-rainbow-heading_github-icon {
    width: 100%;
    height: 100%;
}

.react-rainbow-heading-container {
    top: 0;
    left: 0;
    height: 68px;
    background-color: #fff;
    width: 100vw;
    z-index: 3000;
    border-bottom: 1px solid #f4f6f9;
}

@media (max-width: 800px) {
    .react-rainbow-github-badge-container {
        margin-right: 24px;
    }

    .react-rainbow-heading_github-link {
        margin-right: 54px;
        width: 28px;
        height: 28px;
    }
}

@media (max-width: 600px) {
    .react-rainbow-github-badge-container {
        margin-right: 8px;
    }

    .react-rainbow-github-stars-container {
        display: none;
    }
}
