@import './../../styles/colors.scss';
@import './../../styles/shadows.scss';
@import './../../styles/border-radius.scss';
@import './../../styles/paddings.scss';
@import './../../styles/margins.scss';
@import './../../styles/font-sizes.scss';

@mixin text-styles($font-size, $font-weidth, $text-color: inherit) {
    font-size: $font-size;
    font-weight: $font-weidth;
    color: $text-color;
}

.rainbow-card {
    position: relative;
    background-color: #fff;
    border: 0.0625rem solid $color-gray-2;
    border-radius: $border-radius-1;
    background-clip: padding-box;
    box-shadow: $shadow-4;
    overflow: hidden;

    & > .rainbow-google-map {
        .rainbow-google-map_map-container {
            border: none;
            border-radius: $border-radius-1 $border-radius-1 0 0;
            box-shadow: none;
            height: 100%;
            width: 100%;
        }

        .rainbow-google-map_coordinates-container {
            margin-bottom: $margin-large;
            padding: 0 1rem;
            width: 100%;
        }
    }
}

.rainbow-card--with-header > .rainbow-google-map > .rainbow-google-map_map-container {
    border-radius: 0;
}

.rainbow-card_header-container {
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding: $padding-small $padding-medium 0 $padding-medium;
    margin-bottom: $margin-small;
}

.rainbow-card_header {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.rainbow-card_footer {
    @include text-styles($font-size-text-medium, normal);

    text-align: center;
    border-top: 0.0625rem solid $color-gray-2;
    padding: $padding-small $padding-medium;
    margin-top: $margin-small;
}

.rainbow-card_header-link {
    @include text-styles(inherit, 700);

    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rainbow-card_title {
    @include text-styles($font-size-heading-medium, 500, $color-gray-4);
}

.rainbow-card_header-icon {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: $margin-small;
}
