.rainbow-card {
  position: relative;
  padding: 0;
  background-color: #fff;
  border: 0.0625rem solid #e3e5ed;
  border-radius: 0.875rem;
  background-clip: padding-box;
  box-shadow: 0 1px 2px 0 #e3e5ed; }

.rainbow-card__header-container {
  padding: 0.75rem 1rem 0;
  margin: 0 0 0.75rem;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between; }

.rainbow-card__header {
  display: inline-flex;
  align-items: center;
  justify-content: center; }

.rainbow-card__body {
  margin-bottom: 0.75rem;
  padding: 0 1rem; }

.rainbow-card__footer {
  padding: 0.75rem 1rem;
  margin-top: 0.75rem;
  text-align: center;
  font-size: 0.8125rem;
  border-top: 0.0625rem solid #e3e5ed; }

.rainbow-no-flex {
  -ms-flex: none;
  flex: none; }

.rainbow-media__body {
  -ms-flex: 1;
  flex: 1;
  min-width: 0; }

.rainbow-card__header-link {
  color: inherit;
  font-weight: 700;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.rainbow-text-heading_small {
  font-size: 1rem;
  font-weight: 500;
  color: #576574; }

.rainbow-media__figure {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 0.75rem; }
