.rainbow-card {
    position: relative;
    padding: 0;
    background: white;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.rainbow-card__header {
    padding: 0.75rem 1rem 0;
    margin: 0 0 0.75rem;
}

.rainbow-grid {
    display: -ms-flexbox;
    display: flex;
}

.rainbow-media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.rainbow-media_center {
    -ms-flex-align: center;
    align-items: center;
}

.rainbow-has-flexi-truncate {
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
}

.rainbow-card__body {
    margin-bottom: 0.75rem;
}

.rainbow-card__body_inner {
    padding: 0 1rem;
}

.rainbow-card__footer {
    padding: 0.75rem 1rem;
    margin-top: 0.75rem;
    text-align: center;
    font-size: 0.8125rem;
    border-top: 1px solid #dddbda;
}

.rainbow-no-flex {
    -ms-flex: none;
    flex: none;
}

.rainbow-media__figure {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 0.75rem;
}

.rainbow-media__body {
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
}

.rainbow-card__header-link {
    color: inherit;
    font-weight: 700;
}

.rainbow-truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rainbow-text-heading_small {
    font-size: 1rem;
    line-height: 1.25;
}
