@import "../../styles/colors";
@import "../../styles/font-sizes";
@import "../../styles/border-radius";
@import "../../styles/shadows";

.rainbow-calendar_controls-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 8px 0;
}

.rainbow-calendar_month-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-right: 16px;
}

.rainbow-calendar_month-text {
    font-size: $font-size-heading-medium;
    color: $color-dark-1;
    font-weight: 500;
}

.rainbow-calendar_header-days {
    text-align: center;
    color: $color-gray-3;
    font-size: $font-size-text-medium;
    font-weight: 400;
    line-height: 48px;
    height: 48px;
}

.rainbow-calendar_header-days abbr {
    cursor: default;
}

.rainbow-calendar_day {
    text-align: center;
    color: $color-dark-1;
    font-size: $font-size-text-medium;
    font-weight: 400;
    border-radius: 100%;
}

.rainbow-calendar_day-button {
    border: none;
    outline: none;
    transition: all 0.2s ease;
    background-color: transparent;
    border-radius: 48px;
    line-height: 36px;
    height: 36px;
    width: 36px;
    margin: 6px auto;

    &:hover {
        transition: all 0.2s ease;
        background-color: $color-gray-2;
    }

    &:active {
        transform: scale(0.85);
        transition: all 0.2s ease;
    }

    &:focus,
    &:active {
        box-shadow: $shadow-outline;
    }
}

.rainbow-calendar_day-button--selected {
    color: white;
    background-color: $color-brand;
    text-align: center;
    font-size: $font-size-text-medium;
    font-weight: 600;
    border-radius: 48px;
    line-height: 36px;
    height: 36px;
    width: 36px;
    margin: auto;
    padding: 0;
    border: none;
    outline: none;

    &:active {
        transform: scale(0.85);
        transition: all 0.2s ease;
    }

    &:hover {
        background-color: $color-brand;
    }
}

.rainbow-calendar_day-adjacent {
    background-color: transparent;
    color: $color-gray-2;
    text-align: center;
    font-size: $font-size-text-medium;
    font-weight: 400;
    line-height: 36px;
    height: 36px;
    margin: auto;
    cursor: not-allowed;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
}
