.rainbow-progress-step {
  display: inline-flex;
  align-self: center;
  justify-content: center; }

.rainbow-progress-step_marker {
  width: 0.5rem;
  height: 0.5rem;
  position: relative;
  border-radius: 50%;
  vertical-align: middle;
  box-shadow: 0 0 1px 0 #e3e5ed;
  background-color: #e3e5ed; }

.rainbow-progress-step_label {
  font-size: 0.625rem;
  color: #a4a7b5;
  position: absolute;
  display: inline-table;
  top: 100%; }

.rainbow-progress-step_marker.rainbow-progress-step--is-completed ~ .rainbow-progress-step_label {
  color: #01b6f5; }

.rainbow-progress-step_error {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #fe4849; }

.rainbow-progress-step--is-active {
  width: 1.25rem;
  height: 1.25rem;
  background-color: white;
  border: 0.375rem solid #01b6f5; }

.rainbow-progress-step--is-completed {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #1de9b6; }

.rainbow-progress-step--is-completed > svg {
  width: 1.25rem !important;
  height: 1.25rem !important; }
