@import "../../styles/colors";
@import "../../styles/border-radius";
@import "../../styles/font-sizes";

.rainbow-progress-step {
    display: inline-flex;
    align-self: center;
    justify-content: center;
}

.rainbow-progress-step_marker {
    width: 12px;
    height: 12px;
    position: relative;
    border-radius: $border-radius-2;
    vertical-align: middle;
    box-shadow: 0 0 1px 0 $color-gray-2;
    background-color: $color-gray-2;
}

.rainbow-progress-step_label {
    font-size: $font-size-text-x-small;
    color: $color-gray-3;
    position: absolute;
    display: inline-table;
    top: 100%;
}

.rainbow-progress-step_marker.rainbow-progress-step--is-active ~ .rainbow-progress-step_label {
    color: $color-brand;
}

.rainbow-progress-step_marker.rainbow-progress-step--error ~ .rainbow-progress-step_label {
    color: $color-error-active;
}

.rainbow-progress-step--error {
    width: 1.25rem;
    height: 1.25rem;
}

.rainbow-progress-step--error > svg {
    width: 1.25rem !important;
    height: 1.25rem !important;
}

.rainbow-progress-step--is-active {
    width: 1.25rem;
    height: 1.25rem;
    background-color: white;
    border: 0.375rem solid $color-brand;
}

.rainbow-progress-step--is-completed {
    width: 1.25rem;
    height: 1.25rem;
}

.rainbow-progress-step--is-completed > svg {
    width: 1.25rem !important;
    height: 1.25rem !important;
}
