.rainbow-progress-step {
  display: inline-flex;
  align-self: center;
  justify-content: center; }

.rainbow-progress-step_marker {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #e3e5ed; }

.rainbow-progress-step_marker_icon {
  border-radius: 12rem; }

.rainbow-progress-step_label {
  font-size: 0.625rem;
  color: #a4a7b5;
  position: absolute;
  display: inline-table;
  top: 100%; }

.rainbow-progress-step--is-active ~ .rainbow-progress-step_label {
  color: #01b6f5; }

.rainbow-progress-step--error ~ .rainbow-progress-step_label {
  color: #ea4243; }

.rainbow-progress-step--error {
  width: 1.25rem;
  height: 1.25rem; }

.rainbow-progress-step--error > svg {
  width: 1.25rem !important;
  height: 1.25rem !important; }

.rainbow-progress-step--is-active {
  width: 1.25rem;
  height: 1.25rem;
  background-color: white; }

.rainbow-progress-step--is-active_icon {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 12rem;
  border: 0.375rem solid #01b6f5; }

.rainbow-progress-step--is-completed {
  width: 1.25rem;
  height: 1.25rem; }

.rainbow-progress-step--is-completed > svg {
  width: 1.25rem !important;
  height: 1.25rem !important; }
