.react-rainbow-components-page_card-container {
    margin: 0.8rem 1.5rem 0.8rem 0;
}

.react-rainbow-components-page_card {
    width: 14rem;
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #061c3f;
    border: none;
}

.react-rainbow-components-page_card footer {
    border-top: 1px solid rgba(164, 167, 181, 0.25);
}

.react-rainbow-components-page_card-image {
    padding: 1.2rem 1rem;
    height: 6.5rem;
    margin: auto;
    display: flex;
}