@media (max-width: 1024px) {
    .react-rainbow-designs_header {
        font-size: 28px;
        padding: 1.5rem 0 1rem 0;
    }

    .react-rainbow-designs_cards-container {
        flex-wrap: wrap;
    }

    .react-rainbow-designs_anchor:last-child {
        margin: 0 0 32px 0;
    }
}

@media (max-width: 600px) {
    .react-rainbow-designs_view-port {
        padding: 0 2.25rem 1.5rem 2.25rem;
    }

    .react-rainbow-designs_card {
        width: 100%;
    }

    .react-rainbow-designs_category {
        padding: 0;
    }

    .react-rainbow-designs_anchor {
        margin: 0 0 32px 0;
        width: 100%;
    }

    .react-rainbow-designs_card-image {
        height: 10rem;
    }
}

@media (max-width: 340px) {
    .react-rainbow-designs_view-port {
        padding: 0 1rem 1rem 1rem;
    }

    .react-rainbow-designs_header {
        font-size: 20px;
    }

    .react-rainbow-designs_sub-header {
        font-size: 16px;
    }
}
