@import './../../styles/colors.scss';
@import './../../styles/shadows.scss';
@import './../../styles/border-radius.scss';

@mixin position-modal($position, $align-items) {
    display: flex;
    justify-content: center;
    align-items: $align-items;
    position: $position;
}

.rainbow-modal_backdrop {
    transition: opacity 0.6s linear;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: $color-gray-transparent-2;

    @include position-modal(fixed, center);
}

.rainbow-modal_backdrop--open {
    visibility: visible;
    z-index: 90000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
}

.rainbow-modal {
    opacity: 0;
    width: 50%;
    max-width: none;
    min-width: 20rem;
    background-color: #fff;
    border-radius: $border-radius-1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    flex-direction: column;

    @include position-modal(relative, normal);

    &:focus {
        outline: 0;
    }
}

.rainbow-modal--large {
    width: 90%;
}

.rainbow-modal--medium {
    width: 70%;
}

.rainbow-modal_header {
    font-family: 'Lato Light';
    position: relative;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: $color-gray-4;
}

.rainbow-modal_content {
    padding: 1rem;
    overflow: hidden;
    overflow-y: auto;
}

.rainbow-modal_header, .rainbow-modal_footer {
    flex-shrink: 0;
}

.rainbow-modal_header--empty {
    padding: 0;
    border-bottom: 0;
}

.rainbow-modal_footer {
    border-top: 0.0625px solid $color-gray-2;
    padding: 0.75rem 1rem;
}

.rainbow-modal_close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 90002;
}

.rainbow-modal--fade-in {
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media (max-width: 600px) {
    .rainbow-modal, .rainbow-modal--medium, .rainbow-modal--large {
        width: 95%;
    }
}
