.rainbow-modal_backdrop {
  transition: opacity 0.3s linear, z-index 0.3s linear;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(82, 95, 127, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; }

.rainbow-modal_backdrop--open {
  visibility: visible;
  z-index: 1000000;
  opacity: 1; }

.rainbow-modal {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  max-width: none;
  min-width: 20rem;
  background-color: #fff;
  border-radius: 0.875rem;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: normal;
  position: relative; }
  .rainbow-modal:focus {
    outline: 0; }

.rainbow-modal--large {
  width: 90%; }

.rainbow-modal--medium {
  width: 70%; }

.rainbow-modal_header {
  font-family: 'Lato Light', Arial, sans-serif;
  position: relative;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  color: #576574; }

.rainbow-modal_content {
  padding: 1rem;
  max-height: calc(80vh - 140px);
  overflow: hidden;
  overflow-y: auto; }

.rainbow-modal_header, .rainbow-modal_footer {
  flex-shrink: 0; }

.rainbow-modal_header--empty {
  padding: 0;
  border-bottom: 0; }

.rainbow-modal_footer {
  border-top: 0.0625px solid #e3e5ed;
  padding: 0.75rem 1rem; }

.rainbow-modal_close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1000002; }

.rainbow-modal--open {
  animation: slide-up-in 0.2s linear;
  opacity: 1;
  transform: scale(1, 1) translateY(0); }

.rainbow-modal--close {
  animation: slide-down-out 0.2s linear;
  opacity: 0;
  transform: translateY(50%); }

@keyframes slide-up-in {
  0% {
    opacity: 0;
    transform: scale(0.8, 0.8) translateY(70%); }
  100% {
    opacity: 1;
    transform: scale(1, 1) translateY(0); } }

@keyframes slide-down-out {
  0% {
    opacity: 1;
    transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(50%); } }

@media (max-width: 720px) {
  .rainbow-modal, .rainbow-modal--medium, .rainbow-modal--large {
    width: 95%; } }
