.rainbow-vertical-navigation {
  position: relative; }

.rainbow-vertical-navigation_compact .rainbow-vertical-item_action {
  padding: 0.5rem 1rem 0.5rem 3rem; }

.rainbow-vertical-navigation_shade .rainbow-vertical-item_action:hover,
.rainbow-vertical-navigation_shade .rainbow-vertical-item_action:active {
  background-color: #f4f6f9; }

.rainbow-vertical-navigation_shade .rainbow-vertical-item--active .rainbow-vertical-item_action {
  background-color: #f4f6f9;
  border-color: #a4a7b5; }
