@import "../../styles/colors";

.rainbow-vertical-navigation {
    position: relative;
}

.rainbow-vertical-navigation_compact {
    .rainbow-vertical-section_title,
    .rainbow-vertical-item_action {
        padding: 0.5rem 1rem 0.5rem 3rem;
    }
}

.rainbow-vertical-navigation_shade {
    .rainbow-vertical-item_action:hover,
    .rainbow-vertical-item_action:active {
        background-color: $color-gray-1;
    }
}

.rainbow-vertical-navigation_shade .rainbow-vertical-item--active .rainbow-vertical-item_action {
    background-color: $color-gray-1;
    border-color: $color-gray-3;
}
