.rainbow-nav-vertical {
  position: relative; }

.rainbow-nav-vertical_compact .rainbow-nav-vertical__title,
.rainbow-nav-vertical_compact .rainbow-nav-vertical__action {
  padding: 0.25rem 1.5rem; }

.rainbow-nav-vertical_shade .rainbow-nav-vertical__action:hover {
  background-color: #f4f6f9; }

.rainbow-nav-vertical_shade .rainbow-nav-vertical__action:active {
  background-color: #f4f6f9; }

.rainbow-nav-vertical_shade .rainbow-is-active .rainbow-nav-vertical__action {
  background-color: #f4f6f9;
  border-color: #a4a7b5; }
