@font-face {
    font-family: 'Lato Black';
    src: url("../src/components/Application/fonts/Lato-Black.eot");
    src: url("../src/components/Application/fonts/Lato-Black.woff2") format("woff2"), url("../src/components/Application/fonts/Lato-Black.woff") format("woff"), url("../src/components/Application/fonts/Lato-Black.ttf") format("truetype"), url("../src/components/Application/fonts/Lato-Black.svg#Lato-Black") format("svg"), url("../src/components/Application/fonts/Lato-Black.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Lato Black Italic';
    src: url("../src/components/Application/fonts/Lato-BlackItalic.eot");
    src: url("../src/components/Application/fonts/Lato-BlackItalic.woff2") format("woff2"), url("../src/components/Application/fonts/Lato-BlackItalic.woff") format("woff"), url("../src/components/Application/fonts/Lato-BlackItalic.ttf") format("truetype"), url("../src/components/Application/fonts/Lato-BlackItalic.svg#Lato-BlackItalic") format("svg"), url("../src/components/Application/fonts/Lato-BlackItalic.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Lato Bold';
    src: url("../src/components/Application/fonts/Lato-Bold.eot");
    src: url("../src/components/Application/fonts/Lato-Bold.woff2") format("woff2"), url("../src/components/Application/fonts/Lato-Bold.woff") format("woff"), url("../src/components/Application/fonts/Lato-Bold.ttf") format("truetype"), url("../src/components/Application/fonts/Lato-Bold.svg#Lato-Bold") format("svg"), url("../src/components/Application/fonts/Lato-Bold.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Lato Bold Italic';
    src: url("../src/components/Application/fonts/Lato-BoldItalic.eot");
    src: url("../src/components/Application/fonts/Lato-BoldItalic.woff2") format("woff2"), url("../src/components/Application/fonts/Lato-BoldItalic.woff") format("woff"), url("../src/components/Application/fonts/Lato-BoldItalic.ttf") format("truetype"), url("../src/components/Application/fonts/Lato-BoldItalic.svg#Lato-BoldItalic") format("svg"), url("../src/components/Application/fonts/Lato-BoldItalic.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Lato Hairline';
    src: url("../src/components/Application/fonts/Lato-Hairline.eot");
    src: url("../src/components/Application/fonts/Lato-Hairline.woff2") format("woff2"), url("../src/components/Application/fonts/Lato-Hairline.woff") format("woff"), url("../src/components/Application/fonts/Lato-Hairline.ttf") format("truetype"), url("../src/components/Application/fonts/Lato-Hairline.svg#Lato-Hairline") format("svg"), url("../src/components/Application/fonts/Lato-Hairline.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Lato Hairline Italic';
    src: url("../src/components/Application/fonts/Lato-HairlineItalic.eot");
    src: url("../src/components/Application/fonts/Lato-HairlineItalic.woff2") format("woff2"), url("../src/components/Application/fonts/Lato-HairlineItalic.woff") format("woff"), url("../src/components/Application/fonts/Lato-HairlineItalic.ttf") format("truetype"), url("../src/components/Application/fonts/Lato-HairlineItalic.svg#Lato-HairlineItalic") format("svg"), url("../src/components/Application/fonts/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Lato Italic';
    src: url("../src/components/Application/fonts/Lato-Italic.eot");
    src: url("../src/components/Application/fonts/Lato-Italic.woff2") format("woff2"), url("../src/components/Application/fonts/Lato-Italic.woff") format("woff"), url("../src/components/Application/fonts/Lato-Italic.ttf") format("truetype"), url("../src/components/Application/fonts/Lato-Italic.svg#Lato-Italic") format("svg"), url("../src/components/Application/fonts/Lato-Italic.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Lato Light';
    src: url("../src/components/Application/fonts/Lato-Light.eot");
    src: url("../src/components/Application/fonts/Lato-Light.woff2") format("woff2"), url("../src/components/Application/fonts/Lato-Light.woff") format("woff"), url("../src/components/Application/fonts/Lato-Light.ttf") format("truetype"), url("../src/components/Application/fonts/Lato-Light.svg#Lato-Light") format("svg"), url("../src/components/Application/fonts/Lato-Light.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Lato Light Italic';
    src: url("../src/components/Application/fonts/Lato-LightItalic.eot");
    src: url("../src/components/Application/fonts/Lato-LightItalic.woff2") format("woff2"), url("../src/components/Application/fonts/Lato-LightItalic.woff") format("woff"), url("../src/components/Application/fonts/Lato-LightItalic.ttf") format("truetype"), url("../src/components/Application/fonts/Lato-LightItalic.svg#Lato-LightItalic") format("svg"), url("../src/components/Application/fonts/Lato-LightItalic.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Lato';
    src: url("../src/components/Application/fonts/Lato-Regular.eot");
    src: url("../src/components/Application/fonts/Lato-Regular.woff2") format("woff2"), url("../src/components/Application/fonts/Lato-Regular.woff") format("woff"), url("../src/components/Application/fonts/Lato-Regular.ttf") format("truetype"), url("../src/components/Application/fonts/Lato-Regular.svg#Lato-Regular") format("svg"), url("../src/components/Application/fonts/Lato-Regular.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal; }
  