.rainbow-avatar-menu_button-wrapper {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  border-radius: 12rem; }
  .rainbow-avatar-menu_button-wrapper:hover {
    box-shadow: 0 0 0 4px #e3e5ed; }
  .rainbow-avatar-menu_button-wrapper:focus, .rainbow-avatar-menu_button-wrapper:active {
    outline: 0;
    box-shadow: 0 0 0 4px #e3e5ed; }
  .rainbow-avatar-menu_button-wrapper .rainbow-avatar_initials--inverse {
    cursor: pointer; }
  .rainbow-avatar-menu_button-wrapper .rainbow-avatar_initials[title] {
    cursor: pointer; }
  .rainbow-avatar-menu_button-wrapper .rainbow-avatar_initials {
    cursor: pointer; }
