.rainbow-avatar-menu_button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  border-radius: 12rem;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; }
  .rainbow-avatar-menu_button:focus, .rainbow-avatar-menu_button:active {
    outline: 0;
    box-shadow: 0 0 0 4px #e3e5ed; }
  .rainbow-avatar-menu_button:active {
    transform: scale(0.97);
    transition: all 0.2s ease; }
  .rainbow-avatar-menu_button:hover {
    box-shadow: 0 0 0 4px #e3e5ed;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; }
  .rainbow-avatar-menu_button .rainbow-avatar_initials--inverse {
    cursor: pointer; }
  .rainbow-avatar-menu_button .rainbow-avatar_initials[title] {
    cursor: pointer; }
  .rainbow-avatar-menu_button .rainbow-avatar_initials {
    cursor: pointer; }
