@import "./../../styles/colors.scss";
@import "./../../styles/shadows.scss";
@import "./../../styles/border-radius.scss";

.rainbow-avatar-menu_button-wrapper {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    border-radius: $border-radius-2;

    &:hover {
        box-shadow: 0 0 0 4px $color-gray-2;
    }

    &:focus,
    &:active {
        outline: 0;
        box-shadow: 0 0 0 4px $color-gray-2;
    }

    .rainbow-avatar_initials--inverse {
        cursor: pointer;
    }

    .rainbow-avatar_initials[title] {
        cursor: pointer;
    }

    .rainbow-avatar_initials {
        cursor: pointer;
    }
}
