.rainbow-avatar-menu_wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.rainbow-avatar-menu_button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  border-radius: 12rem;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; }
  .rainbow-avatar-menu_button:focus, .rainbow-avatar-menu_button:active {
    outline: 0;
    box-shadow: 0 0 0 4px #e3e5ed; }
  .rainbow-avatar-menu_button-wrapper .rainbow-avatar_initials--inverse {
    cursor: pointer; }
  .rainbow-avatar-menu_button .rainbow-avatar_initials[title] {
    cursor: pointer; }
  .rainbow-avatar-menu_button .rainbow-avatar_initials {
    cursor: pointer; }

.rainbow-avatar-menu_right-arrow-button {
  background-color: transparent;
  padding: 0;
  margin-left: 0.5rem;
  border: 0;
  outline: none;
  border-radius: 12rem; }

.rainbow-avatar-menu_right-arrow_icon {
  transform: rotate(0deg);
  transition: transform 0.15s linear;
  -webkit-transition: transform 0.15s linear;
  -moz-transition: transform 0.15s linear;
  -ms-transition: transform 0.15s linear;
  -o-transition: transform 0.15s linear; }

.rainbow-avatar-menu_right-arrow_icon--open {
  transform: rotate(-180deg);
  transition: transform 0.15s linear;
  -webkit-transition: transform 0.15s linear;
  -moz-transition: transform 0.15s linear;
  -ms-transition: transform 0.15s linear;
  -o-transition: transform 0.15s linear; }
