@import "../../styles/colors";

.rainbow-vertical-section:not(:first-of-type) {
    margin-top: 0.5rem;
}

.rainbow-vertical-section_title {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    line-height: 1.5rem;
    font-size: 0.9375rem;
    color: $color-brand;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
