.react-rainbow_logo-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 1rem 1.375rem;
}

.react-rainbow_logo-icon {
    width: 2.25rem;
    height: 2.25rem;
}

.react-rainbow_title-version_container {
    margin-left: 0.625rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.react-rainbow_title-container {
    display: flex;
    font-size: 1rem;
    line-height: 1rem;
    color: #061c3f;
}

.react-rainbow_title-thin {
    font-weight: 300;
    margin-left: 0.25rem;
}

.react-rainbow_version {
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: 300;
    color: #576574;
}

.react-rainbow_divider-dotted {
    border-bottom: 1px dotted #e3e5ed;
}

@media (max-width: 800px) {
    
    .react-rainbow_title-container {
        font-size: 0.9rem;
        line-height: 0.9rem;
    }
}

@media (max-width: 600px) {
    
    .react-rainbow_title-container {
        font-size: 1rem;
        line-height: 1rem;
    }
}