.cm-s-base16-light {
    background: #282A36 !important;
    border-radius: 0 0 8px 8px;
    padding: 0 !important;
}

.cm-s-base16-light span.cm-comment {
    color: rgba(255, 255, 255, 0.4) !important;
}

.CodeMirror {
    background: #282A36 !important;
    background-color: #282A36 !important;
}

.CodeMirror-line {
    color: #a1a7b0 !important;
}

.CodeMirror-scroll {
    overflow: hidden !important;
}

.cm-tag {
    color: #df6a72 !important;
}

.cm-bracket {
    color: #4cb6c4 !important;
}

.cm-name {
    color: #df6a72 !important;
}

.cm-attribute {
    color: #c574dd !important;
}

.cm-string {
    color: #96C571 !important;
}

.cm-keyword {
    color: #4cb6c4 !important;
}

.cm-s-base16-light .CodeMirror-linenumber {
    color: rgba(255, 255, 255, 0.3) !important;
    text-align: right !important;
}

.CodeMirror-gutters {
    background-color: #282A36 !important;
}

.CodeMirror-linenumbers {
    margin-right: 18px !important;
}

.CodeMirror-selected {
    background: #284066 !important;
}
