.react-rainbow-playground {
    padding: 0;
    border-radius: 0.875rem;
    background-color: #f9fafc;
    background-clip: padding-box;
    border: solid 1px #e3e5ed;
    box-shadow: 0 1px 2px 0 #e3e5ed;
}

.cm-s-base16-light {
    background: #061c3f !important;
    border-radius: 0 0 8px 8px;
    padding: 0 !important;
}

.CodeMirror {
    background: #061c3f !important;
    background-color: #061c3f !important;
}

.CodeMirror-line {
    color: #a1a7b0 !important;
}

.CodeMirror-scroll {
    overflow: hidden !important;
}

.cm-tag {
    color: #df6a72 !important;
}

.cm-bracket {
    color: #4cb6c4 !important;
}

.cm-name {
    color: #df6a72 !important;
}

.cm-attribute {
    color: #c574dd !important;
}

.cm-string {
    color: #96C571 !important;
}

.cm-keyword {
    color: #4cb6c4 !important;
}

.cm-s-base16-light .CodeMirror-linenumber {
    color: rgba(255, 255, 255, 0.3) !important;
    text-align: right !important;
}

.CodeMirror-gutters {
    background-color: #061c3f !important;
}

.CodeMirror-linenumbers {
    margin-right: 18px !important;
}

.CodeMirror-selected {
    background: #284066 !important;
}
