.react-rainbow-component-description-text {
    line-height: 1.75;
    font-family: 'Lato Light';
    display: inline;
}

.react-rainbow-component-description-text {
    line-height: 1.75;
    font-family: 'Lato Light';
    display: inline;
}

.react-rainbow-component-description-link {
    line-height: 1.75;
    font-family: 'Lato Light';
}

.react-rainbow-component-title-text {
    line-height: 1.25;
    font-family: 'Lato Light';
}

.react-rainbow-tab-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.react-rainbow-tab-label span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.react-rainbow-tab-label svg {
    max-width: 100%;
}

.react-rainbow-component_top-content {
    background-color: #f4f6f9;
}

.react-rainbow-component_component-name {
    font-size: 24px;
    color: #061c3f;
    padding-top: 24px;
    padding-left: 32px;
}

.react-rainbow-utils_container {
    display: flex;
    flex-wrap: wrap;
}

.react-rainbow-component_tab-edit-link {
    margin-right: 26px;
}

.react-rainbow-component_example-edit-link-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
}

.react-rainbow-component_example-edit-link-container--compress {
    margin-bottom: 33px;
}

.react-rainbow-component_header {
    display: flex;
    justify-content: space-between;
}

.react-rainbow-component_carbon-ads {
    margin: 40px 20px 0 0;
    min-width: 330px;
}

.rsg--heading1-6{
    font-size: 1.2rem;
    color: #061C3F;
}
