.react-rainbow-component-description-text {
    line-height: 1.75;
    font-family: 'Lato Light';
}

.react-rainbow-component-title-text {
    line-height: 1.25;
    font-family: 'Lato Light';
}

.react-rainbow-tab-label {
    font-size: 0.625rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.react-rainbow-tab-label span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.react-rainbow-tab-label svg {
    max-width: 100%;
}

.react-rainbow-component-top-content {
    background-color: #f4f6f9;
}
