@media (max-width: 600px) {
  .rainbow-date-picker_modal {
    border-radius: 0 0 0.875rem 0.875rem;
    align-self: flex-start; }
  .rainbow-date-picker_calendar-container {
    width: 100vw; }
  .rainbow-date-picker_calendar-details-header {
    height: 84px;
    border-radius: 0; } }
