@import "../../styles/colors";
@import "../../styles/font-sizes";
@import "../../styles/border-radius";
@import "../../styles/shadows";

.rainbow-date-picker_container {
    width: 100%;
}

.rainbow-date-picker_modal {
    width: auto;
    height: fit-content;
}

.rainbow-date-picker_calendar-details-header {
    display: flex;
    align-items: center;
    padding: 4px 48px 8px 20px;
}

.rainbow-date-picker_calendar-date--selected {
    color: $color-brand;
    font-size: $font-size-heading-large;
    font-weight: 500;
}

.rainbow-date-picker_calendar-container {
    width: 420px;
    height: 400px;
    padding: 0 8px;
    margin: 20px 0 0 0;
}