@import "../../styles/colors";
@import "../../styles/font-sizes";
@import "../../styles/border-radius";
@import "../../styles/shadows";

.rainbow-date-picker_container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.rainbow-date-picker_label {
    color: $color-gray-4;
    font-size: $font-size-text-medium;
    line-height: 1.5;
    margin-bottom: 0.125rem;
    align-self: center;

    &:empty {
        margin: 0;
    }
}

.rainbow-date-picker_label--hide {
    display: none;
}

.rainbow-date-picker_input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.rainbow-date-picker_input {
    background-color: white;
    border: 1px solid $color-gray-3;
    border-radius: $border-radius-2;
    width: 100%;
    transition: all 0.1s linear;
    display: inline-block;
    padding: 0 3rem 0 1rem;
    line-height: 2.5rem;
    height: 2.5rem;
    color: $color-dark-1;
    font-size: $font-size-text-large;

    &:hover {
        cursor: pointer;
    }

    &:focus,
    &:active {
        outline: 0;
        line-height: 2.5rem;
        padding-left: 0.9375rem;
        border: 2px $color-brand solid;
        background-color: white;
        box-shadow: $shadow-outline;
    }

    &::placeholder {
        color: $color-gray-3;
        font-weight: 300;
        font-size: $font-size-text-large;
    }
}

.rainbow-date-picker_icon {
    position: absolute;
    right: 16px;
    cursor: pointer;
}

.rainbow-date-picker_modal {
    width: auto;
}

.rainbow-date-picker_modal > .rainbow-modal_content {
    max-height: none;
}

.rainbow-date-picker_modal-container {
    margin: -16px;
}

.rainbow-date-picker_modal > button > svg {
    fill: white;
}

.rainbow-date-picker_calendar-details-header {
    background-color: $color-brand;
    height: 72px;
    border-radius: $border-radius-1 $border-radius-1 0 0;
    display: flex;
    align-items: center;
    padding: 0 48px 0 24px;
}

.rainbow-date-picker_calendar-date--selected {
    color: white;
    font-size: $font-size-heading-medium;
    font-weight: 300;
}

.rainbow-date-picker_calendar-container {
    width: 460px;
    height: 400px;
    padding: 0 24px;
    margin: 20px 0 0 0;
}

.rainbow-date-picker_calendar-controls-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 8px 0;
}

.rainbow-date-picker_calendar-month-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-right: 16px;
}

.rainbow-date-picker_calendar-month-text {
    font-size: $font-size-heading-medium;
    color: $color-dark-1;
    font-weight: 500;
}

.rainbow-date-picker_calendar-header {
    text-align: center;
    color: $color-gray-3;
    font-size: $font-size-text-small;
    font-weight: 400;
    line-height: 48px;
    height: 48px;
}

.rainbow-date-picker_calendar-day {
    text-align: center;
    color: $color-dark-1;
    font-size: $font-size-text-medium;
    font-weight: 400;
    border-radius: 100%;
}

.rainbow-date-picker_calendar-day-button {
    border: none;
    outline: none;
    transition: all 0.2s ease;
    background-color: white;
    border-radius: 48px;
    line-height: 36px;
    height: 36px;
    width: 36px;
    margin: 6px 0;

    &:hover {
        transition: all 0.2s ease;
        background-color: $color-gray-2;
        height: 36px;
        line-height: 36px;
    }

    &:active {
        transform: scale(0.85);
        transition: all 0.2s ease;
    }

    &:focus,
    &:active {
        box-shadow: $shadow-outline;
    }
}

.rainbow-date-picker_calendar-day-button--selected {
    color: white;
    background-color: $color-brand;
    text-align: center;
    font-size: $font-size-text-medium;
    font-weight: 500;
    border-radius: 48px;
    line-height: 36px;
    height: 36px;
    width: 36px;
    border: none;
    outline: none;

    &:active {
        transform: scale(0.85);
        transition: all 0.2s ease;
    }
}

.rainbow-date-picker_calendar-day-adjacent {
    background-color: white;
    color: $color-gray-2;
    text-align: center;
    font-size: $font-size-text-medium;
    font-weight: 400;
    line-height: 48px;
    height: 48px;
}
