@import "../../styles/colors";
@import "../../styles/font-sizes";
@import "../../styles/border-radius";
@import "../../styles/shadows";

.rainbow-date-picker_input input {
    &:hover {
        cursor: pointer;
    }

    &:hover[disabled] {
        cursor: not-allowed;
    }

    color: transparent;
    text-shadow: 0 0 0 #061c3f;
}

.rainbow-date-picker_modal {
    width: auto;
}

.rainbow-date-picker_modal > .rainbow-modal_content {
    max-height: none;
    padding: 0;
}

.rainbow-date-picker_modal-container {
    margin: -16px;
}

.rainbow-date-picker_modal > button > svg {
    fill: white;
}

.rainbow-date-picker_calendar-details-header {
    background-color: $color-brand;
    height: 72px;
    border-radius: $border-radius-1 $border-radius-1 0 0;
    display: flex;
    align-items: center;
    padding: 0 48px 0 24px;
}

.rainbow-date-picker_calendar-date--selected {
    color: white;
    font-size: $font-size-heading-medium;
    font-weight: 300;
}

.rainbow-date-picker_calendar-container {
    width: 460px;
    height: 400px;
    padding: 0 24px;
    margin: 20px 0 0 0;
}
