.rainbow-date-picker_container {
  width: 100%; }

.rainbow-date-picker_modal {
  width: auto; }

.rainbow-date-picker_modal > .rainbow-modal_content {
  max-height: none;
  padding: 0; }

.rainbow-date-picker_calendar-details-header {
  display: flex;
  align-items: center;
  padding: 20px 48px 0 32px; }

.rainbow-date-picker_calendar-date--selected {
  color: #01b6f5;
  font-size: 1.5rem;
  font-weight: 500; }

.rainbow-date-picker_calendar-container {
  width: 460px;
  height: 400px;
  padding: 0 24px;
  margin: 20px 0 0 0; }
