.rainbow-date-picker_container {
  width: 100%; }

.rainbow-date-picker_modal {
  width: auto; }

.rainbow-date-picker_modal > .rainbow-modal_content {
  max-height: none;
  padding: 0; }

.rainbow-date-picker_modal > button > svg {
  fill: white; }

.rainbow-date-picker_calendar-details-header {
  background-color: #01b6f5;
  height: 72px;
  border-radius: 0.875rem 0.875rem 0 0;
  display: flex;
  align-items: center;
  padding: 0 48px 0 24px; }

.rainbow-date-picker_calendar-date--selected {
  color: white;
  font-size: 1.25rem;
  font-weight: 300; }

.rainbow-date-picker_calendar-container {
  width: 460px;
  height: 400px;
  padding: 0 24px;
  margin: 20px 0 0 0; }
