.react-rainbow-message_container {
    padding: 20px 16px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 999999;
    transform: translateY(-500px);
    transition: transform 500ms linear, opacity 250ms linear;
}
.react-rainbow-message_container-error {
    background-color: #fff;
    color: #fe4849;
}
.react-rainbow-message_container-success {
    background-color: #1de9b6;
    color: #fff;
}
.react-rainbow-message_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 980px;
}
.react-rainbow-message_text {
    color: #ffffff;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 500;
    flex-grow: 1;
}
.react-rainbow-message_icon,.react-rainbow-message_close-button {
    flex-shrink: 0;
}
.react-rainbow-message_container--shown {
    transform: translateY(0%);
}
