.react-rainbow-table {
    background-color: white;
    border-radius: 0.875rem;
    font-size: 0.875rem;
}

.react-rainbow-table th {
    color: #061c3f;
    padding: 0.5rem 0.75rem;
    white-space: nowrap;
    position: relative;
}

.react-rainbow-table td {
    color: #576574;
    padding: 0 0.75rem;
    white-space: nowrap;
    position: relative;
}

.react-rainbow-table th {
    font-weight: 400;
    background-color: #e3e5ed;
}

.react-rainbow-table th:focus {
    outline: 0;
}

.react-rainbow-table tbody tr {
    counter-increment: row-number;
}

.react-rainbow-table th:focus {
    box-shadow: #0070d2 0 0 0 1px inset;
    outline: 0;
}

.react-rainbow-table th:active {
    box-shadow: none;
}

.react-rainbow-table-bordered {
    border-collapse: separate;
}

.react-rainbow-table-bordered thead > tr + tr > th {
    border-top: 1px solid #e3e5ed;
}

.react-rainbow-table-bordered tbody td,
.react-rainbow-table-bordered tbody th {
    border-top: 1px solid #e3e5ed;
}

.react-rainbow-truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.react-rainbow-text-title-caps {
    font-size: 0.75rem;
    line-height: 1.25;
    color: #576574;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
}

@media (max-width: 800px) {
    .react-rainbow-table {
        width: 100%;
        overflow-x: scroll;
    }

    .react-rainbow-text-title-caps {
        width: 100%;
    }
}

.react-rainbow-proptype-shape-list li > ul {
    margin-left: 1.5rem;
    list-style-type: none;
}

.react-rainbow-proptype-union-list {
    list-style-type: disc;
}

.react-rainbow-proptype-union-list li > ul {
    margin-left: 1.5rem;
}

.react-rainbow-prop-name-label {
    font-family: Consolas, "Liberation Mono", Menlo, monospace;
    font-size: 13px;
    color: #690;
}

.react-rainbow-prop-type-label {
    font-family: Consolas, "Liberation Mono", Menlo, monospace;
    font-size: 13px;
    color: #905;    
}

.react-rainbow-prop-type-array-pad {
    padding-left: 1rem;
}

.react-rainbow-prop-type-enum {
    color: #a2aab7;
}

.react-rainbow-prop-description {
    white-space: normal;
}

.react-rainbow-defualt-array {
    white-space: normal;
    max-width: 300px;
    text-align: justify;
}