@import "../../styles/colors";

.rainbow-progress-circular {
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .rainbow-progress-circular_ring {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;

        .rainbow-progress-circular_ring-path {
            stroke: $color-gray-2;
        }

        .rainbow-progress-circular_ring-fill-percent {
            stroke: $color-brand;
            transition: all 0.4s ease-out 0s;
        }
    }

    .rainbow-progress-circular_percent-text {
        font-size: 2rem;
        color: $color-brand;
    }
}

.rainbow-progress-circular--success {
    .rainbow-progress-circular_ring {
        .rainbow-progress-circular_ring-fill-percent {
            stroke: $color-success;
        }
    }

    .rainbow-progress-circular_percent-text {
        color: $color-success;
    }
}

.rainbow-progress-circular--warning {
    .rainbow-progress-circular_ring {
        .rainbow-progress-circular_ring-fill-percent {
            stroke: $color-yellow-1;
        }
    }

    .rainbow-progress-circular_percent-text {
        color: $color-yellow-1;
    }
}

.rainbow-progress-circular--error {
    .rainbow-progress-circular_ring {
        .rainbow-progress-circular_ring-fill-percent {
            stroke: $color-error;
        }
    }

    .rainbow-progress-circular_percent-text {
        color: $color-error;
    }
}
