/* stylelint-disable no-descending-specificity */
.rainbow-button-group button.rainbow-button, .rainbow-button-group button.rainbow-button-icon {
  border-radius: 0;
  border-width: 1px;
  margin-left: -1px; }

.rainbow-button-group {
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .rainbow-button-group button.rainbow-button:focus {
    z-index: 1; }
  .rainbow-button-group button.rainbow-button:hover {
    z-index: 1; }
  .rainbow-button-group button.rainbow-button-icon:focus {
    z-index: 1; }
  .rainbow-button-group button.rainbow-button-icon:hover {
    z-index: 1; }

.rainbow-button-group + .rainbow-button-group {
  margin-left: 0.5rem; }

.rainbow-button-group > button.rainbow-button:first-child,
.rainbow-button-group > button.rainbow-button-icon:first-child,
.rainbow-button-group > div:first-child > button.rainbow-button-icon {
  border-radius: 100px 0 0 100px; }

.rainbow-button-group > button.rainbow-button:last-child,
.rainbow-button-group > button.rainbow-button-icon:last-child,
.rainbow-button-group > div:last-child > button.rainbow-button-icon {
  border-radius: 0 100px 100px 0; }

.rainbow-button-group > button.rainbow-button:only-child,
.rainbow-button-group > button.rainbow-button-icon:only-child,
.rainbow-button-group > div:only-child > button.rainbow-button-icon {
  border-radius: 100px; }
