.react-rainbow-editor-header {
    background: #04132c !important;
    border-radius: 10px 10px 0 0;
    height: 34px;
    display: flex;
    justify-content:  space-between;
    padding-right: 8px;
    align-items: center;
}

.react-codemirror2 {
    border-radius: 0 0 5px 5px;
    overflow-y: hidden;
}

.CodeMirror {
    height: auto !important;
}

.CodeMirror-lines {
    padding: 16px 24px 24px 8px !important;
    font-family: Consolas, "Liberation Mono", Menlo, monospace;
    height: auto;
}

.CodeMirror-line {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    word-break: normal !important;
}

.CodeMirror-gutters {
    background-color: #061c3f !important;
    border: none !important;
}

.cm-def {
    color: #a1a7b0 !important;
}

.CodeMirror-linenumber {
    color: rgba(255, 255, 255, 0.3) !important;
    text-align: right !important;
}

.CodeMirror-selected {
    background: #284066 !important;
}