.react-rainbow-components-page_container {
    padding: 0 1.25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 2.375rem;
}

.react-rainbow-components-page_cards-container {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
}

.react-rainbow-components-page_card-group-container {
    display: flex;
    flex-wrap: wrap;
}

.react-rainbow-components-page_category-title {
    font-family: Lato;
    font-size: 20px;
    font-weight: 300;
    color: #576574;
    margin-top: 2.5rem;
    margin-left: 0.8rem;
}

.react-rainbow-components-page_card {
    width: 12.5rem;
    height: 10.625rem;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
    margin-top: 1.5rem;
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #061c3f;
}

.react-rainbow-components-page_card-image {
    padding: 1rem;
    height: 7.5rem;
    margin: auto;
    display: flex;
}

.react-rainbow-components-page_title {
    text-align: center;
    margin-bottom: 1rem;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.03125rem;
    color: #061c3f;
}

.react-rainbow-components-page_search {
    width: 70%;
}

@media (max-width: 375px) {
    .react-rainbow-components-page_search {
        width: 100%;
    }
    .react-rainbow-components-page_title {
        font-size: 1.25rem;
        font-weight: 300;
        letter-spacing: 0.01875rem;
    }
    .react-rainbow-components-page_card {
        width: 18.75rem;
    }
    .react-rainbow-components-page_category-title {
        text-align: center;
    }
}
