/* stylelint-disable no-descending-specificity,max-line-length */
.rainbow-checkbox-toggle {
  display: -ms-flexbox;
  display: inline-flex;
  align-items: center; }
  .rainbow-checkbox-toggle [type='checkbox'] {
    width: 0.0625rem;
    height: 0.0625rem;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -0.0625rem;
    overflow: hidden;
    padding: 0;
    position: absolute; }
  .rainbow-checkbox-toggle .rainbow-checkbox-toggle_faux {
    display: block;
    width: 2.75rem;
    height: 1.5rem;
    padding: 0.125rem;
    transition: all 0.3s cubic-bezier(0.75, 0, 0.08, 1);
    border-radius: 1rem;
    border: solid 0.125rem #dcdfe7;
    background-color: #e3e5ed;
    position: relative; }
    .rainbow-checkbox-toggle .rainbow-checkbox-toggle_faux:hover, .rainbow-checkbox-toggle .rainbow-checkbox-toggle_faux:focus {
      cursor: pointer;
      background-color: #dcdfe7; }
    .rainbow-checkbox-toggle .rainbow-checkbox-toggle_faux::after {
      content: '';
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0.015625rem;
      width: 1.25rem;
      height: 1.25rem;
      box-shadow: 0 0 2px 0 #a4a7b5;
      transition: all 0.3s cubic-bezier(0.75, 0, 0.08, 1);
      border-radius: 1rem;
      border: solid 0.125rem transparent;
      background-color: white;
      position: absolute; }

.rainbow-checkbox-toggle_label {
  color: #576574;
  font-size: 0.875rem;
  margin-left: 0.75rem; }

.rainbow-checkbox-toggle [type='checkbox'] + .rainbow-checkbox-toggle_faux-container {
  font-size: 0.625rem;
  color: #e3e5ed; }

.rainbow-checkbox-toggle [type='checkbox']:focus + .rainbow-checkbox-toggle_faux,
.rainbow-checkbox-toggle [type='checkbox']:focus ~ .rainbow-checkbox-toggle_faux,
.rainbow-checkbox-toggle [type='checkbox']:focus + .rainbow-checkbox-toggle_faux-container .rainbow-checkbox-toggle_faux {
  background-color: #e3e5ed;
  border-color: #dcdfe7;
  outline: 0;
  box-shadow: 0 0 4px #01b6f5; }

.rainbow-checkbox-toggle [type='checkbox']:checked + .rainbow-checkbox-toggle_faux,
.rainbow-checkbox-toggle [type='checkbox']:checked ~ .rainbow-checkbox-toggle_faux,
.rainbow-checkbox-toggle [type='checkbox']:checked + .rainbow-checkbox-toggle_faux-container .rainbow-checkbox-toggle_faux {
  border-color: #07b0ea;
  background-color: #01b6f5; }

.rainbow-checkbox-toggle [type='checkbox']:checked + .rainbow-checkbox-toggle_faux:hover,
.rainbow-checkbox-toggle [type='checkbox']:checked + .rainbow-checkbox-toggle_faux:focus,
.rainbow-checkbox-toggle [type='checkbox']:checked ~ .rainbow-checkbox-toggle_faux:hover,
.rainbow-checkbox-toggle [type='checkbox']:checked ~ .rainbow-checkbox-toggle_faux:focus,
.rainbow-checkbox-toggle [type='checkbox']:checked + .rainbow-checkbox-toggle_faux-container .rainbow-checkbox-toggle_faux:hover,
.rainbow-checkbox-toggle [type='checkbox']:checked + .rainbow-checkbox-toggle_faux-container .rainbow-checkbox-toggle_faux:focus {
  background-color: #07b0ea;
  border-color: #07b0ea; }

.rainbow-checkbox-toggle [type='checkbox']:checked + .rainbow-checkbox-toggle_faux::after,
.rainbow-checkbox-toggle [type='checkbox']:checked ~ .rainbow-checkbox-toggle_faux::after,
.rainbow-checkbox-toggle [type='checkbox']:checked + .rainbow-checkbox-toggle_faux-container .rainbow-checkbox-toggle_faux::after {
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.3s cubic-bezier(0.75, 0, 0.08, 1);
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px); }

.rainbow-checkbox-toggle [type='checkbox']:checked:focus + .rainbow-checkbox-toggle_faux,
.rainbow-checkbox-toggle [type='checkbox']:checked:focus ~ .rainbow-checkbox-toggle_faux,
.rainbow-checkbox-toggle [type='checkbox']:checked:focus + .rainbow-checkbox-toggle_faux-container .rainbow-checkbox-toggle_faux {
  background-color: #01b6f5; }

.rainbow-checkbox-toggle [type='checkbox'][disabled] + .rainbow-checkbox-toggle_faux,
.rainbow-checkbox-toggle [type='checkbox'][disabled] ~ .rainbow-checkbox-toggle_faux,
.rainbow-checkbox-toggle [type='checkbox'][disabled] + .rainbow-checkbox-toggle_faux-container .rainbow-checkbox-toggle_faux {
  pointer-events: none;
  border-radius: 1rem;
  border: solid 0.125rem rgba(164, 167, 181, 0.1);
  background-color: #f4f6f9;
  position: relative; }

.rainbow-checkbox-toggle [type='checkbox'][disabled] + .rainbow-checkbox-toggle_faux::after,
.rainbow-checkbox-toggle [type='checkbox'][disabled] ~ .rainbow-checkbox-toggle_faux::after,
.rainbow-checkbox-toggle [type='checkbox'][disabled] + .rainbow-checkbox-toggle_faux-container .rainbow-checkbox-toggle_faux::after {
  background-color: #fff;
  box-shadow: 0 0 1px 0 #e3e5ed; }

.rainbow-checkbox-toggle [type='checkbox'][disabled]:checked + .rainbow-checkbox-toggle_faux-container .rainbow-checkbox-toggle_faux::after {
  background-color: transparent; }
