/* stylelint-disable no-descending-specificity */
@import "../../styles/colors";
@import "../../styles/shadows";
@import "../../styles/margins";
@import "../../styles/paddings";
@import "../../styles/font-sizes";

@mixin position-tab($justify-content) {
    display: flex;
    justify-content: $justify-content;
    align-items: center;
    position: relative;
}

.rainbow-tab {
    height: 2.5rem;
    background-color: transparent;

    @include position-tab(flex-start);

    &:hover {
        .rainbow-tab_anchor {
            cursor: pointer;
            color: $color-brand;
        }
    }

    &.rainbow-tab--disabled .rainbow-tab_anchor:focus {
        outline: none;
        text-decoration: none;
    }
}

.rainbow-tab--full-width {
    flex: 1;
    justify-content: center;
}

.rainbow-tab--active {
    background-color: white;
    border-bottom-color: white;
    box-shadow: inset 0 0.1875rem 0.1875rem 0 $color-gray-2;
    height: 2.75rem;

    .rainbow-tab_anchor {
        color: $color-brand;

        .rainbow-tab_selected-indicator {
            background-color: $color-brand;
        }
    }
}

.rainbow-tab--disabled {
    .rainbow-tab_anchor {
        color: $color-gray-3;
        cursor: pointer;
        pointer-events: none;
    }

    &:hover {
        box-shadow: none;
        background-color: transparent;

        .rainbow-tab_anchor {
            color: $color-gray-3;

            .rainbow-tab_selected-indicator {
                background-color: transparent;
            }
        }
    }
}

.rainbow-tab_anchor {
    line-height: 1rem;
    letter-spacing: 0.5px;
    font-size: $font-size-text-medium;
    font-weight: 600;
    color: $color-gray-4;
    height: 100%;
    width: 100%;
    padding: 0 $padding-large;

    @include position-tab(center);

    &:hover, &:active, &:visited {
        text-decoration: none;
        outline: 0;
    }

    &:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: inset 0 0.125rem 0.125rem $color-brand;
    }
}

.rainbow-tab_selected-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.2rem;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: transparent;
}
