/* stylelint-disable no-descending-specificity */
.rainbow-tab {
  height: 2.5rem;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative; }
  .rainbow-tab:hover .rainbow-tab_anchor {
    cursor: pointer;
    color: #01b6f5; }
  .rainbow-tab.rainbow-tab--disabled .rainbow-tab_anchor:focus {
    outline: none;
    text-decoration: none; }

.rainbow-tab--full-width {
  flex: 1;
  justify-content: center; }
  .rainbow-tab--full-width .rainbow-tab_anchor {
    justify-content: center;
    padding: 0 1.5rem; }

.rainbow-tab--active {
  background-color: white;
  border-bottom-color: white;
  box-shadow: inset 0 0.1875rem 0.1875rem 0 #e3e5ed;
  height: 2.75rem; }
  .rainbow-tab--active .rainbow-tab_anchor {
    color: #01b6f5; }
    .rainbow-tab--active .rainbow-tab_anchor .rainbow-tab_selected-indicator {
      background-color: #01b6f5; }

.rainbow-tab--disabled .rainbow-tab_anchor {
  color: #a4a7b5;
  cursor: pointer;
  pointer-events: none; }

.rainbow-tab--disabled:hover {
  box-shadow: none;
  background-color: transparent; }
  .rainbow-tab--disabled:hover .rainbow-tab_anchor {
    color: #a4a7b5; }
    .rainbow-tab--disabled:hover .rainbow-tab_anchor .rainbow-tab_selected-indicator {
      background-color: transparent; }

.rainbow-tab_anchor {
  line-height: 1rem;
  letter-spacing: 0.5px;
  font-size: 0.875rem;
  font-weight: 600;
  color: #576574;
  height: 100%;
  width: 100%;
  padding: 0 1.5rem 0 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative; }
  .rainbow-tab_anchor:hover, .rainbow-tab_anchor:active, .rainbow-tab_anchor:visited {
    text-decoration: none;
    outline: 0; }
  .rainbow-tab_anchor:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: inset 0 0.125rem 0.125rem #01b6f5; }

.rainbow-tab_selected-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.2rem;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: transparent; }
