/* stylelint-disable no-descending-specificity */
@import "../../styles/colors";
@import "../../styles/shadows";
@import "../../styles/margins";
@import "../../styles/paddings";
@import "../../styles/font-sizes";

@mixin position-tab($justify-content) {
    display: flex;
    justify-content: $justify-content;
    align-items: center;
    position: relative;
}

@mixin border-tab($rotate) {
    content: '';
    background: transparent;
    position: absolute;
    bottom: -16px;
    height: 56px;
    width: 56px;
    border-radius: 100%;
    border-width: 16px;
    border-style: solid;
    border-color: transparent white transparent transparent;
    -webkit-transform: rotate($rotate);
}

.rainbow-tab {
    height: 2.75rem;
    background-color: transparent;

    @include position-tab(center);
}

.rainbow-tab:nth-child(1) > .rainbow-tab_anchor::after {
    background-color: transparent;
}

.rainbow-tab_anchor {
    height: 100%;
    padding: 0 $padding-large;
    background-color: transparent;
    border-radius: 14px 14px 0 0;
    line-height: 1rem;
    letter-spacing: 1px;
    font-size: $font-size-text-small;
    font-weight: 600;
    color: $color-gray-4;
    z-index: 0;

    @include position-tab(center);

    &::after {
        content: '';
        position: absolute;
        left: -2px;
        height: 20px;
        width: 1px;
        background-color: $color-gray-3;
    }

    &:hover::after {
        background-color: transparent;
    }

    &:hover, &:active, &:visited {
        text-decoration: none;
        outline: 0;
        cursor: pointer;
    }

    &:hover {
        background-color: #f9fafc;
        color: $color-gray-4;
        z-index: 1;
    }

    &:focus {
        text-decoration: none;
        outline: 0;
        border-radius: 14px 14px 0 0;
    }
}

.rainbow-tab--active {
    background-color: white;
    color: $color-brand;
    border-radius: 14px 14px 0 0;
    z-index: 2;

    &::after {
        left: -40px;

        @include border-tab(45deg);
    }

    &::before {
        right: -40px;

        @include border-tab(145deg);
    }

    &:hover, &:active, &:visited, &:focus {
        color: $color-brand;
        background-color: white;
    }
}

.rainbow-tab--disabled {
    &.rainbow-tab_anchor {
        color: $color-gray-3;
        cursor: pointer;
        pointer-events: none;
    }

    &:hover {
        box-shadow: none;
        background-color: transparent;

        .rainbow-tab_anchor {
            color: $color-gray-3;
        }
    }
}

.rainbow-tab_anchor-inner-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rainbow-tab--disabled .rainbow-tab_anchor:focus {
    outline: none;
    text-decoration: none;
}

.rainbow-tab--full-width {
    flex-grow: 1;
}

@media (max-width: 600px) {
    .rainbow-tab {
        height: 3.5rem;
        width: 0;

        @include position-tab(flex-start);

        position: absolute;
    }

    .rainbow-tab_anchor.rainbow-tab--active {
        width: 100%;
    }

    .rainbow-tab_anchor {
        height: 100%;
        width: 100%;
        border-radius: 0;
        padding: 0 1rem 0 1rem;
        color: $color-brand;

        @include position-tab(flex-start);

        &::after {
            content: unset;
            position: unset;
            left: unset;
            height: unset;
            width: unset;
            background-color: unset;
        }

        &:focus {
            border-radius: 0;
        }
    }

    .rainbow-tab--active {
        border-radius: 0;
        position: relative;
        width: calc(100% - 94px);

        &::after {
            left: unset;
            content: unset;
            background: unset;
            position: unset;
            bottom: unset;
            height: unset;
            width: unset;
            border-radius: unset;
            border-width: unset;
            border-style: unset;
            border-color: unset;
            -webkit-transform: unset;
        }

        &::before {
            background: unset;
            border-width: unset;
            border-style: unset;
            border-color: unset;
            -webkit-transform: unset;
            content: "";
            height: 0.125rem;
            width: 100%;
            left: 0;
            bottom: 0;
            position: absolute;
            background-color: #01b6f5;
            border-radius: 100px;
        }
    }
}
