/* stylelint-disable no-descending-specificity */
.rainbow-tab {
  height: 2.75rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.rainbow-tab:nth-child(1) > .rainbow-tab_anchor::after {
  background-color: transparent; }

.rainbow-tab_anchor {
  height: 100%;
  padding: 0.5rem 1.75rem;
  background-color: transparent;
  border-radius: 14px 14px 0 0;
  line-height: 1rem;
  letter-spacing: 1px;
  font-size: 0.75rem;
  font-weight: 600;
  color: #576574;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .rainbow-tab_anchor::after {
    content: '';
    position: absolute;
    left: -2px;
    height: 20px;
    width: 1px;
    background-color: #a4a7b5; }
  .rainbow-tab_anchor:hover::after {
    background-color: transparent; }
  .rainbow-tab_anchor:hover, .rainbow-tab_anchor:active, .rainbow-tab_anchor:visited {
    text-decoration: none;
    outline: 0;
    cursor: pointer; }
  .rainbow-tab_anchor:hover {
    background-color: #f9fafc;
    color: #576574;
    z-index: 1; }
  .rainbow-tab_anchor:focus {
    text-decoration: none;
    outline: 0;
    border-radius: 14px 14px 0 0; }

.rainbow-tab--active {
  background-color: white;
  color: #01b6f5;
  border-radius: 14px 14px 0 0;
  z-index: 2; }
  .rainbow-tab--active::after {
    left: -40px;
    content: '';
    background: transparent;
    position: absolute;
    bottom: -16px;
    height: 56px;
    width: 56px;
    border-radius: 100%;
    border-width: 16px;
    border-style: solid;
    border-color: transparent white transparent transparent;
    -webkit-transform: rotate(45deg); }
  .rainbow-tab--active::before {
    right: -40px;
    content: '';
    background: transparent;
    position: absolute;
    bottom: -16px;
    height: 56px;
    width: 56px;
    border-radius: 100%;
    border-width: 16px;
    border-style: solid;
    border-color: transparent white transparent transparent;
    -webkit-transform: rotate(145deg); }
  .rainbow-tab--active:hover, .rainbow-tab--active:active, .rainbow-tab--active:visited, .rainbow-tab--active:focus {
    color: #01b6f5;
    background-color: white; }

.rainbow-tab--disabled.rainbow-tab_anchor {
  color: #a4a7b5;
  cursor: pointer;
  pointer-events: none; }

.rainbow-tab--disabled:hover {
  box-shadow: none;
  background-color: transparent; }
  .rainbow-tab--disabled:hover .rainbow-tab_anchor {
    color: #a4a7b5; }

.rainbow-tab_anchor-inner-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.rainbow-tab--disabled .rainbow-tab_anchor:focus {
  outline: none;
  text-decoration: none; }

.rainbow-tab--full-width {
  flex-grow: 1; }

@media (max-width: 600px) {
  .rainbow-tab {
    height: 4rem;
    width: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    position: absolute; }
  .rainbow-tab_anchor.rainbow-tab--active {
    width: 100%; }
  .rainbow-tab_anchor {
    height: 100%;
    width: 100%;
    border-radius: 0;
    padding: 0 1rem 0 1rem;
    color: #01b6f5;
    font-size: 0.875rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative; }
    .rainbow-tab_anchor::after {
      content: unset;
      position: unset;
      left: unset;
      height: unset;
      width: unset;
      background-color: unset; }
    .rainbow-tab_anchor:focus {
      border-radius: 0; }
  .rainbow-tab--active {
    border-radius: 0;
    position: relative;
    width: 100%; }
    .rainbow-tab--active::after {
      left: unset;
      content: unset;
      background: unset;
      position: unset;
      bottom: unset;
      height: unset;
      width: unset;
      border-radius: unset;
      border-width: unset;
      border-style: unset;
      border-color: unset;
      -webkit-transform: unset; }
    .rainbow-tab--active::before {
      background: unset;
      border-width: unset;
      border-style: unset;
      border-color: unset;
      -webkit-transform: unset;
      content: "";
      height: 0.125rem;
      width: 100%;
      left: 0;
      bottom: 0;
      position: absolute;
      background-color: #01b6f5;
      border-radius: 100px; } }
