/* stylelint-disable no-descending-specificity */
@import "../../styles/colors";
@import "../../styles/shadows";
@import "../../styles/margins";
@import "../../styles/paddings";
@import "../../styles/font-sizes";

.rainbow-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    min-width: 9.375rem;
    background-color: transparent;
    position: relative;

    &:hover {
        a {
            cursor: pointer;
            color: $color-brand;
        }
    }

    a {
        line-height: 1rem;
        letter-spacing: 0.5px;
        font-size: $font-size-text-medium;
        font-weight: 900;
        color: $color-gray-4;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0 $padding-small;

        &:hover, &:active, &:visited {
            text-decoration: none;
            outline: 0;
        }

        &:focus {
            text-decoration: none;
            outline: 0;
            box-shadow: inset 0 0.125rem 0.125rem $color-brand;
        }

        div {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 0.125rem;
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 100px;
            background-color: transparent;
        }
    }

    &.rainbow-tab--disabled a:focus {
        outline: none;
        text-decoration: none;
    }
}

.rainbow-tab--full-width {
    flex: 1;
}

.rainbow-tab--active {
    background-color: white;
    border-bottom-color: white;
    box-shadow: inset 0 0.1875rem 0.1875rem 0 $color-gray-2;
    height: 2.6875rem;

    a {
        color: $color-brand;

        div {
            background-color: $color-brand;
        }
    }
}

.rainbow-tab--disabled {
    a {
        color: $color-gray-3;
        cursor: pointer;
        pointer-events: none;
    }

    &:hover {
        box-shadow: none;
        background-color: transparent;

        a {
            color: $color-gray-3;

            div {
                background-color: transparent;
            }
        }
    }
}
