.react-rainbow-components-page_container {
    padding: 1rem 1.25rem 2.375rem 1.25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #f4f6f9;
    min-height: calc(100vh - 68px);
}

.react-rainbow-components-page_title {
    text-align: center;
    margin: 1.25rem 0 1rem 0;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.03125rem;
    color: #061c3f;
}

.react-rainbow-components-page_search {
    width: 50%;
}

.react-rainbow-components-page_carbon-ads {
    align-self: flex-end;
    margin: 0 1rem -64px 0;
}

.react-rainbow-components-page_card-container {
    margin: 0.8rem 1.5rem 0.8rem 0;
}

.react-rainbow-components-page_cards-container {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
}

.react-rainbow-components-page_card-group-container {
    display: flex;
    flex-wrap: wrap;
}

.react-rainbow-components-page_category-title {
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    color: #576574;
    margin-top: 2.5rem;
    margin-left: 0.8rem;
}

.react-rainbow-components-page_category-description {
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    color: #576574;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
}

.react-rainbow-components-page_card {
    width: 14rem;
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #061c3f;
}

.react-rainbow-components-page_card-image {
    padding: 1.2rem 1rem;
    height: 6.5rem;
    margin: auto;
    display: flex;
}

@media (max-width: 1280px) {
    .react-rainbow-components-page_carbon-ads {
        margin: 0 1rem -1rem 0;
    }
    .react-rainbow-components-page_search {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .react-rainbow-components-page_search {
        width: 100%;
    }

    .react-rainbow-components-page_carbon-ads {
        margin: 0;
        align-self: center;
    }

    .react-rainbow-components-page_cards-container {
        width: 100%;
    }

    .react-rainbow-components-page_title {
        font-size: 1.25rem;
        font-weight: 300;
        letter-spacing: 0.01875rem;
    }

    .react-rainbow-components-page_card-container {
        width: 100%;
        margin-right: 0;
    }

    .react-rainbow-components-page_card {
        width: 100%;
        margin-right: 0;
    }

    .react-rainbow-components-page_card-image {
        height: 8rem;
    }

    .react-rainbow-components-page_category-title {
        text-align: center;
    }
}
