.rainbow-nav-vertical-section-overflow-button {
  border: 0;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1rem 1rem 1.5rem;
  border-bottom: 0.0625rem solid #f4f6f9;
  border-radius: 0;
  color: #576574;
  font-size: 0.875rem;
  background-clip: border-box;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .rainbow-nav-vertical-section-overflow-button:focus {
    outline: 0; }

.rainbow-nav-certical-overflow-show {
  display: block; }

.rainbow-nav-certical-overflow-hide {
  display: none !important; }

.rainbow-nav-vertical-overflow__action-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1; }

.rainbow-nav-vertical-overflow__action-title {
  font-size: 0.9375rem;
  color: #576574; }

.rainbow-nav-vertical-overflow__action-description {
  font-size: 0.625rem;
  line-height: 1rem 1rem 1rem;
  color: #a4a7b5; }

.rainbow-nav-vertical-section-overflow__icon > svg {
  font-size: 0.75rem !important;
  width: 0.75rem !important;
  height: 0.75rem !important;
  color: #01b6f5 !important; }

.rainbow-nav-vertical-section-overflow__icon_left {
  margin-right: 0.5rem; }

.rainbow-nav-vertical-section-overflow__icon_right {
  margin-left: 0.5rem;
  margin-top: 0.625rem;
  transform: rotate(-90deg);
  transition: transform 0.15s linear; }

.rainbow-nav-vertical-section-overflow__icon_expanded {
  transform: rotate(0deg); }

.rainbow-nav-certical-overflow-show .rainbow-nav-vertical__action {
  padding: 0.5rem 0.5rem 0.5rem 2.875rem; }
