.rainbow-vertical-section-overflow_container {
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
  .rainbow-vertical-section-overflow_container .rainbow-nav-vertical__action {
    padding: 0.75rem 0.5rem 0.75rem 2.875rem; }

.rainbow-vertical-section-overflow_container--expanded {
  background-color: rgba(244, 246, 249, 0.4);
  box-shadow: inset 0 0 2px 0 #e3e5ed;
  padding-bottom: 16px; }

.rainbow-vertical-section-overflow_button {
  border: 0;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 0;
  color: #576574;
  font-size: 0.875rem;
  background-clip: border-box;
  background-color: transparent;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .rainbow-vertical-section-overflow_button:focus {
    outline: 0;
    background-color: #f4f6f9; }

.rainbow-vertical-section-overflow_button--expanded {
  padding: 1rem 1rem 0 2rem; }

.rainbow-vertical-section-overflow--show {
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out; }
  .rainbow-vertical-section-overflow--show .rainbow-vertical-item_action {
    padding: 0.5rem 0.5rem 0.5rem 3.5rem; }
  .rainbow-vertical-section-overflow--show .rainbow-vertical-item_icon {
    top: 0.75rem;
    left: 2rem; }

.rainbow-vertical-section-overflow--hide {
  max-height: 0;
  overflow: hidden;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s; }

.rainbow-vertical-section-overflow_action-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1; }

.rainbow-vertical-section-overflow_action-title {
  font-size: 0.9375rem;
  color: #01b6f5; }

.rainbow-vertical-section-overflow_action-description {
  font-size: 0.625rem;
  line-height: 1rem;
  color: #a4a7b5;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.rainbow-vertical-section-overflow_action-description--expanded {
  opacity: 0; }

.rainbow-vertical-section-overflow_icon {
  margin-left: 0.5rem;
  margin-top: 0.625rem;
  transform: rotate(0deg);
  transition: transform 0.15s linear; }

.rainbow-vertical-section-overflow-icon--expanded {
  transform: rotate(-180deg);
  transition: transform 0.15s linear; }
