@import './../../styles/colors.scss';
@import './../../styles/paddings.scss';
@import './../../styles/margins.scss';
@import './../../styles/font-sizes.scss';
@import './../../styles/border-radius.scss';
@import './../../styles/shadows.scss';

@mixin variants-common-styles($background-color, $border-color, $color) {
    background-color: $background-color;
    border: 1px solid $border-color;
    color: $color;
}

.rainbow-chip {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    border-radius: $border-radius-2;
    padding: 0 $padding-small;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-property: margin, max-height, opacity, top;
    height: 2rem;
    line-height: 2rem;
    font-size: $font-size-text-medium;
    letter-spacing: 0.5;

    @include variants-common-styles($color-gray-2, $color-gray-2, $color-gray-4);

    .rainbow-chip_button-container {
        margin-right: -0.6rem;
        margin-left: $margin-xx-small;
        fill: $color-gray-4;
        flex-shrink: 0;
    }
}

.rainbow-chip--neutral {
    @include variants-common-styles(white, $color-gray-2, $color-gray-4);
}

.rainbow-chip--outline-brand {
    @include variants-common-styles(transparent, $color-brand, $color-brand);

    .rainbow-chip_button-container {
        fill: $color-brand;
    }
}

.rainbow-chip--brand {
    @include variants-common-styles($color-brand, $color-brand, white);

    .rainbow-chip_button-container {
        fill: white;
    }
}

.rainbow-chip_content--truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
