.rainbow-chip {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  border-radius: 12rem;
  padding: 0 0.75rem;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-property: margin, max-height, opacity, top;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.875rem;
  letter-spacing: 0.5;
  background-color: #e3e5ed;
  border: 1px solid #e3e5ed;
  color: #576574; }
  .rainbow-chip .rainbow-chip_button-container {
    margin-right: -0.6rem;
    margin-left: 0.25rem;
    fill: #576574;
    flex-shrink: 0; }

.rainbow-chip--neutral {
  background-color: white;
  border: 1px solid #e3e5ed;
  color: #576574; }

.rainbow-chip--outline-brand {
  background-color: transparent;
  border: 1px solid #01b6f5;
  color: #01b6f5; }
  .rainbow-chip--outline-brand .rainbow-chip_button-container {
    fill: #01b6f5; }

.rainbow-chip--brand {
  background-color: #01b6f5;
  border: 1px solid #01b6f5;
  color: white; }
  .rainbow-chip--brand .rainbow-chip_button-container {
    fill: white; }

.rainbow-chip_content--truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
