@import './../../styles/colors.scss';
@import './../../styles/paddings.scss';
@import './../../styles/margins.scss';
@import './../../styles/font-sizes.scss';
@import './../../styles/border-radius.scss';
@import './../../styles/shadows.scss';

.rainbow-chip {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: $border-radius-2;
    padding: 0 2px 0 0;
    background-color: $color-gray-2;
    border: solid 1px $color-gray-2;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-property: margin, max-height, opacity, top;
    height: 2rem;
    line-height: 2rem;
}

.rainbow-chip_anchor {
    text-decoration: none !important;
    display: flex;
}

.rainbow-chip_label {
    font-size: $font-size-text-medium;
    margin: 0 $margin-small;
    line-height: 2rem;
    color: #576574;
}

.rainbow-chip_icon-container {
    fill: #576574;
}
