@import "./../../styles/colors.scss";

.rainbow-nav-vertical__item {
    position: relative;
}

.rainbow-is-active::before {
    content: '';
    width: 0.25rem;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: $color-brand;
}

.rainbow-nav-vertical__action {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 0.75rem 1.5rem;
    border-top: 0.0625rem solid $color-gray-1;
    border-bottom: 0.0625rem solid $color-gray-1;
    border-radius: 0;
    color: $color-gray-4;
}

.rainbow-is-active .rainbow-nav-vertical__action,
.rainbow-nav-vertical__action:active,
.rainbow-nav-vertical__action:hover,
.rainbow-nav-vertical__action:focus {
    background-color: $color-gray-1;
    color: $color-brand;
    font-size: 0.9375rem;
    font-weight: 900;
    text-decoration: none;
}

.rainbow-nav-vertical_icon {
    line-height: 1;
    color: $color-brand;
    margin-right: 0.4375rem;
}

.rainbow-col_bump-left {
    margin-left: auto;
}
