.rainbow-vertical-item_action:hover,
.rainbow-vertical-item_action:focus, .rainbow-vertical-item--active .rainbow-vertical-item_action,
.rainbow-vertical-item_action:active {
  background-color: #f4f6f9;
  color: #061c3f;
  text-decoration: none;
  outline: 0; }

.rainbow-vertical-item {
  position: relative; }

.rainbow-vertical-item--active::before {
  content: "";
  width: 0.25rem;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: #01b6f5; }

.rainbow-vertical-item_action {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem 1rem 1rem 3rem;
  border-radius: 0;
  color: #576574;
  cursor: pointer;
  font-size: 0.875rem; }

.rainbow-vertical-item_action-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 1rem; }

.rainbow-vertical-item_action--icon {
  padding: 1rem 1rem 1rem 1.25rem; }

.rainbow-vertical-item--active .rainbow-vertical-item_action,
.rainbow-vertical-item_action:active {
  font-family: "Lato Black", Arial, sans-serif; }

.rainbow-vertical-item_icon {
  align-items: center;
  color: #01b6f5;
  display: flex;
  line-height: 1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 1.25rem; }

.rainbow-vertical-item_notification {
  margin-left: auto; }
