@import "./../../styles/colors.scss";
@import "./../../styles/font-sizes.scss";

%nav-vertical__action-hover-active {
    background-color: $color-gray-1;
    color: $color-dark-1;
    text-decoration: none;
}

.rainbow-nav-vertical__item {
    position: relative;
}

.rainbow-is-active::before {
    content: "";
    width: 0.25rem;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: $color-brand;
}

.rainbow-nav-vertical__action {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 0;
    color: $color-gray-4;
    cursor: pointer;
    font-size: $font-size-text-medium;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rainbow-nav-vertical__action:hover {
    @extend %nav-vertical__action-hover-active;
}

.rainbow-is-active .rainbow-nav-vertical__action,
.rainbow-nav-vertical__action:active {
    @extend %nav-vertical__action-hover-active;

    font-family: "Lato Black", Arial, sans-serif;
}

.rainbow-nav-vertical_icon {
    line-height: 1;
    color: $color-brand;
    margin-right: 0.5rem;
}

.rainbow-col_bump-left {
    margin-left: auto;
}
