@import "./../../styles/colors.scss";
@import "./../../styles/font-sizes.scss";
@import "./../../styles/margins";
@import "./../../styles/paddings";

%nav-vertical__action-hover-active {
    background-color: $color-gray-1;
    color: $color-dark-1;
    text-decoration: none;
    outline: 0;
}

.rainbow-vertical-item {
    position: relative;
}

.rainbow-vertical-item--active::before {
    content: "";
    width: 0.25rem;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: $color-brand;
}

.rainbow-vertical-item_action {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem 1rem 3rem;
    border-radius: 0;
    color: $color-gray-4;
    cursor: pointer;
    font-size: $font-size-text-medium;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rainbow-vertical-item_action--icon {
    padding: 1rem 1rem 1rem 1.25rem;
}

.rainbow-vertical-item_action:hover,
.rainbow-vertical-item_action:focus {
    @extend %nav-vertical__action-hover-active;
}

.rainbow-vertical-item--active .rainbow-vertical-item_action,
.rainbow-vertical-item_action:active {
    @extend %nav-vertical__action-hover-active;

    font-family: "Lato Black", Arial, sans-serif;
}

.rainbow-vertical-item_icon {
    line-height: 1;
    color: $color-brand;
    //margin-right: 0.75rem;
    position: absolute;
    top: 1.25rem;
    left: 1rem;
}

.rainbow-vertical-item_notification {
    margin-left: auto;
}
