.rainbow-primitive-menu {
  position: relative;
  display: inline-block; }
  .rainbow-primitive-menu:hover, .rainbow-primitive-menu:focus {
    outline: 0; }

.rainbow-primitive-menu_dropdown {
  position: absolute;
  z-index: 2000;
  left: 50%;
  float: left;
  min-width: 6rem;
  max-width: 20rem;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  border: solid 1px #e3e5ed;
  border-radius: 0.875rem;
  padding: 0.5rem 0;
  font-size: 0.75rem;
  background: white;
  box-shadow: 0 2px 4px 0 #e3e5ed;
  transform: translateX(-50%);
  display: none;
  opacity: 0;
  transition: opacity 0.1s linear, visibility 0.1s linear;
  visibility: hidden;
  top: 100%; }

.rainbow-primitive-menu.rainbow-primitive-menu--open .rainbow-primitive-menu_dropdown {
  display: block;
  opacity: 1;
  transition: opacity 0.1s linear, visibility 0.1s linear;
  visibility: visible; }

.rainbow-primitive-menu.rainbow-primitive-menu--open .rainbow-button-icon {
  box-shadow: 0 0 2px #01b6f5; }

.rainbow-primitive-menu_dropdown--left {
  left: 0;
  transform: translateX(0); }

.rainbow-primitive-menu_dropdown--right {
  left: auto;
  right: 0;
  transform: translateX(0); }

.rainbow-primitive-menu_dropdown--bottom {
  top: auto;
  bottom: 100%; }

.rainbow-primitive-menu_dropdown--bottom-right {
  top: auto;
  bottom: 100%;
  left: auto;
  right: 0;
  transform: translateX(0); }

.rainbow-primitive-menu_dropdown--bottom-left {
  top: auto;
  bottom: 100%;
  left: 0;
  transform: translateX(0); }

.rainbow-primitive-menu_dropdown--xx-small {
  min-width: 6rem; }

.rainbow-primitive-menu_dropdown--x-small {
  min-width: 12rem; }

.rainbow-primitive-menu_dropdown--small {
  min-width: 15rem; }

.rainbow-primitive-menu_dropdown--medium {
  min-width: 20rem; }

.rainbow-primitive-menu_dropdown--large {
  min-width: 25rem;
  max-width: 512px; }

.rainbow-primitive-menu_dropdown--loading-box {
  padding: 2rem;
  height: 3rem;
  width: 3rem; }
