/* stylelint-disable no-descending-specificity,max-line-length */
@import '../../../styles/colors';
@import '../../../styles/shadows';
@import '../../../styles/font-sizes';
@import '../../../styles/border-radius';
@import '../../../styles/margins';

@mixin bottomMessage($color) {
    font-size: $font-size-text-medium;
    margin-top: $margin-x-small;
    align-self: center;
    color: $color;
}

.rainbow-input-radio_container {
    position: relative;
    display: flex;
    flex-direction: column;
}

@mixin user-select() {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rainbow-input-radio_help {
    @include bottomMessage($color-dark-1);

    align-self: flex-start;
}

.rainbow-input-radio_error-message {
    @include bottomMessage($color-error);

    align-self: flex-start;
}

.rainbow-input-radio_inner-container {
    display: inline-block;

    .rainbow-input-radio_faux {
        width: 1.25rem;
        height: 1.25rem;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        border: 0.0625rem solid $color-gray-2;
        border-radius: $border-radius-2;
        background-color: white;
        transition: border 0.1s linear, background-color 0.1s linear;
    }
}

.rainbow-input-radio_label {
    display: inline;
    vertical-align: middle;
    font-size: $font-size-text-large;
    color: $color-dark-1;
    line-height: 1.65rem;
}

.rainbow-input-radio_label--disabled {
    color: $color-gray-3;
}

.rainbow-input-radio_inner-container [type='radio'] {
    width: 0.0625rem;
    height: 0.0625rem;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -0.0625rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.rainbow-input-radio_inner-container
    [type='radio']
    + .rainbow-input-radio_label-container
    .rainbow-input-radio_faux {
    margin-right: $margin-x-small;

    &::after {
        width: 75%;
        height: 75%;
        content: '';
        position: absolute;
        top: 12.5%;
        left: 12.5%;
        border-radius: $border-radius-2;
        background: $color-brand;
        opacity: 0;
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        transition: all 0.2s ease-in;
    }
}

.rainbow-input-radio_inner-container [type='radio']:checked + .rainbow-input-radio_faux,
.rainbow-input-radio_inner-container [type='radio']:checked ~ .rainbow-input-radio_faux,
.rainbow-input-radio_inner-container
    [type='radio']:checked
    + .rainbow-input-radio_label-container
    .rainbow-input-radio_faux {
    background: white;
    border: solid 0.09375rem $color-brand;

    &::after {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        transition: all 0.2s ease-in;
    }
}

.rainbow-input-radio_inner-container [type='radio']:focus + .rainbow-input-radio_faux,
.rainbow-input-radio_inner-container [type='radio']:focus ~ .rainbow-input-radio_faux,
.rainbow-input-radio_inner-container
    [type='radio']:focus
    + .rainbow-input-radio_label-container
    .rainbow-input-radio_faux {
    border: solid 0.09375rem $color-brand;
    box-shadow: $shadow-outline;
}

.rainbow-input-radio_inner-container [type='radio'][disabled] {
    cursor: not-allowed;

    @include user-select();
}

.rainbow-input-radio_inner-container [type='radio'][disabled] + .rainbow-input-radio_faux,
.rainbow-input-radio_inner-container [type='radio'][disabled] ~ .rainbow-input-radio_faux,
.rainbow-input-radio_inner-container
    [type='radio'][disabled]
    + .rainbow-input-radio_label-container
    .rainbow-input-radio_faux {
    background-color: $color-gray-1;
    border-color: $color-gray-2;
}

.rainbow-input-radio--error
    .rainbow-input-radio_inner-container
    [type='radio']
    + .rainbow-input-radio_faux,
.rainbow-input-radio--error
    .rainbow-input-radio_inner-container
    [type='radio']
    ~ .rainbow-input-radio_faux,
.rainbow-input-radio--error
    .rainbow-input-radio_inner-container
    [type='radio']
    + .rainbow-input-radio_label-container
    .rainbow-input-radio_faux {
    border: solid 0.09375rem $color-error;
}

.rainbow-input-radio--error
    .rainbow-input-radio_inner-container
    [type='radio'][disabled]
    + .rainbow-input-radio_faux,
.rainbow-input-radio--error
    .rainbow-input-radio_inner-container
    [type='radio'][disabled]
    ~ .rainbow-input-radio_faux,
.rainbow-input-radio--error
    .rainbow-input-radio_inner-container
    [type='radio'][disabled]
    + .rainbow-input-radio_label-container
    .rainbow-input-radio_faux {
    border-color: $color-gray-2;
}

.rainbow-input-radio--error
    .rainbow-input-radio_inner-container
    [type='radio']:focus
    + .rainbow-input-radio_faux,
.rainbow-input-radio--error
    .rainbow-input-radio_inner-container
    [type='radio']:focus
    ~ .rainbow-input-radio_faux,
.rainbow-input-radio--error
    .rainbow-input-radio_inner-container
    [type='radio']:focus
    + .rainbow-input-radio_label-container
    .rainbow-input-radio_faux {
    box-shadow: $shadow-error;
}

.rainbow-input-radio--error
    .rainbow-input-radio_inner-container
    [type='radio']:checked
    + .rainbow-input-radio_faux,
.rainbow-input-radio--error
    .rainbow-input-radio_inner-container
    [type='radio']:checked
    ~ .rainbow-input-radio_faux,
.rainbow-input-radio--error
    .rainbow-input-radio_inner-container
    [type='radio']:checked
    + .rainbow-input-radio_label-container
    .rainbow-input-radio_faux {
    background: white;

    &::after {
        background: $color-error;
        border-color: $color-error;
    }
}

.rainbow-input-radio_label--hide {
    position: absolute !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    text-transform: none !important;
    white-space: nowrap !important;
}
