/* stylelint-disable no-descending-specificity,max-line-length */
.rainbow-input-radio_container {
  position: relative;
  display: flex;
  flex-direction: column; }

.rainbow-input-radio_help {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  align-self: center;
  color: #061c3f;
  align-self: flex-start; }

.rainbow-input-radio_error-message {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  align-self: center;
  color: #fe4849;
  align-self: flex-start; }

.rainbow-input-radio_inner-container {
  display: inline-block; }
  .rainbow-input-radio_inner-container .rainbow-input-radio_faux {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border: 1px solid #e3e5ed;
    border-radius: 12rem;
    background-color: white;
    transition: border 0.1s linear, background-color 0.1s linear; }

.rainbow-input-radio_label {
  display: inline;
  vertical-align: middle;
  font-size: 1rem;
  color: #061c3f;
  line-height: 1.65rem; }

.rainbow-input-radio_label--disabled {
  color: #a4a7b5; }

.rainbow-input-radio_inner-container [type='radio'] {
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute; }

.rainbow-input-radio_inner-container [type='radio'] + .rainbow-input-radio_label-container .rainbow-input-radio_faux {
  margin-right: 0.5rem; }
  .rainbow-input-radio_inner-container [type='radio'] + .rainbow-input-radio_label-container .rainbow-input-radio_faux::after {
    width: 12px;
    height: 12px;
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 12rem;
    background: transparent;
    opacity: 0;
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    transition: all 0.2s ease-in; }

.rainbow-input-radio_inner-container [type='radio']:checked + .rainbow-input-radio_faux,
.rainbow-input-radio_inner-container [type='radio']:checked ~ .rainbow-input-radio_faux,
.rainbow-input-radio_inner-container [type='radio']:checked + .rainbow-input-radio_label-container .rainbow-input-radio_faux {
  background: white;
  border: solid 2px #01b6f5; }
  .rainbow-input-radio_inner-container [type='radio']:checked + .rainbow-input-radio_faux::after,
  .rainbow-input-radio_inner-container [type='radio']:checked ~ .rainbow-input-radio_faux::after,
  .rainbow-input-radio_inner-container [type='radio']:checked + .rainbow-input-radio_label-container .rainbow-input-radio_faux::after {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transition: all 0.2s ease-in;
    background: #01b6f5; }

.rainbow-input-radio_inner-container [type='radio']:focus + .rainbow-input-radio_faux,
.rainbow-input-radio_inner-container [type='radio']:focus ~ .rainbow-input-radio_faux,
.rainbow-input-radio_inner-container [type='radio']:focus + .rainbow-input-radio_label-container .rainbow-input-radio_faux {
  border: solid 2px #01b6f5;
  box-shadow: 0 0 2px #01b6f5; }

.rainbow-input-radio_inner-container [type='radio'][disabled] {
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.rainbow-input-radio_inner-container [type='radio'][disabled] + .rainbow-input-radio_faux,
.rainbow-input-radio_inner-container [type='radio'][disabled] ~ .rainbow-input-radio_faux,
.rainbow-input-radio_inner-container [type='radio'][disabled] + .rainbow-input-radio_label-container .rainbow-input-radio_faux {
  background-color: #f4f6f9;
  border-color: #e3e5ed; }

.rainbow-input-radio--error .rainbow-input-radio_inner-container [type='radio'] + .rainbow-input-radio_faux,
.rainbow-input-radio--error .rainbow-input-radio_inner-container [type='radio'] ~ .rainbow-input-radio_faux,
.rainbow-input-radio--error .rainbow-input-radio_inner-container [type='radio'] + .rainbow-input-radio_label-container .rainbow-input-radio_faux {
  border: solid 2px #fe4849; }

.rainbow-input-radio--error .rainbow-input-radio_inner-container [type='radio'][disabled] + .rainbow-input-radio_faux,
.rainbow-input-radio--error .rainbow-input-radio_inner-container [type='radio'][disabled] ~ .rainbow-input-radio_faux,
.rainbow-input-radio--error .rainbow-input-radio_inner-container [type='radio'][disabled] + .rainbow-input-radio_label-container .rainbow-input-radio_faux {
  border-color: #e3e5ed; }

.rainbow-input-radio--error .rainbow-input-radio_inner-container [type='radio']:focus + .rainbow-input-radio_faux,
.rainbow-input-radio--error .rainbow-input-radio_inner-container [type='radio']:focus ~ .rainbow-input-radio_faux,
.rainbow-input-radio--error .rainbow-input-radio_inner-container [type='radio']:focus + .rainbow-input-radio_label-container .rainbow-input-radio_faux {
  box-shadow: 0 0 2px #fe4849; }

.rainbow-input-radio--error .rainbow-input-radio_inner-container [type='radio']:checked + .rainbow-input-radio_faux,
.rainbow-input-radio--error .rainbow-input-radio_inner-container [type='radio']:checked ~ .rainbow-input-radio_faux,
.rainbow-input-radio--error .rainbow-input-radio_inner-container [type='radio']:checked + .rainbow-input-radio_label-container .rainbow-input-radio_faux {
  background: white; }
  .rainbow-input-radio--error .rainbow-input-radio_inner-container [type='radio']:checked + .rainbow-input-radio_faux::after,
  .rainbow-input-radio--error .rainbow-input-radio_inner-container [type='radio']:checked ~ .rainbow-input-radio_faux::after,
  .rainbow-input-radio--error .rainbow-input-radio_inner-container [type='radio']:checked + .rainbow-input-radio_label-container .rainbow-input-radio_faux::after {
    background: #fe4849;
    border-color: #fe4849; }

.rainbow-input-radio_label--hide {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  text-transform: none !important;
  white-space: nowrap !important; }
