@media (max-width: 1024px) {
    .react-rainbow-design-detail_img-container {
        width: 60%;
    }

    .react-rainbow-design-detail_header {
        display: flex;
        flex-direction: column;
    }
    
    .react-rainbow-design-detail_img {
        height: 500px;
    }

    .react-rainbow-design-detail_info-container {
        width: 40%;
    }
}

@media (max-width: 600px) {
    .react-rainbow-design-detail_content {
        flex-wrap: wrap;
    }

    .react-rainbow-design-detail_carbon-ads {
        align-self: center;
    }

    .react-rainbow-design-detail_img-container, .react-rainbow-design-detail_img, .react-rainbow-design-detail_info-container {
        width: 100%;
    }

    .react-rainbow-design-detail_info-container {
        margin-top: 16px;
    }

    .react-rainbow-design-detail_donwload-buttons-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .react-rainbow-design-detail_img-container {
        margin-right: 0;
    }

    .react-rainbow-design-detail_img {
        height: 300px;
    }

    .react-rainbow-design-detail_subtitle {
        margin-top: 16px;
    }
}
