@import "../../styles/colors";

%common-styles {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-start;
    width: 100%;
}

.rainbow-tabset {
    @extend %common-styles;
}

.rainbow-tabset_inner-container {
    @extend %common-styles;

    padding: 0 0.75rem;
}

.rainbow-tabset_inner-container--full-width {
    justify-content: space-between;
}

.rainbow-tabset_button-group {
    z-index: 4;
    padding-left: 1rem;
}

.rainbow-tabset_button-icon:disabled {
    background-color: white;
}

@media (max-width: 600px) {
    .rainbow-tabset {
        border-bottom: solid 1px $color-gray-1;
        background-color: white;
    }

    .rainbow-tabset_button-group {
        margin-left: 1rem;
        padding-left: 0;
    }

    .rainbow-tabset_button-icon:disabled {
        background-color: inherit;
    }
}
