.rainbow-tabset, .rainbow-tabset_inner-container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: flex-start;
  width: 100%; }

.rainbow-tabset_container {
  width: 100%; }

.rainbow-tabset-width-observer {
  width: 100%;
  height: 0; }

.rainbow-tabset_inner-container {
  padding: 0 0.75rem; }

.rainbow-tabset_inner-container--full-width {
  justify-content: space-between; }

.rainbow-tabset_button-group {
  z-index: 4;
  padding-left: 1rem; }

.rainbow-tabset_button-icon:disabled {
  background-color: white; }

@media (max-width: 600px) {
  .rainbow-tabset_container {
    border-bottom: solid 1px #f4f6f9;
    background-color: white; }
  .rainbow-tabset_inner-container {
    padding: 0; }
  .rainbow-tabset_button-group {
    margin-left: 1rem;
    padding-left: 0; }
  .rainbow-tabset_button-icon:disabled {
    background-color: inherit; } }
