@import "../../styles/colors";

.rainbow-tabset {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 41px;
    overflow-y: visible;
    border-bottom: $color-gray-2 2px solid;
    background-color: rgba(0, 0, 0, 0.02);
}
