@import "../../styles/colors";

.rainbow-tabset {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.rainbow-tabset--full-width {
    justify-content: space-between;
}

.rainbow-tabset_button-group {
    display: none;
}

@media (max-width: 600px) {
    .rainbow-tabset {
        border-bottom: solid 1px $color-gray-1;
        background-color: white;
    }

    .rainbow-tabset_button-group {
        display: inherit;
        margin-left: 1rem;
    }

    .rainbow-tabset_button-icon {
        fill: $color-brand;
    }
}
