/* stylelint-disable no-descending-specificity */
.rainbow-table-wrapper {
  overflow-x: auto; }

.rainbow-table {
  table-layout: fixed; }

.rainbow-table_head {
  background-color: #f4f6f9; }

.rainbow-table_header-row {
  box-shadow: 0 1px 0.3px 0 #e3e5ed, 0 -1px 0.3px 0 #e3e5ed; }

.rainbow-table_body {
  background-color: #fff; }
