/* stylelint-disable no-descending-specificity */
.rainbow-table {
  table-layout: fixed; }

.rainbow-table_head {
  background-color: #f4f6f9; }

.rainbow-table_header-row {
  box-shadow: 0 1px 0.3px 0 #e3e5ed, 0 -1px 0.3px 0 #e3e5ed; }

.rainbow-table_header-content-wrapper {
  height: 100%;
  padding-left: 0.5rem;
  border: 1px transparent solid;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.rainbow-table_header-content {
  overflow: hidden;
  text-overflow: ellipsis; }

.rainbow-table_header-resize-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 3px;
  border-radius: 100px;
  background-color: transparent; }
  .rainbow-table_header-resize-bar:hover {
    background-color: #01b6f5 !important;
    cursor: col-resize; }
    .rainbow-table_header-resize-bar:hover .rainbow-table_header-resize-bar_table-guideline {
      background-color: #01b6f5; }
  .rainbow-table_header-resize-bar:active {
    background-color: #009acf !important;
    z-index: 1000; }

.rainbow-table_header-resize-bar_table-guideline {
  height: 100vh;
  background-color: transparent;
  width: 1px;
  position: absolute;
  right: 1px;
  left: 1px; }
  .rainbow-table_header-resize-bar_table-guideline:hover {
    background-color: #01b6f5; }
  .rainbow-table_header-resize-bar_table-guideline:active {
    background-color: #009acf; }

.rainbow-table_header--sortable {
  cursor: pointer; }
  .rainbow-table_header--sortable:hover .rainbow-table_header-content-wrapper {
    background-color: #fff; }
  .rainbow-table_header--sortable:hover .rainbow-table_header-resize-bar {
    background-color: #e3e5ed; }

.rainbow-table_header--selected {
  color: #01b6f5; }
  .rainbow-table_header--selected .rainbow-table_header-content-wrapper {
    background-color: #fff;
    border-color: #01b6f5; }
  .rainbow-table_header--selected .rainbow-table_header-resize-bar, .rainbow-table_header--selected:hover .rainbow-table_header-resize-bar {
    background-color: #01b6f5; }

.rainbow-table_header {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 900;
  color: #576574;
  height: 44px;
  position: relative; }
  .rainbow-table_header:first-of-type .rainbow-table_header-content-wrapper {
    padding-left: 18px; }

.rainbow-table_header-arrow {
  margin-left: 4px; }

.rainbow-table_header-arrow--asc {
  transform: rotate(-180deg); }

.rainbow-table_body-wrapper {
  height: calc(100% - 44px);
  overflow-y: auto; }

.rainbow-table_body {
  background-color: #fff; }

.rainbow-table_body-row {
  box-shadow: 0 1px 0 0 #e3e5ed; }

.rainbow-table_cell {
  font-size: 0.875rem;
  color: #576574;
  height: 40px;
  padding-left: 0.5rem;
  padding-right: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.rainbow-table_cell:first-of-type {
  padding-left: 18px; }
