/* stylelint-disable no-descending-specificity */
.rainbow-table_container {
  position: relative;
  height: 100%; }

.rainbow-table_container--scrollable-x {
  background-color: #f4f6f9;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  overflow-x: auto;
  padding-top: 44px;
  position: relative;
  -webkit-overflow-scrolling: touch; }

.rainbow-table_container--scrollable-y {
  max-height: 100%;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.rainbow-table {
  table-layout: fixed;
  border-collapse: separate; }

.rainbow-table_body {
  background-color: #fff; }
