.rainbow-avatar {
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 2rem;
  line-height: 1;
  overflow: hidden;
  vertical-align: middle;
  width: 2rem; }
  .rainbow-avatar:hover, .rainbow-avatar:focus {
    color: currentColor; }

.rainbow-avatar--x-small {
  font-size: 0.625rem;
  height: 1.25rem;
  width: 1.25rem; }

.rainbow-avatar--small {
  font-size: 0.625rem;
  height: 1.5rem;
  width: 1.5rem; }

.rainbow-avatar--medium {
  font-size: 1rem;
  height: 2.5rem;
  width: 2.5rem; }

.rainbow-avatar--large {
  font-size: 1.125rem;
  height: 3.2rem;
  width: 3.2rem;
  font-weight: 300;
  line-height: 1.25; }

.rainbow-avatar_initials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  background-color: #01b6f5;
  color: #fff;
  text-shadow: 0 0 2px 0 #a4a7b5; }
  .rainbow-avatar_initials:hover {
    color: #fff;
    cursor: default; }

.rainbow-avatar_initials[title] {
  cursor: default;
  text-decoration: none; }

.rainbow-avatar_initials--inverse {
  background-color: #e3e5ed;
  color: #576574;
  text-shadow: none; }
  .rainbow-avatar_initials--inverse:hover {
    color: #576574;
    cursor: default; }
