@import './../../styles/colors.scss';
@import './../../styles/shadows.scss';

@mixin variant-size($font-size, $size) {
    font-size: $font-size;
    height: $size;
    width: $size;
}

.rainbow-avatar {
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 2rem;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
    width: 2rem;

    &:hover,
    &:focus {
        color: currentColor;
    }
}

.rainbow-avatar_x-small {
    @include variant-size(0.625rem, 1.25rem);
}

.rainbow-avatar_small {
    @include variant-size(0.625rem, 1.5rem);
}

.rainbow-avatar_medium {
    @include variant-size(1rem, 2.5rem);
}

.rainbow-avatar_large {
    @include variant-size(1.125rem, 3.2rem);

    font-weight: 300;
    line-height: 1.25;
}

.rainbow-avatar__initials {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    background-color: $color-brand;
    color: #fff;
    text-shadow: $shadow-1;

    &:hover {
        color: #fff;
        cursor: default;
    }
}

.rainbow-avatar__initials[title] {
    cursor: default;
    text-decoration: none;
}

.rainbow-avatar__initials_inverse {
    background-color: $color-gray-2;
    color: $color-gray-4;
    text-shadow: none;

    &:hover {
        color: $color-gray-4;
        cursor: default;
    }
}
