.rainbow-breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.rainbow-breadcrumbs > .rainbow-breadcrumb:last-child > .rainbow-breadcrumb-anchor {
  font-weight: 900;
  color: #061c3f;
  pointer-events: none; }

.rainbow-breadcrumbs > .rainbow-breadcrumb:not(:last-child)::after {
  margin: 0 10px;
  content: '>'; }
  .rainbow-breadcrumbs > .rainbow-breadcrumb:not(:last-child)::after :hover {
    color: #576574; }
