.rainbow-picklist {
    position: relative;
    display: flex;
    flex-direction: column;
    outline: none;
    cursor: pointer;

    &:hover, &:focus {
        outline: 0;
    }
}

.rainbow-picklist_dropdown {
    position: absolute;
    z-index: 2000;
    left: 50%;
    float: left;
    width: 100%;
    max-height: 286px;
    overflow: auto;
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
    border: solid 1px #e3e5ed;
    border-radius: 0.875rem;
    padding: 0.5rem 0;
    font-size: 0.75rem;
    background: white;
    box-shadow: 0 2px 4px 0 #e3e5ed;
    transform: translateX(-50%);
    display: none;
    opacity: 0;
    transition: opacity 0.1s linear, visibility 0.1s linear;
    visibility: hidden;
    top: 100%;
}

.rainbow-picklist.rainbow-picklist--open .rainbow-picklist_dropdown {
    display: block;
    opacity: 1;
    transition: opacity 0.1s linear, visibility 0.1s linear;
    visibility: visible;
}

.rainbow-picklist.rainbow-picklist--open .rainbow-button-icon {
    box-shadow: 0 0 2px #01b6f5;
}

.rainbow-picklist_dropdown--left {
    left: 0;
    transform: translateX(0);
}

.rainbow-picklist_dropdown--right {
    left: auto;
    right: 0;
    transform: translateX(0);
}

.rainbow-picklist_dropdown--bottom {
    top: auto;
    bottom: 100%;
}

.rainbow-picklist_dropdown--bottom-right {
    top: auto;
    bottom: 100%;
    left: auto;
    right: 0;
    transform: translateX(0);
}

.rainbow-picklist_dropdown--bottom-left {
    top: auto;
    bottom: 100%;
    left: 0;
    transform: translateX(0);
}

.rainbow-picklist_dropdown--xx-small {
    min-width: 6rem;
}

.rainbow-picklist_dropdown--x-small {
    min-width: 12rem;
}

.rainbow-picklist_dropdown--small {
    min-width: 15rem;
}

.rainbow-picklist_dropdown--medium {
    min-width: 20rem;
}

.rainbow-picklist_dropdown--large {
    min-width: 25rem;
    max-width: 512px;
}

.rainbow-picklist_dropdown--loading-box {
    padding: 2rem;
    height: 3rem;
    width: 3rem;
}

.rainbow-picklist_inner-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border: 1px solid #e3e5ed;
    border-radius: 12rem;
    padding: 0 1rem 0 1rem;
    line-height: 2.5rem;
    height: 2.5rem;
    color: #061c3f;
    font-size: 1rem;
}

.rainbow-picklist_inner-container:hover {
    border: solid 1px #e3e5ed;
    background-color: #fafcff;
}

.rainbow-picklist_inner-container::after {
    content: '';
    position: absolute;
    display: block;
    right: 1rem;
    bottom: 45%;
    pointer-events: none;
    width: 0.45rem;
    height: 0.45rem;
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    transform: rotate(135deg);
    vertical-align: top;
    color: #01b6f5;
}

.rainbow-picklist_inner-container[disabled]::after {
    color: #e3e5ed;
}

.rainbow-picklist_inner-container .rainbow-picklist_icon {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rainbow-picklist_inner-container .rainbow-picklist_icon svg {
    width: 16px !important;
    height: 16px !important;
    font-size: 16px !important;
}

.rainbow-picklist_options-menu {
    position: absolute;
    z-index: 2000;
    margin-top: 0.2rem;
    margin-bottom: 0.125rem;
    border: solid 1px #e3e5ed;
    border-radius: 12px;
    padding: 0.5rem 0;
    font-size: 0.75rem;
    background-color: white;
    box-shadow: 0 2px 4px 0 #e3e5ed;
    top: 100%;
    width: 100%;
    overflow: hidden;
}

.rainbow-picklist_input {
    outline: none;
    cursor: pointer;
    border-radius: 12rem;
    display: inline-block;
    line-height: 2.5rem;
    height: 2.5rem;
    border-color: transparent;
    background-color: transparent;
    font-size: 1rem;
    color: #061c3f;
    font-weight: 400;
    width: 100%;
    position: absolute;
    left: 0;
    padding: 0 2rem 0 1rem;
}

.rainbow-picklist_input--icon {
    padding-left: 2.5rem !important;
}

.rainbow-picklist_inner-container:focus-within {
    outline: 0;
    line-height: 2.5rem;
    border: 1px #01b6f5 solid;
    background-color: white;
    box-shadow: 0 0 2px #01b6f5;
    z-index: 0;
}

.rainbow-picklist_input[disabled] {
    background-color: #f4f6f9;
    border-color: #e3e5ed;
    color: #e3e5ed;
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rainbow-picklist_input[disabled]:focus, .rainbow-picklist_input[disabled]:active {
    box-shadow: none;
    background-color: #f4f6f9;
    border: 1px #e3e5ed solid;
    padding-left: 1rem;
}
