@import '../../styles/colors';
@import '../../styles/font-sizes';
@import '../../styles/border-radius';

.rainbow-picklist_dropdown {
    position: absolute;
    overflow: hidden;
    z-index: 2000;
    left: 50%;
    float: left;
    width: 100%;
    max-height: 286px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border: solid 1px #e3e5ed;
    border-radius: 0.875rem;
    padding: 0.5rem 0;
    font-size: 0.75rem;
    background: white;
    box-shadow: 0 2px 4px 0 #e3e5ed;
    transform: translateX(-50%);
    display: none;
    opacity: 0;
    transition: opacity 0.1s linear, visibility 0.1s linear;
    visibility: hidden;
    top: 100%;
}

.rainbow-picklist_options-menu {
    position: absolute;
    z-index: 2000;
    margin-top: 0.2rem;
    margin-bottom: 0.125rem;
    border: solid 1px #e3e5ed;
    border-radius: 12px;
    padding: 0.5rem 0;
    font-size: 0.75rem;
    background-color: white;
    box-shadow: 0 2px 4px 0 #e3e5ed;
    top: 100%;
    width: 100%;
    overflow: hidden;
}

.rainbow-picklist {
    position: relative;
    display: flex;
    flex-direction: column;
    outline: none;
    cursor: pointer;

    &:hover, &:focus {
        outline: 0;
    }

    &.rainbow-picklist--open {
        .rainbow-picklist_dropdown {
            display: block;
            opacity: 1;
            transition: opacity 0.1s linear, visibility 0.1s linear;
            visibility: visible;

            & > ul {
                overflow-y: auto;
            }
        }

        .rainbow-button-icon {
            box-shadow: 0 0 2px #01b6f5;
        }
    }
}

.rainbow-picklist_dropdown--loading-box {
    padding: 2rem;
    height: 3rem;
    width: 3rem;
}

.rainbow-picklist_input {
    background-color: white;
    border: 1px solid $color-gray-3;
    border-radius: $border-radius-2;
    transition: all 0.1s linear;
    display: inline-block;
    padding: 0 1rem 0 1rem;
    width: 100%;
    line-height: 2.5rem;
    height: 2.5rem;
    color: $color-dark-1;
    font-size: $font-size-text-large;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 400;

    &[type='text']::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    }

    &[disabled] {
        background-color: $color-gray-1;
        border-color: $color-gray-2;
        color: $color-gray-2;
        cursor: not-allowed;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:focus,
        &:active {
            box-shadow: none;
            background-color: #f4f6f9;
            border: 1px #e3e5ed solid;
            padding-left: 1rem;
        }
    }
}

.rainbow-picklist_inner-container {
    position: relative;

    .rainbow-picklist_icon {
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 16px !important;
            height: 16px !important;
            font-size: 16px !important;
        }
    }

    .rainbow-picklist_input--icon {
        padding-left: 2.5rem !important;
    }

    .rainbow-picklist_input {
        right: 0.8rem;
        padding-right: 2.35rem;
    }

    .rainbow-picklist_input-dropdown-indicator {
        height: 100%;
        right: 1rem;
        position: absolute;
        line-height: 1;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            content: '';
            position: absolute;
            display: block;
            bottom: 45%;
            pointer-events: none;
            width: 0.45rem;
            height: 0.45rem;
            border-style: solid;
            border-width: 0.15em 0.15em 0 0;
            transform: rotate(135deg);
            color: #01b6f5;
        }
    }
}

.rainbow-picklist_input-label {
    color: $color-gray-4;
    font-size: $font-size-text-medium;
    line-height: 1.5;
    padding-bottom: 0.125rem;
    align-self: center;

    &:empty {
        margin: 0;
    }
}

.rainbow-picklist_input-label-read-only {
    align-self: flex-start;
}

.rainbow-picklist_input-label--hide {
    position: absolute !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    text-transform: none !important;
    white-space: nowrap !important;
}

.rainbow-picklist_dropdown-arrow-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1.125rem;
    position: fixed;
    width: 100%;
    z-index: 10;
    background: white;

    &::after {
        content: '';
        position: absolute;
        display: block;
        left: 50%;
        pointer-events: none;
        width: 0.5rem;
        height: 0.5rem;
        border-style: solid;
        color: $color-gray-4;
        transform: rotate(135deg);
    }

    &.rainbow-picklist_dropdown-arrow-up {
        top: 0;
        margin-top: 0.5rem;

        &::after {
            border-width: 0 0 0.15em 0.15em;
            top: 50%;
        }
    }

    &.rainbow-picklist_dropdown-arrow-down {
        bottom: 0;
        margin-bottom: 0.5rem;

        &::after {
            border-width: 0.15em 0.15em 0 0;
        }
    }
}

.rainbow-picklist--readonly {
    display: flex;

    .rainbow-picklist_input {
        box-shadow: none;
        background-color: transparent;
        border: 2px solid transparent;
        font-size: $font-size-text-large;
        outline: 0;
        color: $color-dark-1;
        cursor: not-allowed;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding-left: 0;
        padding-right: 0;

        &::-ms-expand {
            display: none;
        }

        &:focus,
        &:active {
            padding-left: 0;
            padding-right: 0;
            outline: 0;
            box-shadow: none;
            border-color: transparent;
            background-color: transparent;
        }

        &::placeholder {
            color: $color-gray-3;
        }
    }
}
