/* stylelint-disable no-descending-specificity */
.rainbow-picklist_dropdown {
  position: absolute;
  overflow: hidden;
  z-index: 2000;
  left: 50%;
  float: left;
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border: solid 1px #e3e5ed;
  border-radius: 0.875rem;
  padding: 1rem 0;
  font-size: 0.75rem;
  background: white;
  box-shadow: 0 2px 4px 0 #e3e5ed;
  transform: translateX(-50%);
  display: none;
  opacity: 0;
  transition: opacity 0.1s linear, visibility 0.1s linear;
  visibility: hidden;
  top: 100%; }

.rainbow-picklist_options-menu {
  position: absolute;
  z-index: 2000;
  margin-top: 0.2rem;
  margin-bottom: 0.125rem;
  border: solid 1px #e3e5ed;
  border-radius: 12px;
  padding: 1rem 0;
  font-size: 0.75rem;
  background-color: white;
  box-shadow: 0 2px 4px 0 #e3e5ed;
  top: 100%;
  width: 100%;
  overflow: hidden; }

.rainbow-picklist {
  position: relative;
  display: flex;
  flex-direction: column;
  outline: none;
  cursor: pointer; }
  .rainbow-picklist:hover, .rainbow-picklist:focus {
    outline: 0; }
  .rainbow-picklist.rainbow-picklist--open .rainbow-picklist_dropdown {
    display: block;
    opacity: 1;
    transition: opacity 0.1s linear, visibility 0.1s linear;
    visibility: visible; }
    .rainbow-picklist.rainbow-picklist--open .rainbow-picklist_dropdown > ul {
      overflow-y: auto; }
  .rainbow-picklist.rainbow-picklist--open .rainbow-button-icon {
    box-shadow: 0 0 2px #01b6f5; }

.rainbow-picklist_dropdown--loading-box {
  padding: 2rem;
  height: 3rem;
  width: 3rem; }

.rainbow-picklist_input {
  background-color: white;
  box-sizing: border-box;
  border: 1px solid #a4a7b5;
  border-radius: 12rem;
  transition: all 0.1s linear;
  transition: padding 0ms;
  display: inline-block;
  padding: 0 2rem 0 1rem;
  width: 100%;
  line-height: 2.5rem;
  height: 2.5rem;
  color: #061c3f;
  font-size: 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 400; }
  .rainbow-picklist_input[type='text']::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .rainbow-picklist_input:focus, .rainbow-picklist_input:active {
    outline: 0;
    line-height: 2.5rem;
    padding-left: 0.9375rem;
    border: 2px #01b6f5 solid;
    background-color: white;
    box-shadow: 0 0 2px #01b6f5;
    z-index: 0; }
  .rainbow-picklist_input[disabled] {
    background-color: #f4f6f9;
    border-color: #e3e5ed;
    color: #e3e5ed;
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .rainbow-picklist_input[disabled]:focus, .rainbow-picklist_input[disabled]:active {
      box-shadow: none;
      background-color: #f4f6f9;
      border: 1px #e3e5ed solid;
      padding-left: 1rem; }
  .rainbow-picklist_input::placeholder {
    color: #576574;
    font-size: 1rem; }

.rainbow-picklist_inner-container {
  position: relative; }
  .rainbow-picklist_inner-container .rainbow-picklist_icon {
    width: 2.5rem;
    height: 100%;
    position: absolute;
    top: 0;
    line-height: 2.5rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center; }
  .rainbow-picklist_inner-container .rainbow-picklist_input--icon {
    padding-left: 2.5rem !important; }
  .rainbow-picklist_inner-container .rainbow-picklist_input {
    right: 0.8rem;
    padding-right: 2.35rem; }
  .rainbow-picklist_inner-container .rainbow-picklist_input-dropdown-indicator {
    height: 100%;
    right: 1.2rem;
    position: absolute;
    line-height: 1;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center; }
    .rainbow-picklist_inner-container .rainbow-picklist_input-dropdown-indicator::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 45%;
      pointer-events: none;
      width: 0.45rem;
      height: 0.45rem;
      border-style: solid;
      border-width: 0.15em 0.15em 0 0;
      transform: rotate(135deg);
      color: #01b6f5; }
    .rainbow-picklist_inner-container .rainbow-picklist_input-dropdown-indicator.rainbow-picklist_input-dropdown-indicator--disabled::after {
      color: #e3e5ed; }

.rainbow-picklist_input-label {
  color: #576574;
  font-size: 0.875rem;
  line-height: 1.5;
  padding-bottom: 0.125rem;
  align-self: center; }
  .rainbow-picklist_input-label:empty {
    margin: 0; }

.rainbow-picklist_input-label-read-only {
  align-self: flex-start; }

.rainbow-picklist_input-label--hide {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  text-transform: none !important;
  white-space: nowrap !important; }

.rainbow-picklist_dropdown-arrow-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 1rem;
  position: fixed;
  width: 100%;
  z-index: 10;
  background: white; }
  .rainbow-picklist_dropdown-arrow-button::after {
    content: '';
    position: absolute;
    display: block;
    left: 50%;
    pointer-events: none;
    width: 0.45rem;
    height: 0.45rem;
    border-style: solid;
    color: #a4a7b5;
    transform: rotate(135deg); }
  .rainbow-picklist_dropdown-arrow-button.rainbow-picklist_dropdown-arrow-up {
    top: 0;
    margin-top: 0.2rem; }
    .rainbow-picklist_dropdown-arrow-button.rainbow-picklist_dropdown-arrow-up::after {
      border-width: 0 0 0.15em 0.15em;
      top: 40%; }
  .rainbow-picklist_dropdown-arrow-button.rainbow-picklist_dropdown-arrow-down {
    bottom: 0;
    margin-bottom: 0.2rem; }
    .rainbow-picklist_dropdown-arrow-button.rainbow-picklist_dropdown-arrow-down::after {
      border-width: 0.15em 0.15em 0 0; }

.rainbow-picklist--readonly {
  display: flex; }
  .rainbow-picklist--readonly .rainbow-picklist_input {
    box-shadow: none;
    background-color: transparent;
    border: 2px solid transparent;
    font-size: 1rem;
    outline: 0;
    color: #061c3f;
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 0;
    padding-right: 0; }
    .rainbow-picklist--readonly .rainbow-picklist_input::-ms-expand {
      display: none; }
    .rainbow-picklist--readonly .rainbow-picklist_input:focus, .rainbow-picklist--readonly .rainbow-picklist_input:active {
      padding-left: 0;
      padding-right: 0;
      outline: 0;
      box-shadow: none;
      border-color: transparent;
      background-color: transparent; }
    .rainbow-picklist--readonly .rainbow-picklist_input::placeholder {
      color: #a4a7b5;
      font-weight: 300;
      font-size: 1rem; }

.rainbow-picklist_input-error {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  align-self: center;
  color: #fe4849; }

.rainbow-picklist--error .rainbow-picklist_input {
  background-color: white;
  border: 2px #fe4849 solid;
  padding-left: 1rem;
  background-clip: padding-box;
  line-height: 2.5rem; }
  .rainbow-picklist--error .rainbow-picklist_input:focus {
    box-shadow: 0 0 2px #fe4849; }

.rainbow-picklist--error .rainbow-picklist_icon {
  fill: #fe4849;
  color: #fe4849; }
