.lang-jsx {
    color: #a1a7b0;
}

.hljs-tag {
    color: #4cb6c4;
}

.hljs-name {
    color: #df6a72;
}

.hljs-attr {
    color: #c574dd;
}

.hljs-string {
    color: #96C571;
}

.hljs-keyword {
    color: #4cb6c4;
}

<<<<<<< Updated upstream
.react-rainbow-styleguide-container {
=======
.react-rainbow_styleguide-container {
>>>>>>> Stashed changes
    background-color: #fff;
    flex-wrap: wrap;
}

<<<<<<< Updated upstream
.react-rainbow-sidebar {
=======
.react-rainbow_sidebar {
>>>>>>> Stashed changes
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 11000;
    box-shadow: 0 1px 2px 0 #e3e5ed;
}

<<<<<<< Updated upstream
.react-rainbow-main-content {
=======
.react-rainbow_main-content {
>>>>>>> Stashed changes
    background-color: #f4f6f9;
    min-height: 100vh;
    width: calc(100vw - 250px);
    padding: 80px 64px 24px 64px;
    margin-left: 250px;
}

@media (max-width: 800px) {
    .react-rainbow-sidebar {
        width: 200px;
    }
    .react-rainbow-main-content {
        width: calc(100vw - 200px);
        padding: 80px 24px 24px 24px;
        margin-left: 200px;
    }
}    

@media (max-width: 600px) {
    .react-rainbow-styleguide-container {
        flex-direction: column-reverse;
    }
    .react-rainbow-sidebar {
        width: 100vw;
        position: initial;
    }
    .react-rainbow-main-content {
        width: 100vw;
        padding: 80px 16px 16px 16px;
        margin-left: 0;
    }
}
