.lang-jsx {
    color: #a1a7b0;
}

.hljs-tag {
    color: #4cb6c4;
}

.hljs-name {
    color: #df6a72;
}

.hljs-attr {
    color: #c574dd;
}

.hljs-string {
    color: #96C571;
}

.hljs-keyword {
    color: #4cb6c4;
}

.react-rainbow-styleguide-container {
    background-color: #fff;
    flex-wrap: wrap;
}

.react-rainbow-styleguide-sidebar {
    width: 87px;
    height: calc(100vh - 68px);
    position: fixed;
    z-index: 999999;
    margin-top: 68px;
    box-shadow: 1px 0 12px 0 #f4f6f9;
    padding-top: 24px;
    border-right: 1px solid #f4f6f9;
}

.react-rainbow-main-content {
    background-color: white;
    min-height: calc(100vh - 68px);
    width: calc(100vw - 87px);
    margin-top: 68px;
    margin-left: 87px;
}

.rsg--root-3 {
    margin-bottom: unset !important;
}

@media (max-width: 800px) {
    .react-rainbow-main-content {
        width: calc(100vw - 87px);
        margin-left: 87px;
    }
}

@media (max-width: 600px) {
    .react-rainbow-styleguide-container {
        flex-direction: column-reverse;
    }
    .react-rainbow-styleguide-sidebar {
        width: 100vw;
        position: initial;
    }
    .react-rainbow-main-content {
        width: 100vw;
        margin-left: 0;
    }
}
