.lang-jsx {
    color: #a1a7b0;
}

.hljs-tag {
    color: #4cb6c4;
}

.hljs-name {
    color: #df6a72;
}

.hljs-attr {
    color: #c574dd;
}

.hljs-string {
    color: #96C571;
}

.hljs-keyword {
    color: #4cb6c4;
}

.react-rainbow-styleguide-container {
    background-color: #fff;
    flex-wrap: wrap;
}

.react-rainbow-styleguide-sidebar {
    width: 87px;
    height: calc(100vh - 68px);
    position: fixed;
    z-index: 3000;
    margin-top: 68px;
    padding-top: 24px;
    border-right: 1px solid #f4f6f9;
}

.react-rainbow-main-content {
    background-color: white;
    min-height: calc(100vh - 68px);
    width: calc(100vw - 87px);
    margin-top: 68px;
    margin-left: 87px;
}

.rsg--root-3 {
    margin-bottom: unset !important;
}

.gitter-chat-embed {
    z-index: 6500;
}

.react-rainbow-styleguide-open-chat-button {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 64px;
    height: 64px;
    z-index: 6000;
}

@media (max-width: 800px) {
    .react-rainbow-main-content {
        width: calc(100vw - 87px);
        margin-left: 87px;
    }

    .react-rainbow-styleguide-open-chat-button {
        bottom: 12px;
        right: 12px;
    }

    .react-rainbow-styleguide-sidebar {
        position: fixed;
        margin-top: 0;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 100000;
    }

    .react-rainbow-styleguide_backdrop {
        width: 100vw;
        height: 100vh;
        background-color: rgba(82, 95, 127, 0.4);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        display: none;
        will-change: opacity;
        transform: translateZ(0);
        transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        z-index: 99999;
        overflow: hidden;
    }

    .react-rainbow-styleguide_show-content {
        display: none;
    }
}

@media (max-width: 600px) {
    .react-rainbow-styleguide-container {
        flex-direction: column-reverse;
    }

    .react-rainbow-main-content {
        width: 100vw;
        margin-left: 0;
    }
}
