.lang-jsx {
    color: #a1a7b0;
}

.hljs-tag {
    color: #4cb6c4;
}

.hljs-name {
    color: #df6a72;
}

.hljs-attr {
    color: #c574dd;
}

.hljs-string {
    color: #96C571;
}

.hljs-keyword {
    color: #4cb6c4;
}

.slds-react-styleguide-container {
    background-color: #fff;
}

.react-slds-sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    overflow-y: auto;
}

.react-slds-main-content {
    background-color: #f4f6f9;
    min-height: 100vh;
    width: calc(100vw - 250px);
    padding: 24px 64px;
    margin-left: 250px;
}

@media (max-width: 800px) {
    .react-slds-sidebar {
        width: 200px;
    }
    .react-slds-main-content {
        width: calc(100vw - 200px);
        padding: 24px;
        margin-left: 200px;
    }
}

@media (max-width: 600px) {
    .slds-react-styleguide-container {
        flex-direction: column-reverse;
    }
    .react-slds-sidebar {
        width: 100vw;
        position: initial;
    }
    .react-slds-main-content {
        width: 100vw;
        padding: 16px;
        margin-left: 0;
    }
}
