.lang-jsx {
    color: #a1a7b0;
}

.hljs-tag {
    color: #4cb6c4;
}

.hljs-name {
    color: #df6a72;
}

.hljs-attr {
    color: #c574dd;
}

.hljs-string {
    color: #96C571;
}

.hljs-keyword {
    color: #4cb6c4;
}

.react-rainbow-styleguide-container {
    background-color: #fff;
    flex-wrap: wrap;
}

.react-rainbow-sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 11000;
    box-shadow: 0 1px 2px 0 #e3e5ed;
}

.react-rainbow-main-content {
    background-color: white;
    min-height: 100vh;
    width: calc(100vw - 250px);
    padding-top: 68px;
    margin-left: 250px;
}

.rsg--root-3 {
    margin-bottom: unset !important;
}

@media (max-width: 800px) {
    .react-rainbow-sidebar {
        width: 200px;
    }
    .react-rainbow-main-content {
        width: calc(100vw - 200px);
        margin-left: 200px;
    }
}

@media (max-width: 600px) {
    .react-rainbow-styleguide-container {
        flex-direction: column-reverse;
    }
    .react-rainbow-sidebar {
        width: 100vw;
        position: initial;
    }
    .react-rainbow-main-content {
        width: 100vw;
        margin-left: 0;
    }
}
