.rainbow-accordion-section_container {
  border-top: 1px solid #e3e5ed;
  list-style: none; }
  .rainbow-accordion-section_container:first-child {
    border-top: 0; }

.rainbow-accordion-section_summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.875rem 1rem; }

.rainbow-accordion-section_summary-heading {
  font-size: 1rem;
  line-height: 1.25;
  color: #061c3f;
  width: 100%; }

.rainbow-accordion-section_content {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.57;
  color: #576574;
  padding-left: 1rem;
  padding-right: 2rem;
  padding-bottom: 0.875rem; }

.rainbow-accordion-section_content--collapsed {
  display: none; }

.rainbow-accordion-section_right-icon {
  transform: rotate(0deg);
  fill: #01b6f5;
  transition: transform 0.15s linear;
  -webkit-transition: transform 0.15s linear;
  -moz-transition: transform 0.15s linear;
  -ms-transition: transform 0.15s linear;
  -o-transition: transform 0.15s linear; }

.rainbow-accordion-section_right-icon--expanded {
  transform: rotate(-180deg);
  transition: transform 0.15s linear;
  -webkit-transition: transform 0.15s linear;
  -moz-transition: transform 0.15s linear;
  -ms-transition: transform 0.15s linear;
  -o-transition: transform 0.15s linear; }

.rainbow-accordion-section_container--disabled {
  pointer-events: none; }
  .rainbow-accordion-section_container--disabled .rainbow-accordion-section_summary-button-heading:focus {
    text-decoration-line: none;
    color: unset; }
  .rainbow-accordion-section_container--disabled .rainbow-accordion-section_summary-heading {
    color: #e3e5ed; }

.rainbow-accordion-section_right-icon-color--disabled {
  fill: #e3e5ed; }

.rainbow-accordion-section_summary-icon {
  margin-right: 0.5rem; }
