@import "../../styles/colors";

@mixin background-height($background, $height) {
    display: block;
    background: $background;
    height: $height;
}

.rainbow-progress-bar {
    @include background-height($color-brand-light, 0.5rem);

    width: 100%;
    border: 0;
    position: relative;
    border-radius: 0.5rem;
}

.rainbow-progress-bar_success {
    background: $color-success-light;
}

.rainbow-progress-bar_x-small {
    height: 0.125rem;
}

.rainbow-progress-bar_small {
    height: 0.25rem;
}

.rainbow-progress-bar_medium {
    height: 0.625rem;
}

.rainbow-progress-bar_large {
    height: 1rem;
}

.rainbow-progress-bar__value {
    @include background-height($color-brand, 100%);
}

.rainbow-progress-bar__value_success {
    background: $color-success;
}

.rainbow-progress-bar .rainbow-progress-bar__value {
    border-radius: 1rem;
}
