.rainbow-progress-bar {
  display: block;
  background: rgba(0, 184, 245, 0.2);
  height: 0.5rem;
  width: 100%;
  border: 0;
  position: relative;
  border-radius: 0.5rem; }

.rainbow-progress-bar--success {
  background: rgba(29, 233, 182, 0.2); }

.rainbow-progress-bar--x-small {
  height: 0.125rem; }

.rainbow-progress-bar--small {
  height: 0.25rem; }

.rainbow-progress-bar--medium {
  height: 0.625rem; }

.rainbow-progress-bar--large {
  height: 1rem; }

.rainbow-progress-bar_value {
  display: block;
  background: #01b6f5;
  height: 100%; }

.rainbow-progress-bar_value--success {
  background: #1de9b6; }

.rainbow-progress-bar .rainbow-progress-bar_value {
  border-radius: 1rem; }
