.rainbow-progress-bar {
  display: block;
  width: 100%;
  height: 0.5rem;
  background: rgba(0, 184, 245, 0.2);
  border: 0;
  position: relative;
  border-radius: 0.5rem; }

.rainbow-progress-bar_success {
  background: rgba(29, 233, 182, 0.2); }

.rainbow-progress-bar_x-small {
  height: 0.125rem; }

.rainbow-progress-bar_small {
  height: 0.25rem; }

.rainbow-progress-bar_medium {
  height: 0.625rem; }

.rainbow-progress-bar_large {
  height: 1rem; }

.rainbow-progress-bar__value {
  display: block;
  background: #01b6f5;
  height: 100%; }

.rainbow-progress-bar__value_success {
  background: #1de9b6; }

.rainbow-progress-bar .rainbow-progress-bar__value {
  border-radius: 0.5rem; }
