@import "../../styles/colors";

.rainbow-progress-bar {
    display: block;
    width: 100%;
    height: 0.5rem;
    background: $color-brand-light;
    border: 0;
    position: relative;
}

.rainbow-progress-bar_success {
    background: $color-success-light;
}

.rainbow-progress-bar_x-small {
    height: 0.125rem;
}

.rainbow-progress-bar_small {
    height: 0.25rem;
}

.rainbow-progress-bar_medium {
    height: 0.625rem;
}

.rainbow-progress-bar_large {
    height: 1rem;
}

.rainbow-progress-bar_circular {
    border-radius: 0.5rem;
}

.rainbow-progress-bar__value {
    display: block;
    background: $color-brand;
    height: 100%;
}

.rainbow-progress-bar__value_success {
    background: $color-success;
}

.rainbow-progress-bar_circular .rainbow-progress-bar__value {
    border-radius: 0.5rem;
}

.rainbow-progress-bar_vertical {
    height: 100%;
    width: 0.5rem;
}

.rainbow-progress-bar_vertical.rainbow-progress-bar_x-small {
    width: 0.125rem;
}

.rainbow-progress-bar_vertical.rainbow-progress-bar_small {
    width: 0.25rem;
}

.rainbow-progress-bar_vertical.rainbow-progress-bar_medium {
    width: 0.625rem;
}

.rainbow-progress-bar_vertical.rainbow-progress-bar_large {
    width: 1rem;
}
