@import './../../styles/colors.scss';
@import './../../styles/shadows.scss';

.rainbow-button-menu {
    position: relative;
    display: inline-block;

    &:hover,
    &:focus {
        outline: 0;
    }
}

.rainbow-button-menu_dropdown {
    position: absolute;
    z-index: 7000;
    left: 50%;
    float: left;
    min-width: 6rem;
    max-width: 20rem;
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
    border: solid 1px $color-gray-2;
    border-radius: 0.875rem;
    padding: 0.5rem 0;
    font-size: 0.75rem;
    background: white;
    box-shadow: $shadow-2;
    transform: translateX(-50%);
    display: none;
    opacity: 0;
    transition: opacity 0.1s linear, visibility 0.1s linear;
    visibility: hidden;
    top: 100%;
}

.rainbow-button-menu.rainbow-button-menu--open {
    .rainbow-button-menu_dropdown {
        display: block;
        opacity: 1;
        transition: opacity 0.1s linear, visibility 0.1s linear;
        visibility: visible;
    }
}

.rainbow-button-menu_dropdown--left {
    left: 0;
    transform: translateX(0);
}

.rainbow-button-menu_dropdown--right {
    left: auto;
    right: 0;
    transform: translateX(0);
}

.rainbow-button-menu_dropdown--bottom {
    top: auto;
    bottom: 100%;
}

.rainbow-button-menu_dropdown--xx-small {
    min-width: 6rem;
}

.rainbow-button-menu_dropdown--x-small {
    min-width: 12rem;
}

.rainbow-button-menu_dropdown--small {
    min-width: 15rem;
}

.rainbow-button-menu_dropdown--medium {
    min-width: 20rem;
}

.rainbow-button-menu_dropdown--large {
    min-width: 25rem;
    max-width: 512px;
}

.rainbow-button-menu_dropdown--loading-box {
    padding: 2rem;
    height: 3rem;
    width: 3rem;
}
