/* stylelint-disable no-descending-specificity */
.rainbow-input_container {
  position: relative;
  display: flex;
  flex-direction: column; }

.rainbow-input_label {
  color: #576574;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 0.125rem;
  align-self: center; }
  .rainbow-input_label:empty {
    margin: 0; }

.rainbow-input_label-read-only {
  align-self: flex-start; }

.rainbow-input_help {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  align-self: center;
  color: #061c3f; }

.rainbow-input_icon-container {
  position: relative; }
  .rainbow-input_icon-container .rainbow-input_icon {
    fill: #a4a7b5;
    height: 100%;
    width: 22px;
    top: 0;
    position: absolute;
    line-height: 1;
    border: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center; }
    .rainbow-input_icon-container .rainbow-input_icon svg {
      width: 16px !important;
      height: 16px !important;
      font-size: 16px !important; }
  .rainbow-input_icon-container .rainbow-input_icon:not(button) {
    pointer-events: none; }

.rainbow-input {
  background-color: white;
  border: 1px solid #a4a7b5;
  border-radius: 12rem;
  width: 100%;
  transition: all 0.1s linear;
  display: inline-block;
  padding: 0 1rem 0 1rem;
  line-height: 2.5rem;
  height: 2.5rem;
  color: #061c3f;
  font-size: 1rem; }
  .rainbow-input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .rainbow-input:focus, .rainbow-input:active {
    outline: 0;
    line-height: 2.5rem;
    padding-left: 0.9375rem;
    border: 2px #01b6f5 solid;
    background-color: white;
    box-shadow: 0 0 2px #01b6f5; }
  .rainbow-input::placeholder {
    color: #a4a7b5;
    font-weight: 300;
    font-size: 1rem; }
  .rainbow-input[readonly] {
    padding-left: 0;
    padding-right: 0;
    border: 2px transparent solid;
    background-color: transparent;
    color: #061c3f;
    font-weight: 400; }
    .rainbow-input[readonly]:focus, .rainbow-input[readonly]:active {
      box-shadow: none;
      border: 2px transparent solid; }
  .rainbow-input[disabled] {
    background-color: #f4f6f9;
    border-color: #e3e5ed;
    color: #e3e5ed;
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .rainbow-input[disabled]:focus, .rainbow-input[disabled]:active {
      box-shadow: none;
      background-color: #f4f6f9;
      border: 1px #e3e5ed solid;
      padding-left: 1rem; }

.rainbow-input_error {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  align-self: center;
  color: #fe4849; }

.rainbow-input--error .rainbow-input {
  background-color: white;
  border: 2px #fe4849 solid;
  padding-left: 1rem;
  background-clip: padding-box;
  line-height: 2.5rem; }
  .rainbow-input--error .rainbow-input:focus {
    box-shadow: 0 0 2px #fe4849; }
  .rainbow-input--error .rainbow-input[readonly] {
    border-color: transparent;
    background-color: transparent;
    padding: 0; }
    .rainbow-input--error .rainbow-input[readonly]:focus, .rainbow-input--error .rainbow-input[readonly]:active {
      box-shadow: none;
      border: 2px transparent solid;
      padding: 0; }

.rainbow-input--error .rainbow-input_icon {
  fill: #fe4849;
  color: #fe4849; }

.rainbow-input--error .rainbow-input_icon-container.rainbow-input_icon--left .rainbow-input {
  padding-left: 2.35rem; }

.rainbow-input_label--hide {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  text-transform: none !important;
  white-space: nowrap !important; }

.rainbow-input[type="datetime"]:focus,
.rainbow-input[type="datetime"]:active,
.rainbow-input[type="date"]:focus,
.rainbow-input[type="date"]:active,
.rainbow-input[type="datetime-local"]:focus,
.rainbow-input[type="datetime-local"]:active,
.rainbow-input[type="time"]:focus,
.rainbow-input[type="time"]:active,
.rainbow-input[type="month"]:focus,
.rainbow-input[type="month"]:active,
.rainbow-input[type="week"]:focus,
.rainbow-input[type="week"]:active {
  line-height: 2.5rem; }

.rainbow-input_bare {
  background-color: transparent;
  border: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.75rem;
  color: #061c3f;
  line-height: 2.5rem; }
  .rainbow-input_bare:focus, .rainbow-input_bare:active {
    outline: 0;
    box-shadow: none; }

.rainbow-input_counter {
  text-align: center;
  padding: 0 3rem; }
  .rainbow-input_counter:focus, .rainbow-input_counter:active {
    padding: 0 3rem; }

.rainbow-input_icon--left .rainbow-input_icon {
  left: 0.8rem; }

.rainbow-input_icon--left .rainbow-input,
.rainbow-input_icon--left .rainbow-input_bare {
  padding-left: 2.35rem; }
  .rainbow-input_icon--left .rainbow-input:focus, .rainbow-input_icon--left .rainbow-input:active,
  .rainbow-input_icon--left .rainbow-input_bare:focus,
  .rainbow-input_icon--left .rainbow-input_bare:active {
    padding-left: 2.2875rem; }

.rainbow-input_icon--left .rainbow-input[readonly] {
  padding-left: 1.75rem; }

.rainbow-input--read-only.rainbow-input--error > .rainbow-input_icon--left .rainbow-input[readonly] {
  padding-left: 1.75rem; }

.rainbow-input--read-only > .rainbow-input_icon--left > .rainbow-input_icon {
  left: 0; }

.rainbow-input_icon--right .rainbow-input_icon {
  right: 0.8rem; }

.rainbow-input_icon--right .rainbow-input,
.rainbow-input_icon--right .rainbow-input_bare {
  right: 0.8rem;
  padding-right: 2.35rem; }

@supports (-webkit-overflow-scrolling: touch) {
  .rainbow-input[type="date"],
  .rainbow-input[type="datetime-local"],
  .rainbow-input[type="time"],
  .rainbow-input[type="week"],
  .rainbow-input[type="month"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    position: relative; }
    .rainbow-input[type="date"]::after,
    .rainbow-input[type="datetime-local"]::after,
    .rainbow-input[type="time"]::after,
    .rainbow-input[type="week"]::after,
    .rainbow-input[type="month"]::after {
      content: '';
      position: absolute;
      display: block;
      right: 1rem;
      bottom: 45%;
      pointer-events: none;
      width: 0.45rem;
      height: 0.45rem;
      border-style: solid;
      border-width: 0.15em 0.15em 0 0;
      transform: rotate(135deg);
      vertical-align: top;
      color: #061c3f; }
    .rainbow-input[type="date"][disabled]::after,
    .rainbow-input[type="datetime-local"][disabled]::after,
    .rainbow-input[type="time"][disabled]::after,
    .rainbow-input[type="week"][disabled]::after,
    .rainbow-input[type="month"][disabled]::after {
      color: #e3e5ed; } }
