@import "../../styles/paddings";
@import "../../styles/margins";
@import "../../styles/font-sizes";
@import "../../styles/colors";
@import "../../styles/shadows";
@import "../../styles/border-radius";

.rainbow-slider_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.rainbow-slider {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    padding: $padding-small 0;
}

.rainbow-slider_range {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    margin: 0.5rem 0;
    background: transparent;
    border-radius: $border-radius-3;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: $color-brand;
        border: 0;
        box-shadow: rgba(0, 0, 0, 0.16) 0 2px 3px;
        cursor: pointer;
        transition: background 0.15s ease-in-out;
        margin-top: calc(((1rem / 2) - (4px / 2)) * -1);
    }

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        background: $color-gray-2;
        border-radius: $border-radius-3;
    }

    &::-moz-range-thumb {
        -moz-appearance: none;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: $color-brand;
        border: 0;
        box-shadow: rgba(0, 0, 0, 0.16) 0 2px 3px;
        cursor: pointer;
        transition: background 0.15s ease-in-out;
    }

    &::-moz-range-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        background: $color-gray-2;
        border-radius: $border-radius-3;
    }

    &::-ms-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        border-radius: $border-radius-3;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    &::-ms-thumb {
        width: 1rem;
        height: 1rem;
        border-radius: $border-radius-2;
        background: $color-brand;
        border: 0;
        box-shadow: rgba(0, 0, 0, 0.16) 0 2px 3px;
        cursor: pointer;
        transition: background 0.15s ease-in-out;
    }

    &:focus {
        outline: 0;
    }

    &::-webkit-slider-thumb:hover {
        background-color: $color-brand-active;
    }

    &::-moz-range-thumb:hover {
        background-color: $color-brand-active;
    }

    &::-ms-thumb:hover {
        background-color: $color-brand-active;
    }

    &:focus::-webkit-slider-thumb {
        background-color: $color-brand;
        box-shadow: $shadow-outline;
    }

    &:active::-webkit-slider-thumb {
        background-color: $color-brand;
    }

    &:focus::-moz-range-thumb {
        background-color: $color-brand;
        box-shadow: $shadow-outline;
    }

    &:active::-moz-range-thumb {
        background-color: $color-brand;
    }

    &[disabled]::-webkit-slider-thumb {
        background-color: #ecebea;
        cursor: default;
    }

    &[disabled]::-webkit-slider-runnable-track {
        background-color: #ecebea;
        cursor: default;
    }

    &[disabled]::-moz-range-thumb {
        background-color: #ecebea;
        cursor: default;
    }

    &[disabled]::-moz-range-track {
        background-color: #ecebea;
    }

    &[disabled]::-ms-thumb {
        background-color: #ecebea;
        cursor: default;
    }

    &[disabled]::-ms-track {
        background-color: #ecebea;
        cursor: default;
    }
}

.rainbow-slider_value {
    padding: 0 0.5rem;
}

.rainbow-slider_error {
    font-size: $font-size-text-medium;
    margin-top: $margin-x-small;
    color: $color-error;
}
