.rainbow-import-records-flow_step-two-container {
  border-radius: 4px;
  border: dashed 1px #eaeef5;
  background-color: #fcfcfc;
  height: 260px;
  margin: 0 16px 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }

.rainbow-import-records-flow_step-two-container-drag-over {
  background-color: rgba(206, 198, 198, 0.7); }

.rainbow-import-records-flow_step-two_upload-file-label {
  background-color: #01b6f5;
  border: 1px solid #01b6f5;
  color: white;
  padding: 0 1rem;
  text-align: center;
  vertical-align: middle;
  transition: border 0.15s linear;
  align-items: center;
  display: inline-flex;
  font-size: 1rem;
  justify-content: center;
  position: relative;
  background-clip: border-box;
  border-radius: 100px;
  line-height: 2.375rem;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .rainbow-import-records-flow_step-two_upload-file-label:focus {
    outline: 0;
    box-shadow: 0 0 2px #01b6f5; }
  .rainbow-import-records-flow_step-two_upload-file-label:active {
    color: #009acf;
    transform: scale(0.95);
    transition: all 0.2s ease;
    text-decoration: none; }
  .rainbow-import-records-flow_step-two_upload-file-label:hover, .rainbow-import-records-flow_step-two_upload-file-label:focus, .rainbow-import-records-flow_step-two_upload-file-label:active {
    background-color: #009acf;
    border-color: #009acf;
    color: white; }

.rainbow-import-records-flow_step-two_upload-file-input {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  text-transform: none !important;
  white-space: nowrap !important; }

.rainbow-import-records-flow_step-two-upload-button-icon {
  fill: white;
  color: white;
  margin-right: 12px; }

.rainbow-import-records-flow_step-two-text {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #a0a0bc;
  position: absolute;
  bottom: 8px; }

.rainbow-import-records-flow_step-two-file-card {
  border-radius: 16px;
  border: solid 1px #f4f6f9;
  background-color: #fafbfc;
  padding: 20px 8px 20px 16px;
  display: flex;
  margin: 0 16px 32px 16px; }

.rainbow-import-records-flow_step-two-file-card-content {
  padding: 0 16px;
  width: 100%; }

.rainbow-import-records-flow_step-two-file-card-title {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.rainbow-import-records-flow_step-two-file-card-description {
  font-size: 14px;
  line-height: 1.2;
  color: #a0a0bc;
  margin-top: 8px; }

.rainbow-import-records-flow_step-two-file-card-delete-button-icon {
  margin-top: -12px; }

.rainbow-import-records-flow_step-two-file-card-delete-icon {
  fill: #01b6f5;
  color: #01b6f5; }

.rainbow-import-records-flow_step-two-spinner-container {
  position: relative;
  height: 256px; }
