.rainbow-sign-in_card-container {
    width: 450px;
}

.rainbow-sign-in_title {
    text-align: center;
    margin-bottom: 1.25rem;
}

.rainbow-sign-in_button-sign-in {
    width: 100%;
}

.rainbow-sign-in_logo {
    width: 48px;
    height: 48px;
}

.rainbow-sign-in_view-port {
    width: 100vw;
    height: 100vh;
}

