.rainbow-with-browser-pagination_pagination-container {
  margin: 0.75rem; }

.rainbow-with-browser-pagination_pagination--right {
  display: flex;
  justify-content: flex-end; }

.rainbow-with-browser-pagination_pagination--left {
  display: flex;
  justify-content: flex-start; }
