.with-browser-pagination_pagination-container {
  margin: 1rem; }

.with-browser-pagination_pagination--right {
  display: flex;
  justify-content: flex-end; }

.with-browser-pagination_pagination--left {
  display: flex;
  justify-content: flex-start; }
